.card .card-header {
  padding: 1rem !important;
  padding-bottom: 0 !important;
  align-items: center;
}

.problem-container {
  height: 100%;
}

/* Стили для блока с кодом */
pre {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 0.3rem;
  overflow-x: auto;
}

/* Дополнительные стили можно добавить по необходимости */
