<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader">
      <div class="btn-group" role="group">
        <button
          class="btn btn-primary-light btn-wave"
          type="button"
          (click)="goToPreviousProblem()"
          ngbTooltip="{{ 'PreviousProblem' | translate }}"
        >
          <kep-icon name="left"/>
        </button>
        <button
          class="btn btn-primary-light btn-wave"
          type="button"
          (click)="goToNextProblem()"
          ngbTooltip="{{ 'NextProblem' | translate }}"
        >
          <kep-icon name="right"/>
        </button>
      </div>
    </app-content-header>
    <section  class="mt-2">
      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
          <kep-card>
            <div class="card-header">
              <ul
                #navWithIcons="ngbNav"
                (activeIdChange)="activeIdChange($event)" [(activeId)]="activeId" [destroyOnHide]="false"
                class="nav-tabs" ngbNav>
                <li [ngbNavItem]="1">
                  <a class="nav-link" ngbNavLink>
                    <kep-icon size="small-4" color="primary" name="problem" type="duotone"/>
                    {{ 'Problem' | translate }}
                  </a>
                  <ng-template ngbNavContent>
                    <problem-description [problem]="problem"></problem-description>
                  </ng-template>
                </li>

                <li [ngbNavItem]="2">
                  <a class="nav-link" ngbNavLink>
                    <kep-icon size="small-4" color="warning" name="attempt" type="duotone"/>
                    {{ 'Attempts' | translate }}
                  </a>
                  <ng-template ngbNavContent>
                    <problem-attempts
                      (hackSubmitted)="activeId = 3;"
                      [problem]="problem"
                      [submitEvent]="submitEvent?.asObservable()"
                    >
                    </problem-attempts>
                  </ng-template>
                </li>

                @if (problem.hasCheckInput) {
                  <li [ngbNavItem]="3" destroyOnHide="true">
                    <a class="nav-link" ngbNavLink>
                      <kep-icon size="small-4" name="lock-2" color="dark" type="duotone"/>
                      {{ 'Hacks' | translate }}
                    </a>
                    <ng-template ngbNavContent>
                      <problem-hacks [problem]="problem"></problem-hacks>
                    </ng-template>
                  </li>
                }

                @if (studyPlanId) {
                  <li [ngbNavItem]="4">
                    <a ngbNavLink [routerLink]="Resources.StudyPlan | resourceById:studyPlanId">
                      <span [data-feather]="'activity'"></span> {{ 'StudyPlan' | translate }}
                    </a>
                    <ng-template ngbNavContent>
                      <problem-description [problem]="problem"></problem-description>
                    </ng-template>
                  </li>
                }

                @if (contestId) {
                  <li [ngbNavItem]="4">
                    <a ngbNavLink [routerLink]="Resources.ContestProblems | resourceById:contestId">
                      <kep-icon name="contest" color="primary" type="duotone"/>
                      {{ 'Contest' | translate }}
                    </a>
                    <ng-template ngbNavContent>
                      <problem-description [problem]="problem"></problem-description>
                    </ng-template>
                  </li>
                }
              </ul>

              @if (isAuthenticated) {
                <button (click)="codeEditorSidebarToggle()" class="btn btn-sm btn-primary">{{ 'Submit' | translate }}
                </button>
              }
            </div>

            <div class="card-footer">
              <div [ngbNavOutlet]="navWithIcons"></div>
            </div>
          </kep-card>

          @if (currentUser?.permissions.canCreateProblems) {
            <div class="card">
              <div class="card-header">
                <div class="card-title">
                  Check input
                </div>
              </div>
              <div class="card-body">
                <monaco-editor
                  [lang]="'py'"
                  class="mt-1"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="checkInput"
                ></monaco-editor>
                <div class="btn mt-2 btn-primary btn-sm" (click)="saveCheckInput()">Save</div>
              </div>
            </div>
          }
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12">
          <problem-sidebar [problem]="problem"></problem-sidebar>

          @if (isAuthenticated) {
            <problem-submit-card
              [availableLanguages]="problem.availableLanguages"
              [submitUrl]="'problems/' + problem.id + '/submit/'"
              (submitted)="onSubmit()"
            />
          }
        </div>

      </div>

      @if (problem && isAuthenticated) {
        <code-editor-modal
          [customClass]="'tour-step-2'"
          [uniqueName]="'problem-' + problem.id"
          [sampleTests]="problem.sampleTests"
          [submitUrl]="'problems/' + problem.id + '/submit/'"
          [problem]="problem"
          [answerForInputEnabled]="problem.hasSolution && problem.hasCheckInput"
          [availableLanguages]="problem.availableLanguages"
          (submittedEvent)="onSubmit()"></code-editor-modal>
      }
    </section>
  </div>
</div>

<tour-css></tour-css>
<ng-select-css></ng-select-css>

<!--<div class="col-lg-6 col-md-12 col-sm-12">-->
<!--  <kep-card>-->
<!--    <div class="card-header p-2">-->
<!--      <div class="card-title">-->
<!--        <kep-icon name="square-brackets" color="primary" type="duotone"/>-->
<!--        {{ 'Code' | translate }}-->
<!--      </div>-->
<!--    </div>-->

<!--    <ng-select-->
<!--      [appendTo]="'body'"-->
<!--      [clearable]="false">-->
<!--      @for (availableLanguage of problem.availableLanguages; track availableLanguage) {-->
<!--        <ng-option-->
<!--          [value]="availableLanguage.lang">-->
<!--          {{ availableLanguage.langFull || availableLanguage.lang }}-->
<!--        </ng-option>-->
<!--      }-->
<!--    </ng-select>-->
<!--    <monaco-editor lang="py"/>-->
<!--  </kep-card>-->
<!--</div>-->
