<kep-card>
  <div class="card-header">
    <div class="card-title">
      <i data-feather="cloud-snow"></i>
      {{ 'StreakFreeze' | translate }}
    </div>

    <div class="d-flex gap-2 justify-content-start align-items-center">
      <streak class="text-dark" [streak]="streak"/>

      <span class="badge bg-primary">
        {{ 'YouHave' | translate }} <strong>{{ streakFreeze }}</strong>
      </span>

      <kepcoin-spend-swal
        (success)="buy.emit()"
        [purchaseUrl]="'purchase-streak-freeze'"
        [value]="10"
      />
    </div>
  </div>

  <div class="card-body">
    <p>{{ 'StreakFreezeText' | translate }}</p>
  </div>
</kep-card>
