<kep-card>
  <div class="card-header">
    <div class="card-title">
      {{ project.title }}
    </div>
    <div class="card-img" width="60">
      <img [src]="project.logo" alt="project-img">
    </div>
  </div>

  <div class="card-body">
    <span [innerHTML]="project.descriptionShort"></span>

    <div class="d-flex justify-content-between">
      <div class="text-start">
        <kepcoin [value]="project.kepcoins"/>
      </div>
      <div class="text-end">
        <span class="project-level badge bg-success ms-1 bagde-pill">
          {{ project.levelTitle }}
        </span>
        @for (technology of project.availableTechnologies; track technology) {
          <project-technology [name]="technology.technology"/>
        }
      </div>
    </div>
  </div>

  <div class="card-footer border-top">
    @if (!project.purchased) {
      <kepcoin-spend-swal
        [value]="project.purchaseKepcoinValue"
        [customContent]="true"
        [purchaseUrl]="'projects/' + project.slug + '/purchase'"
        (success)="project.purchased=true;">
        <button class="btn full-width btn-primary btn-sm">
          {{ 'Purchase' | translate }}
          <kepcoin [value]="project.purchaseKepcoinValue"/>
        </button>
      </kepcoin-spend-swal>
    } @else {
      <a class="btn full-width btn-primary btn-sm"
         routerLink="{{ hackathonProject ? hackathonProject.symbol : ('project/'+project.slug) }}">
        {{ 'View' | translate }}
      </a>
    }
  </div>
</kep-card>
