.card {
  border-radius: 15px;
  border: none;
}

a:hover {
  .card {
    scale: 1.02;
    transition: 0.5s;
  }
}

.card-img {
  width: 60px;

  img {
    width: 100%;
  }
}

.card-body {
  min-height: 80px;
}

::ng-deep .bordered-layout [class^="card-project-"] {
  box-shadow: 0px !important;
}

.project-level {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  padding: .3rem .6rem;
}

.btn {
  background: #d0bc33 !important;
  border: none !important;

  &:hover {
    box-shadow: 0px 0px 5px #f0dc3f !important;
  }
}
