@if (challengeCallsSkeletonVisible) {
  <div class="row">
    @for (item of [].constructor(4); track $index) {
      <div class="col-xl-3 col-md-6 col-12">
        <ngx-skeleton-loader
          class="custom-skeleton"
          count="2"
          animation="pulse"
          appearance="line"
          [theme]="{height: '185px', background: 'var(--skeleton-color)'}"
        ></ngx-skeleton-loader>
      </div>
    }
  </div>
}

<div class="row">
  @for (challengeCall of challengeCalls; track challengeCall) {
    <div
      class="col-xl-3 col-md-6 col-12"
      [@fadeOutOnLeave]=""
    >
      <challenge-call-card
        [challengeCall]="challengeCall"
        (delete)="onChallengeCallDelete(challengeCall.id)"
      ></challenge-call-card>
    </div>
  } @empty {
    @if (!challengeCallsSkeletonVisible) {
      <div class="col-12">
        <empty-result/>
      </div>
    }
  }
</div>
