<kep-table
  spinnerColor="var(--bg)"
  [loading]="isLoading && contestants.length == 0"
  [empty]="contestants.length == 0">
  <ng-container header>
    <tr>
      <th class="text-center">#</th>
      <th>{{ 'Contests.Contestant' | translate }}</th>
      <th class="text-center">{{ 'Contests.Points' | translate }}</th>

      @if (contest.isRated) {
        <th ngbTooltip="{{ 'RatingChange' | translate }}" container="body" class="text-center">
          <i [data-feather]="'delta' | iconName"></i>
        </th>
        <th class="text-center">{{ 'Contests.Performance' | translate }}</th>
      }

      @for (contestProblem of contestProblems; track contestProblem) {
        <th class="text-center" style="white-space: nowrap;">
          <a
            [routerLink]="['..', 'problem', contestProblem.symbol]"
            [ngbTooltip]="contestProblem.problem.title"
            tooltipClass="tooltip-primary"
            container=".contests-colors">
            {{ contestProblem.symbol }}
            @if (contest?.hasBalls()) {
              <span>
                ({{ contestProblem.ball }})
              </span>
            }
          </a>
        </th>
      }
    </tr>
  </ng-container>

  <ng-container body>
    @for (contestant of contestants; track contestant.username) {
      <tr
        [class]="contestant.rowClass"
        [ngClass]="{'bg-primary-transparent': currentUser?.username == contestant.username }">
        <td class="text-center text-dark">
          {{ contestant.rank }}
        </td>
        <td>
          <div class="d-flex justify-content-start">
            <contestant-view
              [textColor]="'dark'"
              [isVirtual]="contestant.isVirtual"
              [isUnrated]="contestant.isUnrated"
              [isOfficial]="contestant.isOfficial"
              [user]="contestant"
              [team]="contestant.team"/>
            <i *ngIf="contestant.country" class="fi fi-{{ contestant.country }} ms-2"></i>
          </div>
        </td>
        <td class="text-center text-nowrap">
          <span class="text-primary fw-semibold">
            {{ contestant.points }}
          </span>
          <span *ngIf="contest.hasPenalties()" class="text-danger">
            ({{ contestant.penalties }})
          </span>
        </td>
        @if (contest.isRated) {
          <td class="text-center">
            <kep-delta [value]="contestant.delta"/>
          </td>
          <td class="text-center" style="white-space: nowrap;">
            <contests-rating-image
              [title]="contestant.performanceTitle"
              [class]="'me-1'"/>
            <span class="text-dark me-1">
              @if (contestant.performance >= 3400) {
                <span>∞</span>
              }
              @if (contestant.performance < 3400) {
                <span>{{ contestant.performance }}</span>
              }
            </span>
          </td>
        }
        @for (contestProblem of contestProblems; track contestProblem) {
          <td class="text-center">
            <ng-template
              #selfie [ngTemplateOutlet]="selfie"
              let-problemInfo="aVariable"
              [ngTemplateOutletContext]="{
                    aVariable: contestant.problemsInfo | problemInfoBySymbol:contestProblem.symbol
                  }">
              <div>
                @if (problemInfo) {
                  <div [innerHTML]="problemInfo | problemInfoGetHtml:contest"></div>
                }
              </div>
            </ng-template>
          </td>
        }
      </tr>
    }
  </ng-container>

  <ng-container footer>
    <tr>
      <th class="text-center text-dark">#</th>
      <th class="text-dark">{{ 'Contests.Contestant' | translate }}</th>
      <th class="text-center">{{ 'Contests.Points' | translate }}</th>
      @if (contest.isRated) {
        <th class="text-center">
          <i [data-feather]="'delta' | iconName"></i>
        </th>
        <th class="text-center">{{ 'Contests.Performance' | translate }}</th>
      }
      @for (contestProblem of contestProblems; track contestProblem) {
        <th class="text-dark text-center">
          {{ contestProblem.symbol }}
          <br>
          <small>
            (<span class="text-success">{{ contestProblem.solved }}</span>/<span
            class="text-danger">{{ contestProblem.unsolved }}</span>/<span
            class="text-dark">{{ contestProblem.attemptsCount }}</span>)
          </small>
        </th>
      }
    </tr>
  </ng-container>
</kep-table>
