<kep-card>
  @if (isLoading) {
    <div [style.height.px]="400">
      <spinner></spinner>
    </div>
  } @else {
    <div class="card-header">
      <div class="card-title">
        {{ 'ArenaWinners' | translate }}
      </div>
    </div>

    <div class="card-body">
      <ul class="list-group">
        @for (arena of arenaList; track arena.id) {
          <a [routerLink]="Resources.ArenaTournament | resourceById:arena.id" class="list-group-item">
            <div class="mb-50 text-dark font-medium-2">
              <kep-icon name="arena" type="duotone" color="yellow"></kep-icon>
              {{ arena.title }}
            </div>
            <challenges-user-view [user]="arena.winner" [withRating]="false"></challenges-user-view>
          </a>
        }
      </ul>
    </div>

    <div class="card-footer justify-content-center">
      <a class="btn btn-warning full-width btn-sm" [routerLink]="[Resources.Arena]" [ngClass.lt-md]="'btn-sm'">
        <kep-icon name="arena" size="small-2"></kep-icon>
        {{ 'GoToArena' | translate }}
      </a>
    </div>
  }
</kep-card>
