<kep-card>
  <div class="card-body">
    <div [innerHTML]="tournament.description"></div>

    <h4 class="mt-2 mb-1">
      <strong>
        {{ 'Players' | translate }}
      </strong>
    </h4>

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr class="bg-tournament">
          <th class="text-white">#</th>
          <th class="text-white">{{ 'User' | translate }}</th>
        </tr>
        </thead>
        <tbody>
          @for (player of tournament.players; track player; let i = $index) {
            <tr
              [ngClass]="{ 'bg-dark-transparent': player.username == currentUser?.username }"
            >
              <td>
                {{ i + 1 }}
              </td>
              <td>
                <contestant-view [user]="player"></contestant-view>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</kep-card>
