<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    @if (isLoading) {
      <kep-card [cardHeight]="'200px'">
        <spinner/>
      </kep-card>
    } @else {
      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 order-2 order-lg-1">
          <kep-card>
            <div class="card-header">
              <h2 class="mt-1">
                {{ test.title }}
              </h2>
            </div>
            <hr>
            <div class="card-body">
              @if (question) {
                @if (question.type === QuestionType.SingleChoice) {
                  <app-single-choice-question
                    [question]="question"
                    [(selectedOption)]="selectedOption"
                  />
                } @else if (question.type === QuestionType.MultipleChoice) {
                  <app-multiple-choice-question [question]="question" />
                } @else if (question.type === QuestionType.TextInput) {
                  <app-text-input-question [question]="question" />
                } @else if (question.type === QuestionType.Conformity) {
                  <app-conformity-question
                    [question]="question"
                    [groupOne]="conformityGroupOne"
                    [groupTwo]="conformityGroupTwo"
                  />
                } @else if (question.type === QuestionType.Ordering) {
                  <app-ordering-question
                    [question]="question"
                    [orderingList]="orderingList"
                  />
                } @else if (question.type === QuestionType.Classification) {
                  <app-classification-question
                    [question]="question"
                    [classificationGroups]="classificationGroups"
                  />
                } @else if (question.type === QuestionType.CodeInput) {
                  <app-code-input-question [question]="question" />
                }
              }
            </div>

            <div class="card-footer text-end">
              <button (click)="answerSubmit()" class="mb-2 mt-2 btn btn-primary rounded" rippleEffect
                      type="submit">
                <i data-feather="check"></i> {{ 'TestQuestionAnswer' | translate }}
              </button>
            </div>
          </kep-card>
        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 order-1 order-lg-2">
          <kep-card>
            <div class="card-body mt-1">
              <ngx-countdown (finish)="testPassFinish()" [render]="render" [time]="leftTime" format="HH:mm:ss">
                <ng-template #render let-data>
                  <div class="d-flex justify-content-between">
                    <div class="countdown text-center">
                      <h5 class="clock-val text-white">{{ data.fragments[0] }}</h5>
                      <h5 class="text-white clock-text">{{ 'Hour' | translate }}</h5>
                    </div>

                    <div class="countdown text-center">
                      <h5 class="clock-val text-white">{{ data.fragments[1] }}</h5>
                      <h5 class="text-white clock-text">{{ 'Minute' | translate }}</h5>
                    </div>

                    <div class="countdown text-center">
                      <h5 class="clock-val text-white">{{ data.fragments[2] }}</h5>
                      <h5 class="text-white clock-text">{{ 'Second' | translate }}</h5>
                    </div>
                  </div>
                </ng-template>
              </ngx-countdown>
            </div>
          </kep-card>

          <kep-card>
            <div class="card-body">
              <h4 class="text-center mt-1">
                {{ 'Questions' | translate }}
              </h4>
              <hr class="mb-2">
              @for (_question of questions; track _question) {
                <button
                  (click)="answerSubmit();changeQuestion(_question.number-1)"
                  rippleEffect
                  class="btn btn-sm btn-question"
                  [ngClass]="{
              'btn-success': _question.number == question.number,
              'btn-outline-success': _question.number != question.number && _question.answered,
              'btn-outline-secondary': _question.number != question.number && !_question.answered
            }">
                  <span>
                    {{ _question.number }}
                  </span>
                </button>
              }
            </div>

            <div class="card-footer text-center">
              <button (click)="testPassFinish()" class="btn full-width btn-sm btn-primary">
                {{ 'FinishTest' | translate }}
              </button>
            </div>
          </kep-card>
        </div>
      </div>
    }
  </div>
</div>
