<h3>
  {{ 'Comments' | translate }}
  <span class="comment-count">({{ comments.length }})</span>
</h3>

@for (comment of comments; track comment.id) {
  <kep-card>
    <div class="card-body">
      <div class="d-flex align-items-center mb-3">
        <span class="avatar avatar-md avatar-rounded me-3 flex-shrink-0">
          <img [src]="comment.userAvatar" alt="">
        </span>
        <div>
          <p class="mb-0 fw-semibold fs-14 text-primary">
            {{ comment.username }}
          </p>
        </div>
        <div class="ms-auto">
          <span class="badge fs- 10bg-light text-fixed-white">
            {{ comment.created }}
          </span>
        </div>
      </div>
      <div class="d-flex">
        <span class="me-4"><i class="bi-quote fs-30 op-1"></i></span>
        <mathjax [content]="comment.body"/>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex align-items-center justify-content-between">
        <div class="float-end fs-12 fw-semibold text-muted text-end">
          <button
            (click)="like($index)"
            class="btn btn-primary-light me-2">
            <i class="bi-hand-thumbs-up align-bottom me-1 d-inline-flex"></i>
            @if (comment.likes > 0) {
              <span class="ms-1">{{ comment.likes }}</span>
            }
          </button>
          @if (currentUser?.isSuperuser) {
            <button (click)="deleteComment($index)" class="btn btn-danger-light">
              <i data-feather="x"></i>
            </button>
          }
        </div>
      </div>
    </div>
  </kep-card>
}

<kep-card *ngIf="currentUser">
  <div class="card-header">
    <h4 class="mb-1">{{ 'WriteComment' | translate }}</h4>
  </div>

  <div class="card-body">
    <textarea class="form-control" [(ngModel)]="comment"></textarea>
    <!--    <angular-editor [(ngModel)]="comment" [config]="config"/>-->

    <button (click)="submit()" class="btn btn-primary mb-1 mt-3">{{ 'Submit' | translate }}</button>
  </div>
</kep-card>
