<project-info-card [project]="project"/>

<kep-card>
  <div class="card-header">
    <div class="card-title">
      {{ 'Submit' | translate }}
    </div>
  </div>
  <div class="card-body">
    <div class="mb-1">
      <label><strong>{{ 'Technology' | translate }}:</strong></label>
      <ng-select [(ngModel)]="selectedTechnology" [clearable]="false" appendTo="body">
        @for (technology of project.availableTechnologies; track technology) {
          <ng-option [value]="technology.technology">
            {{ technology.technology }}
          </ng-option>
        }
      </ng-select>
    </div>
    <div class="mb-1">
      <label><strong>{{ 'File' | translate }}:</strong></label>
      <div class="custom-file">
        <input (change)="handleFileInput($event.target.files)" accept=".txt" class="form-control" id="customFile"
               type="file"/>
        <label class="form-label" for="customFile">
          {{ this.fileToUpload?.name || 'Max size 1mb' }}
        </label>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <button (click)="submit()" [disabled]="!fileToUpload" class="btn full-width btn-sm btn-primary">
      {{ 'Submit' | translate }}
    </button>
  </div>
</kep-card>

<ng-select-css/>
