@keyframes cardAnimation {
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.98);
  }
}

a {
  transform: scale(0.98);
  height: 326px;
  display: block;
  margin-bottom: 2rem;

  .on-hover {
    display: none;
  }

  &:hover {
    animation: cardAnimation 0.5s;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);

    .on-hover {
      display: inherit;
    }
  }

  .card {
    height: 100%;
    border: none;

    .card-header {
      padding: 44px 33px 0 33px;

      .chapter-title {
        color: #fff;
        opacity: 0.6;
        font-size: 11px;
        letter-spacing: 0.7px;
      }

      .test-title {
        color: #fff;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.1;
        letter-spacing: 0;
        margin-top: 14px;
      }
    }

    .chapter-image {
      img {
        max-width: 90%;
        position: absolute;
        right: 15px;
        height: 120px;
        bottom: 15px;
        z-index: 1;
      }
    }
  }
}
