<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section-header [contentHeader]="getContentHeader()"/>

    <kep-card>
      <div class="card-header px-3 py-3">
        <div class="card-title font-medium-5 align-items-center">
          <kep-icon class="me-1" color="primary" name="contest" size="medium-5" type="duotone"></kep-icon>
          <span class="text-dark">{{ 'Contests.Contests' | translate }}</span>
          <span *ngIf="!isLoading" class="total-count">({{ pageResult?.total }})</span>
        </div>

        <div
          class="d-flex gap-2">
          <contests-section-categories (change)="contestCategoryClick($event)"/>
          <input
            [formControl]="searchControl"
            class="form-control mt-1 mt-md-0 flex-grow-1"
            placeholder="{{ 'Search' | translate }}"
          >
        </div>
      </div>
    </kep-card>

    @if (isLoading && !total) {
      <div class="card" [style.height.px]="400">
        <spinner/>
      </div>
    } @else {
      @for (contest of contests; track contest) {
        <contest-card [contest]="contest"></contest-card>
      } @empty {
        <empty-result/>
      }

      @if (total > 0) {
        <div class="mb-1">
          <kep-pagination
            (pageChange)="pageChange($event)"
            (pageSizeChange)="pageSizeChange($event)"
            [(page)]="pageNumber"
            [collectionSize]="total"
            [maxSize]="maxSize"
            [disabled]="isLoading"
            [pageOptions]="pageOptions"
            [pageSize]="pageSize"
            [rotate]="true">
          </kep-pagination>
        </div>
      }
    }
  </div>
</div>
