<div class="limits">
  <div class="d-flex justify-content-between">
    <h5>
      <i class="text-info" data-feather="clock"></i>
      {{ 'TimeLimit' | translate }}
    </h5>

    <h5 class="text-end">
      {{ 'MemoryLimit' | translate }}
      <i class="text-primary" data-feather="hard-drive"></i>
    </h5>
  </div>

  <div class="mt-2 d-flex justify-content-between">
    <span class="badge bg-info">
      {{ selectedAvailableLang.timeLimit || problem.timeLimit }} {{ 'Ms' | translate }}
    </span>

    <span class="badge bg-primary">
      {{ selectedAvailableLang.memoryLimit || problem.memoryLimit }} {{ 'Mb' | translate }}
    </span>
  </div>
</div>

@if (!hideAuthorAndDifficulty) {
  <div class="info mt-2">
    <div class="d-flex justify-content-between">
      <h5>
        <i data-feather="bar-chart" class="text-{{ problem.difficulty | problemDifficultyColor }}"></i>
        {{ 'Difficulty' | translate }}
      </h5>
      <h5>
        <i data-feather="edit-3" class="text-primary"></i>
        {{ 'Author' | translate }}
      </h5>
    </div>
    <div class="mt-2 d-flex justify-content-between">
      <span class="badge bg-{{ problem.difficulty | problemDifficultyColor }}">
        {{ problem.difficultyTitle }}
      </span>
      <user-popover [customContent]="true" [username]="problem.authorUsername">
        <img width="24" height="24" class="round me-1" alt="user-avater" [src]="problem.authorAvatar">
        {{ problem.authorUsername }}
      </user-popover>
    </div>
  </div>
}

@if (!hideLikes) {
  <div class="votes mt-2">
    <div class="d-flex justify-content-between">
      <h5>
        <i data-feather="thumbs-up" class="text-success"></i>
        {{ 'Likes' | translate }}
      </h5>
      <h5>
        <i data-feather="thumbs-down" class="text-danger"></i>
        {{ 'Dislikes' | translate }}
      </h5>
    </div>
    <div class="mt-2 d-flex justify-content-between">
      @if (currentUser) {
        <button
          (click)="like()"
          class="btn btn-sm btn-success bg-success"
          [ngClass]="{
        'btn-success': problem.userInfo.voteType === 1
      }"
        >
          <i data-feather="thumbs-up"></i>
          {{ problem.likesCount }}
        </button>
      }
      @if (currentUser) {
        <button
          (click)="dislike()"
          class="btn btn-sm btn-danger bg-danger"
          [ngClass]="{
        'btn-danger': problem.userInfo.voteType === 0
      }"
        >
          <i data-feather="thumbs-down"></i>
          {{ problem.dislikesCount }}
        </button>
      }
      @if (!currentUser) {
        <span class="badge bg-success">
          <i data-feather="thumbs-up"></i>
          {{ problem.likesCount }}
        </span>
      }
      @if (!currentUser) {
        <span class="badge bg-danger">
          <i data-feather="thumbs-down"></i>
          {{ problem.dislikesCount }}
        </span>
      }
    </div>
  </div>
}

<div class="selected-language mt-2">
  <div class="d-flex mb-1">
    <h5>
      <i data-feather="code"></i>
      {{ 'SelectedLanguage' | translate }}
    </h5>
  </div>

  <attempt-language
    [lang]="selectedAvailableLang.lang"
    [langFull]="selectedAvailableLang.langFull"
  />
</div>

@if (!hideCodeGolf) {
  <div class="code-golf mt-2">
    <div class="d-flex mb-1">
      <h5>
        <kep-icon name="code" class="text-dark" type="duotone"></kep-icon>
        {{ 'CodeGolf' | translate }}
      </h5>
    </div>
    <span
      class="badge bg-dark">
      {{ selectedAvailableLang.codeGolf }}
    </span>
  </div>
}
