@import 'styles/kep-imports';

arena-list-card {
  a {
    position: relative;
  }

  .card {
    margin-bottom: 0.5rem !important;
    cursor: pointer;
    border: none;

    &:hover {
      padding-left: 10px !important;
      color: #604f99;
      transition: .5s;
    }

    .row > div {
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
    }
  }
}
