<a [show]="arena.status === -1" new-feature routerLink="tournament/{{ arena.id }}">
  <kep-card customClass="'card-style-2'">
    <div class="card-header p-4">
      <div class="row full-width">
        <div class="col-lg-4 col-8">
          <div class="card-title text-dark">
            <kep-icon class="font-large-1" color="yellow" name="arena" type="duotone"></kep-icon>
            <span class="ms-1 fw-semibold">
              {{ arena.title }}
            </span>
            <br>
            <span class="ms-3 font-small-3 text-dark">
              {{ 'Rated' | translate }},
            </span>
            <span class="ms-1 font-small-3 text-dark">
              {{ durationMinute }}m
            </span>
          </div>
        </div>

        <div class="col-lg-2 col-4">
          <div class="card-countdown">
            @if (arena.status == ArenaStatus.NotStarted) {
              <span>
                <ngx-countdown (finish)="finish()" [render]="render" [time]="leftTime" format="HH:mm:ss">
                  <ng-template #render let-data>
                    <div [ngbTooltip]="arena.startTime | date:'dd-MM-y HH:mm'" class="d-flex justify-content-between">
                      <h5 class="clock-val">{{ data.fragments[0] }}:{{ data.fragments[1] }}:{{ data.fragments[2] }}</h5>
                    </div>
                  </ng-template>
                </ngx-countdown>
              </span>
            }
            @if (arena.status == ArenaStatus.Already) {
              <span class="badge bg-yellow-transparent">
                {{ 'Now' | translate }}
              </span>
            }
            @if (arena.status == ArenaStatus.Finished) {
              <span class="text-dark font-small-3">
                {{ arena.finishTime | localizedDate }}
              </span>
            }
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="card-info">
            <span class="me-1 badge text-dark bg-yellow-transparent" ngbTooltip="{{ 'Time' | translate }}">
              <kep-icon class="font-small-4" name="challenge-time"></kep-icon>
              {{ arena.timeSeconds }}
            </span>

            <span class="badge bg-yellow-transparent text-dark" ngbTooltip="{{ 'Questions' | translate }}">
              <kep-icon class="font-small-4" name="challenge-task"></kep-icon>
              {{ arena.questionsCount }}
            </span>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="d-flex justify-content-between">
            @if (arena.status == ArenaStatus.Finished) {
              <challenges-user-view [user]="arena.winner"></challenges-user-view>
              <img alt="winner" class="ms-1" height="20" src="assets/images/icons/cup.png" width="20">
            }
          </div>
        </div>
      </div>
    </div>
  </kep-card>
</a>
