<div class="course-statistics">
  <div class="statistics d-flex justify-content-between">
    <div class="count-item decoration-bottom">
      <strong [countUp]="123" [options]="{ duration: 5 }">0</strong>
      <span>{{ 'Users' | translate }}</span>
    </div>
    <div class="count-item decoration-top">
      <strong [countUp]="412" [options]="{ duration: 5 }">0</strong>
      <span>{{ 'Contests' | translate }}</span>
    </div>
    <div class="count-item decoration-bottom">
      <strong [countUp]="123" [options]="{ duration: 5 }">0</strong>
      <span>{{ 'Problems' | translate }}</span>
    </div>
    <div class="count-item">
      <strong [countUp]="123" [options]="{ duration: 5 }">0</strong>
      <span>{{ 'Attempts' | translate }}</span>
    </div>
  </div>
</div>
