<kep-card>
  <div class="card-header">
    <div class="card-title">
      <i class="font-medium-4 me-1" data-feather="lock"></i>
      {{ 'Settings.ChangePassword' | translate }}
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="mb-1">
          <label>{{ 'Settings.OldPassword' | translate }}</label>
          <div class="input-group form-password-toggle input-group-merge">
            <input
              [(ngModel)]="passwordOld"
              [type]="passwordOldType ? 'text' : 'password'"
              class="form-control create-password-input"
            />
            <span (click)="passwordOldType = !passwordOldType" class="show-password-button cursor-pointer text-muted">
              @if (passwordOldType) {
                <kep-icon type="duotone" name="toggle-on"/>
              } @else {
                <kep-icon type="duotone" name="toggle-off"/>
              }
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="mb-1">
          <label>{{ 'Settings.NewPassword' | translate }}</label>
          <div class="input-group form-password-toggle input-group-merge">
            <input
              [(ngModel)]="passwordNew"
              [type]="passwordNewType ? 'text' : 'password'"
              class="form-control create-password-input"
            />
            <span (click)="passwordNewType = !passwordNewType" class="show-password-button cursor-pointer text-muted">
              @if (passwordNewType) {
                <kep-icon type="duotone" name="toggle-on"/>
              } @else {
                <kep-icon type="duotone" name="toggle-off"/>
              }
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="mb-1">
          <label>{{ 'Settings.RetypeNewPassword' | translate }}</label>
          <div class="input-group form-password-toggle input-group-merge">
            <input
              [(ngModel)]="passwordConfirm"
              [type]="passwordConfirmType ? 'text' : 'password'"
              class="form-control create-password-input"
            />
            <span (click)="passwordConfirmType = !passwordConfirmType" class="show-password-button cursor-pointer text-muted">
              @if (passwordConfirmType) {
                <kep-icon type="duotone" name="toggle-on"/>
              } @else {
                <kep-icon type="duotone" name="toggle-off"/>
              }
            </span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button (click)="change()" class="btn btn-primary me-1 mt-2" type="submit">
          {{ 'Settings.Change' | translate }}
        </button>
      </div>
    </div>
  </div>
</kep-card>
