<ng-template #popContent>
  <div
    class="card contests-colors contest-{{ contests[0].id }} {{ contests[0].title }} contest-type-{{ contests[0].type }}">
    <div class="card-body">
      <h5 class="text-center mt-1 mb-1">
        <i [data-feather]="'contest' | iconName" [size]="20"></i>
        {{ contest.title }}
      </h5>
    </div>

    <div class="table-responsive mb-1">
      <table class="table table-hover">
        <thead>
        <tr class="bg-gradient-primary">
          <th class="text-center">#</th>
          <th>{{ 'Contests.Contestant' | translate }}</th>
          <th class="text-center"><i [data-feather]="'rating' | iconName"></i></th>
        </tr>
        </thead>
        <tbody>
          @for (contestant of contestants; track contestant) {
            <tr class="dropdown-standings text-dark">
              <td class="text-center">{{ contestant.rank }}</td>
              <td>
                <contestant-view [user]="contestant.user" [team]="contestant.team"></contestant-view>
              </td>
              <td class="text-center">
                <span class="badge bg-primary">
                  {{ contestant.points }}
                </span>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<a
  [routerLink]="Resources.ContestStandings | resourceById:contest.id"
  [ngbPopover]="popContent"
  triggers="mouseenter:mouseleave"
  [closeDelay]="3000"
  [openDelay]="1000"
  (shown)="loadContestants()"
  popoverClass="contest-standings-popover"
  rippleEffect class="btn btn-primary btn-sm round"
  [placement]="'bottom'"
  container="body"
>
  {{ 'Contests.Standings' | translate }}
</a>
