<div class="row">
  @for (challenge of arenaChallenges; track challenge) {
    <div class="col-lg-6 col-md-6 col-12">
      <div class="table-responsive challenge-results mb-1">
        <table class="table">
          <tbody>
          <tr>
            <td>
              <challenges-user-view [user]="challenge.playerFirst"></challenges-user-view>
            </td>
            <td class="text-end">
              <span class="badge" [ngClass]="{
              'bg-success': challenge.playerFirst.result > challenge.playerSecond.result,
              'bg-danger': challenge.playerFirst.result < challenge.playerSecond.result,
              'bg-secondary': challenge.playerFirst.result == challenge.playerSecond.result
            }">
                {{ challenge.playerFirst.result }}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <challenges-user-view [user]="challenge.playerSecond"></challenges-user-view>
            </td>
            <td class="text-end">
              <span class="badge" [ngClass]="{
              'bg-danger': challenge.playerFirst.result > challenge.playerSecond.result,
              'bg-success': challenge.playerFirst.result < challenge.playerSecond.result,
              'bg-secondary': challenge.playerFirst.result == challenge.playerSecond.result
            }">
                {{ challenge.playerSecond.result }}
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  }
</div>

@if (total) {
  <kep-pagination
    [collectionSize]="total"
    [(page)]="pageNumber"
    [pageSize]="pageSize"
    [maxSize]="maxSize"
    [rotate]="true"
    [color]="'warning'"
    [disabled]="isLoading"
    (pageChange)="reloadPage()">
  </kep-pagination>
}
