<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header (refresh)="reloadPage()" [contentHeader]="contentHeader"></app-content-header>

    @if (currentUser) {
      <attempts-filter
        (filterChange)="filterChange($event)"
        (refresh)="reloadPage()"
        [initialFilter]="initialFilter"/>
    }

    @if (!attempts && isLoading) {
      <kep-card [cardHeight]="'400px'">
        <spinner></spinner>
      </kep-card>
    } @else if (attempts.length == 0) {
      <empty-result/>
    } @else {
      <attempts-table [hackEnabled]="true" [attempts]="attempts"/>

      <div class="mb-1">
        <kep-pagination
          (pageChange)="pageChange($event)"
          (pageSizeChange)="pageSizeChange($event)"
          [collectionSize]="total"
          [maxSize]="maxSize"
          [disabled]="isLoading"
          [pageOptions]="pageOptions"
          [pageSize]="pageSize"
          [page]="pageNumber">
        </kep-pagination>
      </div>
    }
  </div>
</div>
