@import 'styles/kep-imports';

.reviews-container {
  width: 100%;
  padding: 4rem 4rem;
  border-radius: 3.5rem 3.5rem 0 0;

  @include media-breakpoint-down(sm) {
    padding: 2rem 2rem;
  }

  .content-body {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
  }
}
