.comment-count {
  font-size: 12px;
  font-weight: 100;
  vertical-align: super;
  color: #888ea8;
  letter-spacing: 2px;
}

.media {
  margin-top: 20px;
  margin-bottom: 20px;
}

.media img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.media .media-body {
  align-self: center;
}

.media .media-body .media-heading {
  color: #3b3f5c;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 17px;
  letter-spacing: 1px;
}

.media .media-body .media-text {
  color: #515365;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0;
}
