@import 'styles/kep-imports';

.card {
  box-shadow: none;
  margin-bottom: 1rem;
  height: calc(100% - 1rem);

  &:hover {
    transition: 0.2s ease-in;
    transform: scale(1.05);
    box-shadow: initial;
  }

  .card-header {
    height: 100%;
    flex-wrap: nowrap;
  }
}
