<div class="d-flex mb-4 mt-4 justify-content-between">
  <div class="font-medium-5 text-dark">{{ 'Topics' | translate }}</div>
</div>

@if (isLoading) {
  <div class="row">
    @for (_ of [].constructor(12); track $index) {
      <div class="col-lg-3 col-md-6 col-12">
        <ngx-skeleton-loader
          class="custom-skeleton"
          count="1"
          animation="pulse"
          appearance="line"
          [theme]="{height: '165px', background: 'var(--skeleton-color)'}"
        ></ngx-skeleton-loader>
      </div>
    }
  </div>
} @else {
  <div class="row">
    @for (category of showAll ? categories : categories.slice(0, 4); track category.id) {
      <div  class="col-lg-3 col-md-6 col-12">
        <a [routerLink]="category.code" class="card custom-card">
          <div class="top-left"></div>
          <div class="top-right"></div>
          <div class="bottom-left"></div>
          <div class="bottom-right"></div>

          <div class="card-header justify-content-start">
            <div class="category-icon me-1">
              <kep-icon type="duotone" size="large-1" color="primary" [name]="category.icon"></kep-icon>
            </div>

            <div class="card-title">
              {{ category.title }}
              <div class="mt-1">
                <kep-icon size="medium-1" name="problem"></kep-icon>
                <span [ngbTooltip]="'Problems' | translate">{{ category.problemsCount }}</span>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <a [routerLink]="category.code" class="text-primary d-flex justify-content-end align-items-center">
              {{ 'Practice' | translate }}
              <kep-icon class="ms-1" name="arrow-right"></kep-icon>
            </a>
          </div>
        </a>
      </div>
    }
  </div>
}
