$primary: #{var(--primary)};
$secondary: rgb(0, 227, 210);
$warning: rgb(255, 140, 0);
$info: rgb(72, 247, 238);
$success: rgb(0, 230, 43);
$danger: rgb(255, 74, 74);

$light: rgb(40, 60, 56);
$dark: rgb(240, 245, 248);

$red: #d03d46;
$blue: #438fff;
$green: #1dd871;
$cyan: #00D1D1;
$indigo: #6663ff;
$white: #fff;
$gray: #8699A3;
$black: #000;
$yellow: #ff8c00;
$orange: rgb(255, 116, 23);
$pink: rgb(252, 108, 133);
$purple: rgb(143, 0, 255);
$teal: rgb(0, 177, 163);

$primary-01: rgba(var(--primary-rgb), 0.1);
$primary-02: rgba(var(--primary-rgb), 0.2);
$primary-03: rgba(var(--primary-rgb), 0.3);
$primary-04: rgba(var(--primary-rgb), 0.4);
$primary-05: rgba(var(--primary-rgb), 0.5);
$primary-06: rgba(var(--primary-rgb), 0.6);
$primary-07: rgba(var(--primary-rgb), 0.7);
$primary-08: rgba(var(--primary-rgb), 0.8);
$primary-09: rgba(var(--primary-rgb), 0.9);
$primary-005: rgba(var(--primary-rgb), 0.05);

$custom-white: #010a07;
$custom-black: #fff;

$default-radius: 0.25rem;
$box-shadow: 0px 0.125rem 0.25rem rgba(255, 255, 25, 0.05);

$default-font-size: 0.95rem;
$default-font-weight: 400;

$header-bg: rgb(32, 32, 37);
$header-border-color: rgba(255, 255, 255, 0.1);

$menu-bg: rgb(32, 32, 37);
$menu-prime-color: rgba(255, 255, 255, 1);
$menu-border-color: rgba(255, 255, 255, 0.1);

$text-muted: rgba(255, 255, 255, 0.9);
$input-border: rgba(255, 255, 255, 0.1);
$form-control-bg: rgba(var(--primary-rgb), 0.05);

$bootstrap-card-border: rgba(255, 255, 255, 0.1);
$list-hover-focus-bg: rgba(255, 255, 255, 0.1);

$primary-gradient: linear-gradient(to bottom, var(--primary08) 0%, rgba(0, 0, 0, 0.6) 100%);
$secondary-gradient: linear-gradient(to bottom right, $secondary 0%, #046866 100%);
$success-gradient: linear-gradient(to bottom right, $success 0%, #055a43 100%);
$warning-gradient: linear-gradient(to bottom right, $warning 0%, #a18709 100%);
$pink-gradient: linear-gradient(to bottom right, $pink 0%, #99555E 100%);
$teal-gradient: linear-gradient(to bottom right, $teal 0%, #007B6F 100%);
$danger-gradient: linear-gradient(to bottom right, $danger 0%, #8d0a13 100%);
$info-gradient: linear-gradient(to bottom right, $info 0%, #09737a 100%);
$orange-gradient: linear-gradient(to bottom right, $orange 0%, #893804 100%);
$purple-gradient: linear-gradient(to bottom right, $purple 0%, #bf7df3 100%);
$light-gradient: linear-gradient(to bottom right, $light 0%, #D7FCFF 100%);
$dark-gradient: linear-gradient(to bottom right, $dark 0%, #16657A 100%);

// ================================
// Наборы серых, белых и черных оттенков
// ================================

// Серый (берем значения из dark)
$gray-1: #110f0f;
$gray-2: #17171c;
$gray-3: #393946;
$gray-4: #505062;
$gray-5: #73738c;
$gray-6: #8f8fa3;
$gray-7: #ababba;
$gray-8: #c7c7d1;
$gray-9: #e3e3e8;

// Белый (берем значения из dark)
$white-1: rgba(0, 0, 0, 0.1);
$white-2: rgba(0, 0, 0, 0.2);
$white-3: rgba(0, 0, 0, 0.3);
$white-4: rgba(0, 0, 0, 0.4);
$white-5: rgba(0, 0, 0, 0.5);
$white-6: rgba(0, 0, 0, 0.6);
$white-7: rgba(0, 0, 0, 0.7);
$white-8: rgba(0, 0, 0, 0.8);
$white-9: rgba(0, 0, 0, 0.9);

// Черный (берем значения из dark)
$black-1: rgba(255, 255, 255, 0.1);
$black-2: rgba(255, 255, 255, 0.2);
$black-3: rgba(255, 255, 255, 0.3);
$black-4: rgba(255, 255, 255, 0.4);
$black-5: rgba(255, 255, 255, 0.5);
$black-6: rgba(255, 255, 255, 0.6);
$black-7: rgba(255, 255, 255, 0.7);
$black-8: rgba(255, 255, 255, 0.8);
$black-9: rgba(255, 255, 255, 0.9);

$facebook: #3b5998;
$twitter: #00acee;
$github: #333;
$google: #CF4E43;
$youtube: #FF0000;

:root {
  color-scheme: light;
  --primary: #00ae90;
  --body-bg-rgb: 145, 175, 19;
  --primary-rgb: 0, 174, 144;
  --secondary-rgb: 0, 227, 210;
  --warning-rgb: 235, 247, 72;
  --info-rgb: 72, 247, 238;
  --success-rgb: 72, 247, 104;
  --danger-rgb: 255, 74, 74;
  --light-rgb: 245, 247, 250;
  --dark-rgb: 44, 62, 80;
  --orange-rgb: 255, 116, 23;
  --pink-rgb: 252, 108, 133;
  --teal-rgb: 0, 177, 163;
  --purple-rgb: 143, 0, 255;
  --green-rgb: 69, 214, 91;
  --default-body-bg-color: rgb(var(--body-bg-rgb));
  --primary-color: rgb(var(--primary-rgb));
  --primary-border: rgb(var(--primary-rgb));
  --primary01: rgba(var(--primary-rgb), 0.1);
  --primary02: rgba(var(--primary-rgb), 0.2);
  --primary03: rgba(var(--primary-rgb), 0.3);
  --primary04: rgba(var(--primary-rgb), 0.4);
  --primary05: rgba(var(--primary-rgb), 0.5);
  --primary06: rgba(var(--primary-rgb), 0.6);
  --primary07: rgba(var(--primary-rgb), 0.7);
  --primary08: rgba(var(--primary-rgb), 0.8);
  --primary09: rgba(var(--primary-rgb), 0.9);
  --primary005: rgba(var(--primary-rgb), 0.05);
  --default-font-family: 'Titillium Web', sans-serif;
  --default-font-weight: 400;
  --default-text-color: #000;
  --default-text-color-rgb: 51, 51, 51;
  --default-border: #f3f3f3;
  --default-body-color: #ececec;
  --default-background: linear-gradient(to bottom right, var(--default-body-color) 0%, var(--theme-bg-gradient) 25%, var(--default-body-color) 100%);
  --menu-bg: #fff;
  --menu-prime-color: rgba(255, 255, 255, 1);
  --menu-border-color: #e8e8e8;
  --header-bg: #fff;
  --header-prime-color: rgba(0, 0, 0, 1);
  --header-border-color: #e8e8e8;
  --custom-white: #fff;
  --custom-black: #000;
  --bootstrap-card-border: #e8e8e8;
  --list-hover-focus-bg: #f5f6f7;
  --text-muted: #6c757e;
  --input-border: #e8e8e8;
  --form-control-bg: rgba(var(--primary-rgb), 0.05);
  --theme-bg-gradient: #fafafa;

  /* Gray set */
  --gray-1: #f9fafb;
  --gray-2: #f2f4f5;
  --gray-3: #e6eaeb;
  --gray-4: #dbdfe1;
  --gray-5: #949eb7;
  --gray-6: #7987a1;
  --gray-7: #4d5875;
  --gray-8: #383853;
  --gray-9: #323251;

  /* White set */
  --white-1: rgba(255, 255, 255, 0.1);
  --white-2: rgba(255, 255, 255, 0.2);
  --white-3: rgba(255, 255, 255, 0.3);
  --white-4: rgba(255, 255, 255, 0.4);
  --white-5: rgba(255, 255, 255, 0.5);
  --white-6: rgba(255, 255, 255, 0.6);
  --white-7: rgba(255, 255, 255, 0.7);
  --white-8: rgba(255, 255, 255, 0.8);
  --white-9: rgba(255, 255, 255, 0.9);

  /* Black set */
  --black-1: rgba(0, 0, 0, 0.1);
  --black-2: rgba(0, 0, 0, 0.2);
  --black-3: rgba(0, 0, 0, 0.3);
  --black-4: rgba(0, 0, 0, 0.4);
  --black-5: rgba(0, 0, 0, 0.5);
  --black-6: rgba(0, 0, 0, 0.6);
  --black-7: rgba(0, 0, 0, 0.7);
  --black-8: rgba(0, 0, 0, 0.8);
  --black-9: rgba(0, 0, 0, 0.9);
}

[data-theme-mode="dark"] {
  --primary: #00ffcd;
  --primary-rgb: 0, 255, 205;
  --body-bg-rgb: 20, 20, 20;
  --menu-bg: rgb(var(--body-bg-rgb));
  --menu-border-color: rgba(255, 255, 255, 0.1);
  --menu-prime-color: rgba(255, 255, 255, 1);
  --header-bg: rgb(var(--body-bg-rgb));
  --header-prime-color: rgba(255, 255, 255, 1);
  --header-border-color: rgba(255, 255, 255, 0.1);
  --custom-white: #010a07;
  --custom-black: #fff;
  --default-border: rgba(255, 255, 255, 0.1);
  --default-text-color: #fff;
  --default-text-color-rgb: 255, 255, 255;
  --light-rgb: 40, 60, 56;
  // --light-rgb: 63, 75, 71;
  // --light-rgb: 43, 46, 49;
  --dark-rgb: 240, 245, 248;
  --bootstrap-card-border: rgba(255, 255, 255, 0.1);
  --list-hover-focus-bg: rgba(255, 255, 255, 0.1);
  --default-body-color: #141414;
  --default-background: linear-gradient(to bottom right, var(--default-body-color) 0%, var(--theme-bg-gradient) 25%, var(--default-body-color) 100%);
  --text-muted: rgba(255, 255, 255, 0.9);
  --input-border: rgba(255, 255, 255, 0.1);
  --form-control-bg: rgba(var(--primary-rgb), 0.05);
  --card-bg: 29, 68, 67;
  $box-shadow: 0px .125rem .25rem rgba(255, 255, 25, 0.05);
  --theme-bg-gradient: #021e18;

  /* Gray Set */
  --gray-1: #110f0f;
  --gray-2: #17171c;
  --gray-3: #393946;
  --gray-4: #505062;
  --gray-5: #73738c;
  --gray-6: #8f8fa3;
  --gray-7: #ababba;
  --gray-8: #c7c7d1;
  --gray-9: #e3e3e8;

  /* white set */
  --white-1: rgba(0, 0, 0, 0.1);
  --white-2: rgba(0, 0, 0, 0.2);
  --white-3: rgba(0, 0, 0, 0.3);
  --white-4: rgba(0, 0, 0, 0.4);
  --white-5: rgba(0, 0, 0, 0.5);
  --white-6: rgba(0, 0, 0, 0.6);
  --white-7: rgba(0, 0, 0, 0.7);
  --white-8: rgba(0, 0, 0, 0.8);
  --white-9: rgba(0, 0, 0, 0.9);

  /* black set */
  --black-1: rgba(255, 255, 255, 0.1);
  --black-2: rgba(255, 255, 255, 0.2);
  --black-3: rgba(255, 255, 255, 0.3);
  --black-4: rgba(255, 255, 255, 0.4);
  --black-5: rgba(255, 255, 255, 0.5);
  --black-6: rgba(255, 255, 255, 0.6);
  --black-7: rgba(255, 255, 255, 0.7);
  --black-8: rgba(255, 255, 255, 0.8);
  --black-9: rgba(255, 255, 255, 0.9);

  --default-body-bg-color: #141414;
}
