<div class="card custom-card profile-card overflow-hidden">
  <div class="profile-image">
    <img [src]="user.coverPhoto" alt="..." class="card-img-top">
  </div>
  <div class="card-body p-4 pb-0 position-relative d-flex justify-content-between">
    <div>
      <span class="avatar avatar-xxl avatar-rounded bg-info">
        <img [src]="user.avatar" alt="">
      </span>
      <div class="mt-4 mb-3 d-flex align-items-start flex-column gap-2">
        <div class="d-flex align-items-center flex-wrap gap-2">
          <h5 class="fw-semibold mb-1 d-flex align-items-center gap-2">
            {{ user.username }}
            @if (user.streak >= 7) {
              <kep-badge [streak]="user.streak"></kep-badge>
            }
            <user-online-status [lastSeen]="user.lastSeen" [online]="user.isOnline"></user-online-status>
          </h5>
          <user-follow-button [username]="user.username" [isFollowing]="user.isFollowing"/>
        </div>
        <span class="d-block fw-medium text-muted mb-1">{{ user.firstName }} {{ user.lastName }}</span>
      </div>

      <ul class="nav nav-pills justify-content-start nav-style-3">
        <li class="nav-item">
          <a [routerLinkActiveOptions]="{exact: true}"
             [routerLink]="[Resources.UserProfile | resourceByUsername:user.username]"
             class="nav-link fw-medium"
             routerLinkActive="active">
            <span>{{ 'About' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="[Resources.UserProfileRatings | resourceByUsername:user.username]"
             class="nav-link fw-medium"
             routerLinkActive="active">
            <span>{{ 'Ratings' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="[Resources.UserProfileActivityHistory | resourceByUsername:user.username]"
             class="nav-link fw-medium"
             routerLinkActive="active">
            <span>{{ 'UserActivityHistory.Title' | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="[Resources.UserProfileAchievements | resourceByUsername:user.username]"
             class="nav-link fw-medium"
             routerLinkActive="active">
            <span>{{ 'Achievements' | translate }}</span>
          </a>
        </li>
      </ul>
    </div>

    <user-ranks *ngIf="refresh" [username]="user.username"/>
  </div>
</div>

<section *ngIf="refresh" class="mt-4">
  <div class="row">
    <div class="col-lg-3">
      <user-personal-info [username]="username"/>
      <user-social [username]="username"/>
      <user-followers-preview/>
    </div>
    <div class="col-lg-9">
      <router-outlet (activate)="onTabChange()"/>
    </div>
  </div>
</section>
