<div class="card bg-contest">
  <a [routerLink]="routerLink">
    <div class="card-header">
      <h5 class="card-title text-white">{{ contest.title }}</h5>
      <span class="date text-white">
        {{ contest.startTime | localizedDate:'EEEE, MMM d | HH:mm' }}
        @if (contest.finishTime.getDate() == contest.startTime.getDate()) {
          <span>
            - {{ contest.finishTime | date:'HH:mm' }}
          </span>
        }
      </span>
    </div>
    <div class="card-body">
      @if (contest.status == 1) {
        <div>
          <button class="btn text-white btn-contest btn-sm">{{ 'Standings' | translate }}</button>
        </div>
      }
      @if (contest.status != 1) {
        <div>
          <button class="btn text-white btn-contest btn-sm">{{ 'Join' | translate }}</button>
        </div>
      }
    </div>
  </a>
</div>
