.card {
  height: 210px;
  border-radius: 10px !important;
  transform: scale(0.98);

  .card-header {
    min-height: 140px !important;
    display: grid !important;
  }
}

.bg-contest {
  box-shadow: 0 0 5px #4e5e99 !important;
  transition: all 0.5s ease;
  opacity: 0.9;
  background-image: linear-gradient(47deg, #1c1368, #756cc3);
  background-repeat: repeat;
  border: none;

  &:hover {
    transform: scale(1);
  }
}

::ng-deep .dark-layout {
  .bg-contest {
    background: linear-gradient(to right, #182848, #4b6cb7);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }

  .btn-contest {
    background-color: #4b6cb7 !important;
  }
}

.btn-contest {
  position: absolute;
  bottom: 2rem;
  text-align: center;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 1px #eee;
  transition: .5s;
  display: block;
  border-radius: 15px !important;
  background-color: #4e5e99;
}

.date {
  margin-top: 15px;
}
