@import 'styles/kep-imports';

.contest-standings-top {
  border-radius: 2px;
  padding: 1rem;
  margin-bottom: 1rem;

  background: rgba(255, 255, 255, 0.5);
  border: 1px #fafafa solid !important;

  @include dark-layout {
    background: rgba(0, 0, 0, 0.25);
    border: 1px black solid !important;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.2rem;
    margin-bottom: 2rem;
  }
}

.bg-img {
  position: absolute;
  top: -66px;
  width: 95%;
  z-index: -1;
  height: 520px;

  filter: blur(60px);
  opacity: .3;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}
