<!--<app-content-header [contentHeader]="contentHeader"></app-content-header>-->

<section [class]="contest | contestClasses">
  <div class="bg-img" style="background-image: url({{ contest.logo }});"></div>

  <div class="contest-standings-top">
    <div class="header">
      <div class="font-large-1 text-dark">
        <kep-icon class="me-1" name="contest" size="large-1" type="duotone"/>
        {{ contest.title }}
      </div>

      <div class="d-flex flex-wrap align-items-center justify-content-end gap-2">
        <div *ngIf="isAuthenticated" class="form-check form-switch m-0 text-nowrap">
          <input
            (change)="onFollowingToggle($event.target.checked)"
            [checked]="followingOnly"
            class="form-check-input"
            type="checkbox"
          >
          <label class="form-check-label" for="contest-following-only">
            {{ 'Contests.FollowingOnly' | translate }}
          </label>
        </div>

        <ng-select
          (change)="filterChange()"
          [(ngModel)]="selectedFilter"
          [clearable]="true"
          [items]="contestFilters"
          [ngClass.lt-md]="'d-none'"
          [searchable]="true"
          bindLabel="name"
          bindValue="id"
          placeholder="{{ 'All' | translate }}"
          style="width: 300px;"
        />
      </div>
    </div>
    <contest-tab [contest]="contest"/>
  </div>

  <div *ngIf="contest.status == 0" class="contest-standings-top">
    <contest-standings-countdown [contest]="contest"/>
  </div>

  <contest-standings-table
    [contestProblems]="contestProblems"
    [contest]="contest"
    [contestants]="contestants"
    [isLoading]="isLoading"/>

  <kep-pagination
    (pageChange)="pageChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
    [(page)]="pageNumber"
    [collectionSize]="total"
    [ellipses]="true"
    [maxSize]="maxSize"
    [pageOptions]="pageOptions"
    [pageSize]="pageSize"
    [disabled]="isLoading"
    [rotate]="true">
  </kep-pagination>
</section>

<ng-select-css/>
