@import 'styles/kep-imports';

.bg-contest {
  background-size: 200% auto;
  transition: all 0.2s ease;
  box-shadow: 0 0 5px var(--primary);
  background: linear-gradient(color-mix(in srgb, black 30%, var(--primary) 70%), color-mix(in srgb, black 50%, var(--primary) 50%)) !important;
  background-repeat: repeat;
  border: none;
  border-radius: 0px;
}

.card-footer {
  border-color: var(--primary) !important;
}

.bg-contest:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.start-time {
  font-size: 1.25rem;
  color: #fff;
}


.card-header {
  display: initial !important;
}
