<ng-select
  [items]="categories"
  bindLabel="title"
  bindValue="id"
  [loading]="isLoading"
  [clearable]="true"
  [searchable]="false"
  [placeholder]="'Categories' | translate"
  [(ngModel)]="activeCategory"
  (ngModelChange)="categoryChange($event)"
  style="width: 200px"
>
  <ng-template ng-option-tmp let-item="item">
    <div class="d-flex align-items-center text-dark">
      <kep-icon class="me-1" type="duotone" size="medium-1" color="primary" [name]="item.icon"></kep-icon>
      <span>{{ item?.title }}</span>
      <span class="ms-auto text-muted small">{{ item?.contestsCount }}</span>
    </div>
  </ng-template>
</ng-select>
