<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <lesson-sidebar [courseLessons]="courseLessons" [course]="course"></lesson-sidebar>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-6">
          <div class="card">
            <div class="card-header">
              <h5 class="ard-title">
                <kep-icon color="primary" name="teacher" type="duotone"/>
                {{ 'Courses.Dictionary' | translate }}
              </h5>
              <a class="btn btn-sm btn-primary" routerLink="training">
                <kep-icon size="small-2" name="challenge"/>
                {{ 'Courses.Training' | translate }}
              </a>
            </div>
            <div class="table">
              <table class="table table-bordered">
                <thead>
                <tr class="bg-gradient-primary">
                  <th>{{ 'Courses.Keyword' | translate }}</th>
                  <th>{{ 'Courses.Meaning' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                  @for (keyword of courseDictionary; track keyword) {
                    <tr>
                      <td>
                        <span class="badge bg-primary">
                          {{ keyword.keyword }}
                        </span>
                      </td>
                      <td [innerHTML]="keyword.meaning"></td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
