@if (skeletonVisible) {
  <div class="item">
    <ngx-skeleton-loader
      count="1"
      animation="pulse"
      appearance="line"
      [theme]="{height: '167px', background: 'var(--skeleton-color)'}"
    ></ngx-skeleton-loader>
  </div>
} @else {
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        {{ 'Ratings' | translate }}
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <div class="card-header p-50">
            <div class="">
              <kep-icon class="font-small-4" name="contest"></kep-icon>
              {{ 'Menu.Contests' | translate }}
            </div>
          </div>

          <div class="card-body p-50">
            <contests-rating-image [size]="24" [title]="userRatings.contestsRatingTitle"></contests-rating-image>
            <span class="badge bg-{{ userRatings.contestsRating | contestsRatingColor }}-transparent">
              {{ userRatings.contestsRating }}
            </span>
          </div>
        </div>


        <div class="col-4">
          <div class="card-header p-50">
            <div class="">
              <kep-icon class="font-small-4" name="problem"></kep-icon>
              {{ 'Menu.Problems' | translate }}
            </div>
          </div>

          <div class="card-body p-50">
            <span class="badge bg-primary">
              {{ userRatings.problemsSolved }}
            </span>
            <span class="badge ms-1 bg-success-transparent">
              {{ userRatings.problemsRating }}
            </span>
          </div>
        </div>

        <div class="col-4">
          <div class="card-header p-50">
            <div class="">
              <kep-icon class="font-small-4" name="challenge"></kep-icon>
              {{ 'Menu.Challenges' | translate }}
            </div>
          </div>

          <div class="card-body p-50">
            <div class="text-{{ userRatings.challengesRankTitle | challengesRankColor }}">
              <span
                class="badge badge-pill badge-{{ userRatings.challengesRankTitle | challengesRankColor }}">
                {{ userRatings.challengesRankTitle }}
              </span>
              <span class="badge badge-light-{{ userRatings.challengesRankTitle | challengesRankColor }}">
                {{ userRatings.challengesRating }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
