@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

contest-card {
  .card.contest-card.custom-card {
    background: var(--bg-gradient) !important;
    // box-shadow: var(--box-shadow) !important;
    // border: 1px solid var(--bg);
    border: none;

    opacity: 1;
    transition: ease-in 0.2s;

    &:hover {
      transform: scale(1.02);
    }

    .card-bg {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      height: 100%;
      left: 0;
      opacity: .2;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      vertical-align: middle;

      // img {
      //   max-width: 100%;
      //   max-height: 100%;
      // }
    }


    .card-header, .card-body {
      @include media-breakpoint-up(md) {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .card-header {
      .contest-category {
        padding: 7px;
        border-radius: 20px;
        color: #fff;
        font-size: 1rem;
      }

      .category span {
        background: var(--bg) !important;
      }

      .card-title {
        margin-top: 1.5rem;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: var(--text-color);

        @include media-breakpoint-down(sm) {
          font-size: 2rem;
        }
      }
    }

    .card-body {
      display: grid;
      z-index: 1001;

      h3 {
        color: var(--text-color);
      }

      .already {
        position: absolute;
        top: -1rem;
        left: -1rem;
        transform: rotate(-19deg);
      }

      ::ng-deep .contest-time {
        z-index: 10;
      }

      ::ng-deep .contest-description {
        font-size: 1.125rem;
        z-index: 10;
        color: var(--text-color);

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    .card-footer {
      z-index: 1;
      border-top: 1px solid var(--bg);

      .registration {
        button, a {
          background: var(--bg) !important;
          border: var(--bg) !important;
        }
      }
    }

    .badge:not(.bg-success, .bg-danger) {
      background-color: var(--bg) !important;
    }
  }
}

::ng-deep contest-card .ngx-spinner-overlay > div {
  top: 63% !important;
}
