<kep-card

  [customClass]="contest | contestClasses">
  <a class="position-relative" [show]="contest.status == -1" new-feature [routerLink]="routerLink">
    @if (contest.logo) {
      <div class="card-bg" style="background-image: url('{{ contest.logo }}');">
      </div>
    }

    <div class="card-header d-block">
      <div class="d-flex justify-content-between">
        <div class="category">
          <span class="badge">
            {{ contest.categoryTitle | translate }}
          </span>
        </div>

        <div>
          @if (contest.isRated) {
            <span class="badge bg-success">{{ 'Rated' | translate }}</span>
          } @else {
            <span class="badge bg-danger">{{ 'Unrated' | translate }}</span>
          }
        </div>
      </div>
      <div class="card-title">
        {{ contest.title }}
      </div>
    </div>

    <div class="card-body">
      <div class="contest-description">
        <mathjax [content]="contest.description"></mathjax>
      </div>
      <div class="contest-time">
        @if (contest.status == 0) {
          <div>
            <h3 class="text-center mt-1 mb-1">
              {{ 'Contests.ContestEnds' | translate }}
            </h3>
            <span class="badge already bg-warning">
              {{ 'Now' | translate }}
            </span>
            <contest-countdown [clockColor]="'#fff'" [contest]="contest"></contest-countdown>
          </div>
        }

        @if (contest.status == -1) {
          <div>
            <h3 class="text-center mt-1 mb-1">
              {{ 'Contests.ContestStarts' | translate }}
            </h3>
            <contest-countdown [clockColor]="'#fff'" [contest]="contest"></contest-countdown>
          </div>
        }

        @if (contest.status == 1) {
          <div class="text-center">
            <h3 class="mb-1 mt-1" ngbTooltip="{{ contest.finishTime | localizedDate:'medium' }}">
              {{ 'Contests.ContestFinished' | translate }}
            </h3>
            @defer (on viewport) {
              <top3-contestants [contest]="contest"></top3-contestants>
            } @placeholder (minimum 500ms) {
              <div [style.height.px]="100">
                <div class="mt-2">
                  <spinner color="#fff"></spinner>
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </a>

  <div class="card-footer justify-content-between d-flex">
    <div class="meta-info text-center">
      <span class="badge me-1">
        <i data-feather="user"></i>
        @if (contest.status == -1) {
          <span ngbTooltip="{{ 'Registrants' | translate }}">
            {{ contest.registrantsCount }}
          </span>
        }
        @if (contest.status != -1) {
          <span ngbTooltip="{{ 'Contestants' | translate }}">
            {{ contest.contestantsCount }}
          </span>
        }
      </span>
      <span class="badge me-1" ngbTooltip="{{ 'Problems' | translate }}">
        <i [data-feather]="'problem' | iconName"></i>
        {{ contest.problemsCount }}
      </span>
      <span class="badge">
        {{ contest.type }}
      </span>
    </div>

    <div class="registration text-center">
      <!--Virtual contest-->
      @if (contest.isFinished()) {
        @if (!contest.userInfo.virtualContestPurchased) {
          <kepcoin-spend-swal
            [customContent]="true"
            [purchaseUrl]="'contests/' + contest.id + '/purchase-virtual-contest/'"
            [value]="5"
            (success)="virtualContestPurchaseSuccess()">
            <button class="btn btn-primary btn-sm round">
              <i [data-feather]="'contest' | iconName" [size]="16"></i>
              {{ 'Virtual' | translate }}
            </button>
          </kepcoin-spend-swal>
        }
        @if (contest.userInfo.virtualContestPurchased) {
          <button
            (click)="virtualContestStart()"
            class="btn btn-primary btn-sm">
            <i [data-feather]="'contest' | iconName" [size]="16"></i>
            {{ 'StartVirtual' | translate }}
          </button>
        }
      }

      @if (contest.id == 424 || contest.id == 425){
        @if (contest.userInfo.isRegistered) {
          <span
            ngbTooltip="{{ 'Cancel' | translate }}"
            rippleEffect
            class="badge bg-primary"
            (click)="cancelRegistration()">
            <kep-icon name="check" color="success" size="small-2"/>
            {{ 'Registered' | translate }}
          </span>
        } @else {
          <a
            href="https://revolution.uz/uz/revo-cup-2025"
            target="_blank"
            class="btn btn-sm bg-primary">
            <kep-icon size="small-2" name="username"/>
            {{ 'Contests.Register' | translate }}
          </a>
        }
      } @else {
        @if (contest.status != 1 && !contest.userInfo.virtualContestPurchased) {
          @if (contest.status != 0 && contest.isRated && contest.userInfo.isRegistered && !contest.userInfo.unratedContestPurchased) {
            <kepcoin-spend-swal
              [customContent]="true"
              [purchaseUrl]="'contests/' + contest.id + '/purchase-unrated-contest/'"
              [value]="10"
              class="me-1" ngbTooltip="{{ 'UnofficialParticipation' | translate }}"
              (success)="contest.userInfo.unratedContestPurchased=true;">
              <img height="25" src="assets/images/icons/unrated.png">
            </kepcoin-spend-swal>
          }
          @if (contest.userInfo.isRegistered && contest.isRated && contest.userInfo.unratedContestPurchased) {
            <img
              ngbTooltip="{{ 'Purchased' | translate }}"
              height="25" src="assets/images/icons/unrated.png" class="me-1">
          }
          @if (contest.userInfo.isRegistered) {
            <button
              ngbTooltip="{{ 'Cancel' | translate }}"
              rippleEffect
              class="btn btn-sm round btn-gradient-success"
              (click)="cancelRegistration()">
              <kep-icon name="check" color="success" size="small-4"/>
              {{ 'Registered' | translate }}
              <i data-feather="x" class="text-danger"></i>
            </button>
          }
          @if (!currentUser || !contest.userInfo.isRegistered) {
            <button
              rippleEffect
              class="btn btn-sm round btn-gradient-primary"
              (click)="openRegistrationModal()"
              style="color: #fff"
            >
              <kep-icon size="small-4" name="username"/>
              {{ 'Contests.Register' | translate }}
            </button>
          }
        }
      }
    </div>
  </div>
</kep-card>

<ng-template #registrationModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ contest.title }}</h5>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button">

    </button>
  </div>
  <div class="modal-body" tabindex="0">
    <label>{{ 'Team' | translate }}</label>
    <ng-select appendTo="body" [(ngModel)]="teamId" [clearable]="false">
      @for (team of userTeams; track team.id) {
        <ng-option [value]="team.id">
          <team-view-card [team]="team"/>
        </ng-option>
      }
    </ng-select>
  </div>
  <div class="modal-footer">
    <button (click)="registrationTeam()" [disabled]="!teamId" class="btn btn-primary btn-sm" rippleEffect>
      {{ 'Contests.Register' | translate }}
    </button>
  </div>
</ng-template>

<ng-select-css></ng-select-css>
