<div class="row">
  <div class="col-12">
    <div class="study-plan-page-top" style="background-image: url({{ studyPlan.icon }});"></div>

    <div  class="study-plan study-plan-{{ studyPlan.id }}">
      <div class="study-plan-header">
        <div class="study-plan-icon">
          <img width="90" src="{{ studyPlan.icon }}" alt="">
        </div>
        <div class="study-plan-title text-dark">
          {{ studyPlan.title }}
        </div>

        <div class="study-plan-description text-dark">
          <div [innerHTML]="studyPlan.description"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">

          @if (studyPlan.isPurchased) {
            <div class="study-plan-progress">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">
                    {{ 'Progress' | translate }}
                  </div>
                </div>
                <div class="card-body">
                  <div class="total">
                    <div class="chart">
                      @if (chartOptions) {
                        <apex-chart
                          [options]="chartOptions"
                        ></apex-chart>
                      }
                    </div>
                  </div>
                  <div class="difficulties">
                    <swiper [config]="swiperConfig" class="swiper" height="200">
                      @if (difficulties?.allBeginner) {
                        <div class="swiper-slide">
                          <div class="difficulty">
                            <div class="d-flex justify-content-between info">
                              <div class="title">
                                {{ 'Beginner' | translate }}
                              </div>
                              <div class="solved">
                                <strong
                                  class="text-{{ 1 | problemDifficultyColor }}">{{ difficulties.beginner }}</strong>
                                /
                                {{ difficulties.allBeginner }}
                              </div>
                            </div>
                            <div class="mt-2 progress-wrapper">
                              <ngb-progressbar type="{{ 1 | problemDifficultyColor }}"
                                               [value]="100 * difficulties.beginner / difficulties.allBeginner"></ngb-progressbar>
                            </div>
                          </div>
                        </div>
                      }
                      @if (difficulties?.allBasic) {
                        <div class="swiper-slide">
                          <div class="difficulty">
                            <div class="d-flex justify-content-between info">
                              <div class="title">
                                {{ 'Basic' | translate }}
                              </div>
                              <div class="solved">
                                <strong class="text-{{ 2 | problemDifficultyColor }}">{{ difficulties.basic }}</strong>
                                /
                                {{ difficulties.allBasic }}
                              </div>
                            </div>
                            <div class="mt-2 progress-wrapper">
                              <ngb-progressbar type="{{ 2 | problemDifficultyColor }}"
                                               [value]="100 * difficulties.basic / difficulties.allBasic"></ngb-progressbar>
                            </div>
                          </div>
                        </div>
                      }
                      @if (difficulties?.allNormal) {
                        <div class="swiper-slide">
                          <div class="difficulty">
                            <div class="d-flex justify-content-between info">
                              <div class="title">
                                {{ 'Normal' | translate }}
                              </div>
                              <div class="solved">
                                <strong class="text-{{ 3 | problemDifficultyColor }}">{{ difficulties.normal }}</strong>
                                /
                                {{ difficulties.allNormal }}
                              </div>
                            </div>
                            <div class="mt-2 progress-wrapper">
                              <ngb-progressbar type="{{ 3 | problemDifficultyColor }}"
                                               [value]="100 * difficulties.normal / difficulties.allNormal"></ngb-progressbar>
                            </div>
                          </div>
                        </div>
                      }
                      @if (difficulties?.allMedium) {
                        <div class="swiper-slide">
                          <div class="difficulty">
                            <div class="d-flex justify-content-between info">
                              <div class="title">
                                {{ 'Medium' | translate }}
                              </div>
                              <div class="solved">
                                <strong class="text-{{ 4 | problemDifficultyColor }}">{{ difficulties.medium }}</strong>
                                /
                                {{ difficulties.allMedium }}
                              </div>
                            </div>
                            <div class="mt-2 progress-wrapper">
                              <ngb-progressbar type="{{ 4 | problemDifficultyColor }}"
                                               [value]="100 * difficulties.medium / difficulties.allMedium"></ngb-progressbar>
                            </div>
                          </div>
                        </div>
                      }
                      @if (difficulties?.allAdvanced) {
                        <div class="swiper-slide">
                          <div class="difficulty">
                            <div class="d-flex justify-content-between info">
                              <div class="title">
                                {{ 'Advanced' | translate }}
                              </div>
                              <div class="solved">
                                <strong
                                  class="text-{{ 5 | problemDifficultyColor }}">{{ difficulties.advanced }}</strong>
                                /
                                {{ difficulties.allAdvanced }}
                              </div>
                            </div>
                            <div class="mt-2 progress-wrapper">
                              <ngb-progressbar type="{{ 5 | problemDifficultyColor }}"
                                               [value]="100 * difficulties.advanced / difficulties.allAdvanced"></ngb-progressbar>
                            </div>
                          </div>
                        </div>
                      }
                      @if (difficulties?.allHard) {
                        <div class="swiper-slide">
                          <div class="difficulty">
                            <div class="d-flex justify-content-between info">
                              <div class="title">
                                {{ 'Hard' | translate }}
                              </div>
                              <div class="solved">
                                <strong class="text-{{ 6 | problemDifficultyColor }}">{{ difficulties.hard }}</strong>
                                /
                                {{ difficulties.allHard }}
                              </div>
                            </div>
                            <div class="mt-2 progress-wrapper">
                              <ngb-progressbar type="{{ 6 | problemDifficultyColor }}"
                                               [value]="100 * difficulties.hard / difficulties.allHard"></ngb-progressbar>
                            </div>
                          </div>
                        </div>
                      }
                      @if (difficulties?.allExtremal) {
                        <div class="swiper-slide">
                          <div class="difficulty">
                            <div class="d-flex justify-content-between info">
                              <div class="title">
                                {{ 'Extremal' | translate }}
                              </div>
                              <div class="solved">
                                <strong
                                  class="text-{{ 7 | problemDifficultyColor }}">{{ difficulties.extremal }}</strong>
                                /
                                {{ difficulties.allExtremal }}
                              </div>
                            </div>
                            <div class="mt-2 progress-wrapper">
                              <ngb-progressbar type="{{ 7 | problemDifficultyColor }}"
                                               [value]="100 * difficulties.extremal / difficulties.allExtremal"></ngb-progressbar>
                            </div>
                          </div>
                        </div>
                      }
                    </swiper>
                  </div>
                </div>
              </div>
            </div>
          }

          @if (!studyPlan.isPurchased) {
            <div class="mb-2">
              <div class="d-flex justify-content-center">
                <div class="study-plan-meta d-flex justify-content-between">
                  <div class="info font-large-1" ngbTooltip="{{ 'Topics' | translate }}">
                    <i data-feather="activity" [size]="24"></i>
                    {{ studyPlan.daysCount }}
                  </div>
                  <div class="info font-large-1 ms-2" ngbTooltip="{{ 'Problems' | translate }}">
                    <i [data-feather]="'problem' | iconName" [size]="24"></i>
                    {{ studyPlan.problemsCount }}
                  </div>
                </div>
                <div class="purchase-button">
                  <kepcoin-spend-swal
                    [customContent]="true"
                    [purchaseUrl]="'study-plans/' + studyPlan.id + '/purchase/'"
                    (success)="purchaseSuccess()"
                    [value]="studyPlan.kepcoinValue">
                    <button class="ms-1 mt-2 text-white btn btn-success btn-sm">
                      {{ 'Purchase' | translate }}
                    </button>
                  </kepcoin-spend-swal>
                </div>
              </div>
            </div>
          }

          <div  class="study-plan-days">
            @for (day of studyPlan.days; track day) {
              <div class="study-plan-day">
                <div class="study-plan-day-title text-secondary">
                  <span class="title text-dark">{{ day.title }}</span>
                </div>
                <div class="study-plan-day-description">
                  <div [innerHTML]="day.description"></div>
                </div>
                @if (day.problems?.length > 0) {
                  <div class="card">
                    <div class="problems">
                      @for (problem of day.problems; track problem) {
                        <div class="problem" [ngClass]="{
                    'bg-success-transparent': problem?.hasSolved,
                    'bg-light-danger': !problem?.hasSolved && problem?.hasAttempted
                  }">
                          <div class="problem-title text-dark">
                            {{ problem.id }}. {{ problem.title }}
                            <div class="problem-tags">
                              @for (tag of problem.tags; track tag) {
                                <span class="badge problem-tag badge-pill">
                                  {{ tag.name }}
                                </span>
                              }
                            </div>
                          </div>
                          <div class="problem-difficulty">
                            <span
                              class="badge badge-pill badge-{{ problem.difficulty | problemDifficultyColor }}">
                              {{ problem.difficultyTitle | translate }}
                            </span>
                          </div>
                          <div class="problem-rating d-block">
                            <div class="likes-count">
                              <i data-feather="thumbs-up"></i>
                              {{ problem.likesCount }}
                            </div>
                            <div class="dislikes-count">
                              <i data-feather="thumbs-down"></i>
                              {{ problem.dislikesCount }}
                            </div>
                          </div>
                          <div class="problem-button">
                            <a [routerLink]="Resources.Problem | resourceById:problem.id"
                               [queryParams]="{'study-plan': studyPlan.id}"
                               rippleEffect class="text-white btn btn-primary btn-sm">
                              {{ 'Solve' | translate }}
                            </a>
                          </div>
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>

        <div class="col-lg-3 col-12">
          <h3 class="text-dark mb-1">{{ 'StudyPlans' | translate }}</h3>
          <study-plan-card [studyPlan]="studyPlan"></study-plan-card>
        </div>
      </div>
    </div>
  </div>
</div>
