<div class="layout-navbar">
  <div class="content-wrapper container-xl p-2 p-xl-0">
    <div class="content-body">
      <div id="navbar" class="navbar">
        <div class="left">
          <div class="brand">
            <christmas-tree/>

            <span class="brand-logo">
              <logo [size]="48"/>
            </span>
            <h2 class="brand-text text-dark ms-1 fw-medium mb-0">KEP.uz</h2>
          </div>

          <div class="navbar-menu d-lg-flex d-none">
            <div class="nav-item">
              <a (click)="scrollTo('section-header')" class="nav-link text-dark">
                {{ 'Menu.Home' | translate }}
              </a>
            </div>
            <div class="nav-item">
              <a (click)="scrollTo('section-features')" class="nav-link text-dark">
                {{ 'Features' | translate }}
              </a>
            </div>
            <div class="nav-item">
              <a (click)="scrollTo('section-reviews')" class="nav-link text-dark">
                {{ 'Reviews' | translate }}
              </a>
            </div>
            <div class="nav-item">
              <a (click)="scrollTo('section-faq')" class="nav-link text-dark">
                {{ 'Faq' | translate }}
              </a>
            </div>
            <div class="nav-item">
              <a (click)="scrollTo('section-contact-us')" class="nav-link text-dark">
                {{ 'ContactUs' | translate }}
              </a>
            </div>
          </div>
        </div>

        <div class="right">
          <div class="login-btn">
            <a aria-label="Logout" [routerLink]="Resources.Login"
               class="btn btn-primary d-flex justify-content-between align-items-center" [ngClass.lt-md]="'btn-sm'">
              <kep-icon name="login"></kep-icon>
              <span class="d-md-block d-none">
                {{ 'Login' | translate }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
