@import 'styles/kep-imports';

.layout-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto !important;
  z-index: 9999;
}

.navbar {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, .5);
  border: 1px solid rgba(255, 255, 255, .7);
  transition: 0.2s ease-in;

  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }

  @include dark-layout {
    background-color: rgba(255, 255, 255, .04);
    border: 1px solid rgba(255, 255, 255, .08);
  }

  &.navbar-active {
    background: white;
    border: 1px solid rgba(255, 255, 255, .9);

    @include dark-layout {
      background-color: rgba(0, 0, 0, .8);
      border: 1px solid rgba(0, 0, 0, .8);
    }
  }

  .left {
    display: flex;
    justify-content: space-between;

    .brand {
      display: flex;
      align-items: center;
    }

    .navbar-menu {
      margin-left: 2rem;
      display: flex;
      align-items: center;
      justify-content: start;

      .nav-item {
        margin-right: 1rem;
      }
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .switch {
      display: flex;
      align-items: center;
    }
  }
}
