<app-content-header [contentHeader]="contentHeader"></app-content-header>

@if (isLoading) {
  <kep-card [cardHeight]="'320px'">
    <div class="card-body d-flex align-items-center justify-content-center">
      <spinner></spinner>
    </div>
  </kep-card>
} @else if (statistics) {
  <contests-user-statistics-cards [cards]="generalCards"></contests-user-statistics-cards>

  <contests-user-statistics-cards
    [cards]="overviewCards"
    iconClass="text-primary"
    [valueSubtitleInline]="true"
  ></contests-user-statistics-cards>

  <contests-user-statistics-highlight-cards [cards]="highlightCards"></contests-user-statistics-highlight-cards>

  <div class="row">
    <div class="col-12">
      <contests-user-statistics-chart-card
        titleKey="Contests.UserStatistics.RatingChangesHistory"
        [chart]="ratingChangesChart"
      ></contests-user-statistics-chart-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <contests-user-statistics-contest-cards
        titleKey="Contests.UserStatistics.ContestRanks"
        [cards]="contestRankCards"
      ></contests-user-statistics-contest-cards>
    </div>
    <div class="col-lg-6">
      <contests-user-statistics-contest-cards
        titleKey="Contests.UserStatistics.RatingChanges"
        [cards]="contestDeltaCards"
        [valueClassFn]="contestDeltaValueClass"
      ></contests-user-statistics-contest-cards>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <contests-user-statistics-chart-card
        titleKey="Contests.AttemptsTimeline"
        [chart]="timelineChart"
      >
        <ng-container header-extra>
          <div class="text-muted small">
            {{ statistics.overview.totalAttempts | number }} {{ 'Attempts' | translate }}
          </div>
        </ng-container>
      </contests-user-statistics-chart-card>
    </div>
    <div class="col-lg-4">
      <contests-user-statistics-chart-card
        titleKey="Contests.UserStatistics.Languages"
        [chart]="languagesChart"
      ></contests-user-statistics-chart-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <contests-user-statistics-chart-card
        titleKey="Contests.VerdictDistribution"
        [chart]="verdictsChart"
        cardHeight="360px"
        customClass="d-flex flex-column chart-card"
        bodyClass="card-body"
        noDataClass="text-center text-muted"
      ></contests-user-statistics-chart-card>
    </div>
    <div class="col-lg-4">
      <contests-user-statistics-chart-card
        titleKey="Contests.UserStatistics.Tags"
        [chart]="tagsChart"
        cardHeight="360px"
        customClass="d-flex flex-column chart-card"
        bodyClass="card-body"
        noDataClass="text-center text-muted"
      ></contests-user-statistics-chart-card>
    </div>
    <div class="col-lg-4">
      <contests-user-statistics-chart-card
        titleKey="Contests.UserStatistics.Symbols"
        [chart]="symbolsChart"
        cardHeight="360px"
        customClass="d-flex flex-column chart-card"
        bodyClass="card-body"
        noDataClass="text-center text-muted"
      ></contests-user-statistics-chart-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <contests-user-statistics-unsolved-problems
        [problems]="statistics.unsolvedProblems"
      ></contests-user-statistics-unsolved-problems>
    </div>
    <div class="col-lg-6">
      <contests-user-statistics-top-attempts
        [attempts]="statistics.topAttempts"
      ></contests-user-statistics-top-attempts>
    </div>
  </div>

  <contests-user-statistics-worthy-opponents
    *ngIf="topOpponents.length"
    [opponents]="topOpponents"
  ></contests-user-statistics-worthy-opponents>
}
