@import 'styles/kep-imports';
@import 'styles/colors/study-plans';

.study-plan-1 .card {
  background: linear-gradient(to right, lighten($study-plan-1, 5), lighten($study-plan-1, 25)) !important;

  @include dark-layout {
    background: linear-gradient(to right, darken($study-plan-1, 25), darken($study-plan-1, 20)) !important;
  }
}

.study-plan-2 .card {
  background: linear-gradient(to right, mix(white, $study-plan-2, 5), mix(white, $study-plan-2, 25)) !important;

  @include dark-layout {
    background: linear-gradient(to right, mix(black, $study-plan-2, 55), mix(black, $study-plan-2, 45)) !important;
  }
}

.study-plan-3 .card {
  background: linear-gradient(to right, mix(white, $study-plan-3, 5), mix(white, $study-plan-3, 25)) !important;

  @include dark-layout {
    background: linear-gradient(to right, mix(black, $study-plan-3, 40), mix(black, $study-plan-3, 30)) !important;
  }
}

@keyframes cardAnimation {
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.98);
  }
}

a {
  transform: scale(0.98);
  height: 300px;
  display: block;

  .on-hover {
    display: none;
  }

  &:hover {
    animation: cardAnimation 0.5s;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);

    .on-hover {
      display: inherit;
    }
  }

  .card {
    height: 100%;
    border: none;

    .card-header {
      padding: 34px 33px 0 33px;

      .study-plan-title {
        color: #fff;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.1;
        letter-spacing: 0;
        margin-top: 14px;
      }

      .study-plan-description {
        color: #fff;
        opacity: 0.6;
        font-size: 11px;
        letter-spacing: 0.7px;
      }
    }

    .study-plan-icon {
      img {
        position: absolute;
        right: 15px;
        height: 120px;
        bottom: 15px;
        z-index: 1;
      }
    }
  }
}

.study-plan-2 {
  img {
    width: 40%;
    height: auto !important;
    bottom: 20px !important;
  }
}
