<!-- app-header -->
<header class="app-header sticky">

  <!-- Start::main-header-container -->
  <div class="main-header-container container-fluid">

    <div class="header-content-left">
      <div (click)="toggleSidebar()" class="header-element mx-lg-0 mx-2" href="javascript:void(0);">
        <a class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle"><span></span></a>
      </div>

      <div class="header-element">
        <div class="horizontal-logo ms-lg-4">
          <a [routerLink]="''" class="header-logo">
            <logo [size]="48"/>
            <span class="d-none d-lg-block">
              KEP.uz
            </span>
          </a>
        </div>
      </div>
    </div>

    <ul class="header-content-right gap-lg-2">
      <languages/>

      <li class="header-element header-fullscreen">
        <a (click)="toggleThemeMode()" class="header-link p-0" href="javascript:void(0);">
          <kep-icon class="header-link-icon" size="small-4" [name]="appStateService.getCurrentValue().themeMode == 'light' ? 'moon' : 'sun'"/>
        </a>
      </li>

      @if (isAuthenticated) {
        <header-notifications/>
        <header-kepcoin/>
        <header-daily-tasks/>

        <li class="header-element dropdown" ngbDropdown>
          <a
            href="javascript:void(0);"
            aria-expanded="false"
            class="header-link p-0 dropdown-toggle"
            data-bs-auto-close="outside"
            data-bs-toggle="dropdown"
            ngbDropdownToggle>
            <div class="header-link-icon d-flex align-items-center gap-2" style="width: inherit">
              <span>{{ currentUser.username }}</span>
              <img alt="img" class="avatar avatar-sm rounded-0" [src]="currentUser.avatar">
            </div>
          </a>
          <ul ngbDropdownMenu aria-labelledby="navbarUserDropdown" class="dropdown-menu dropdown-menu-end">
            <a ngbDropdownItem [routerLink]="Resources.UserProfile | resourceByUsername:currentUser?.username">
              <kep-icon size="small-4" name="user" type="duotone"/>
              {{ 'Profile' | translate }}
            </a>
            <a ngbDropdownItem [routerLink]="[Resources.Settings]">
              <span [data-feather]="'settings'" [class]="'me-1'"></span>
              {{ 'SettingsMenu' | translate }}
            </a>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem (click)="authService.logout()">
              <span [data-feather]="'power'" [class]="'me-1'"></span>
              {{ 'Logout' | translate }}
            </button>
          </ul>
        </li>
      } @else {
        <li class="header-element">
          <a style="width: initial;" aria-label="Logout" class="header-link-icon d-flex justify-content-between align-items-center" [routerLink]="Resources.Login">
            <kep-icon name="login" size="small-2"></kep-icon>
            {{ 'Login' | translate }}
          </a>
        </li>
      }

      <li class="header-element">
        <a
          (click)="toggleSwitcher()"
          class="header-link switcher-icon p-0"
          data-bs-target="#switcher-canvas"
          data-bs-toggle="offcanvas"
          href="javascript:void(0);">
          <i class="bi bi-gear header-link-icon border-0"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
