<div class="content-wrapper container-xxl p-0 mb-2">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul class="nav nav-pills tab-style-7 flex-column nav-left" ngbNav>
            <li class="nav-item">
              <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="[Resources.Settings]"
                 class="nav-link fw-medium" routerLinkActive="active">
                <i class="font-medium-4 me-1" data-feather="user"></i>
                <span>{{ 'Settings.General' | translate }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[Resources.SettingsChangePassword]" class="nav-link fw-medium" routerLinkActive="active">
                <i class="font-medium-4 me-1" data-feather="lock"></i>
                <span>{{ 'Settings.ChangePassword' | translate }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[Resources.SettingsInformation]" class="nav-link fw-medium" routerLinkActive="active">
                <i class="font-medium-4 me-1" data-feather="info"></i>
                <span>{{ 'Settings.Information' | translate }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[Resources.SettingsSocial]" class="nav-link fw-medium" routerLinkActive="active">
                <i class="font-medium-4 me-1" data-feather="link"></i>
                <span>{{ 'Settings.Social' | translate }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[Resources.SettingsSkills]" class="nav-link fw-medium" routerLinkActive="active">
                <i class="font-medium-4 me-1" data-feather="activity"></i>
                <span>{{ 'Settings.Skills' | translate }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[Resources.SettingsCareer]" class="nav-link fw-medium" routerLinkActive="active">
                <i class="font-medium-4 me-1" data-feather="trending-up"></i>
                <span>{{ 'Settings.Career' | translate }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[Resources.SettingsTeams]" class="nav-link fw-medium" routerLinkActive="active">
                <i class="font-medium-4 me-1" data-feather="users"></i>
                <span>{{ 'Settings.Teams' | translate }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[Resources.SettingsSystem]" class="nav-link me-2 fw-medium" routerLinkActive="active">
                <i class="font-medium-4 me-1" data-feather="settings"></i>
                <span>{{ 'Settings.System' | translate }}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  </div>
</div>
