<div class="contests-colors {{ contest | contestClasses }}">
  <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs" [(activeId)]="activeId">
    <li ngbNavItem>
      <a class="nav-link" [routerLink]="Resources.Contest | resourceById:contest?.id"
         [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
        <kep-icon name="contest"></kep-icon>
        {{ 'Contests.Contest' | translate }}</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    @if (contest?.status === ContestStatus.NOT_STARTED) {
      <li ngbNavItem>
        <a class="nav-link" [routerLink]="Resources.ContestRegistrants | resourceById:contest?.id"
           [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
          <kep-icon name="users"></kep-icon>
          {{ 'Registrants' | translate }}</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    }
    @if (contest?.status !== ContestStatus.NOT_STARTED) {
      <li ngbNavItem>
        <a class="nav-link" [routerLink]="Resources.ContestProblems | resourceById:contest?.id"
           routerLinkActive="active">
          <kep-icon name="problem"></kep-icon>
          {{ 'Problems' | translate }}</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    }
    @if (contest?.status !== ContestStatus.NOT_STARTED) {
      <li ngbNavItem>
        <a class="nav-link" [routerLink]="Resources.ContestAttempts | resourceById:contest?.id"
           routerLinkActive="active">
          <kep-icon name="attempt"></kep-icon>
          {{ 'Attempts' | translate }}</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    }
    @if (contest?.status !== ContestStatus.NOT_STARTED) {
      <li ngbNavItem>
        <a class="nav-link" [routerLink]="Resources.ContestStandings | resourceById:contest?.id"
           routerLinkActive="active">
          <kep-icon name="ranking"></kep-icon>
          {{ 'Contests.Standings' | translate }}</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    }
    @if (contest?.status === ContestStatus.FINISHED && contest?.isRated) {
      <li ngbNavItem>
        <a class="nav-link" [routerLink]="Resources.ContestRatingChanges | resourceById:contest?.id"
           routerLinkActive="active">
          <kep-icon name="rating-changes"></kep-icon>
          {{ 'Contests.RatingChanges' | translate }}</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    }
    @if (contest?.status !== ContestStatus.NOT_STARTED) {
      <li ngbNavItem>
        <a class="nav-link" [routerLink]="Resources.ContestStatistics | resourceById:contest?.id"
           routerLinkActive="active">
          <kep-icon name="statistics"></kep-icon>
          {{ 'Statistics' | translate }}</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    }
    @if (contest?.status !== ContestStatus.NOT_STARTED) {
      <li ngbNavItem>
        <a class="nav-link" [routerLink]="Resources.ContestQuestions | resourceById:contest?.id"
           routerLinkActive="active">
          <kep-icon name="question"></kep-icon>
          {{ 'Questions' | translate }}</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    }
  </ul>
</div>

<div [ngbNavOutlet]="navWithIcons"></div>
