<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="challenges">
      <div class="row">
        <div class="col-lg-3 col-12">
          <section-profile></section-profile>
        </div>

        <div class="col-lg-9 col-12">
          <section-rating-changes></section-rating-changes>
          <section-last-challenges></section-last-challenges>
        </div>
      </div>
    </section>
  </div>
</div>
