<div class="content-wrapper container-xxl p-0 {{ contest | contestClasses }}">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div class="col-lg-9 col-md-12 col-sm-12 order-2 order-lg-1">
        <kep-card>
          <div class="card-header p-1">
            <contest-tab [contest]="contest"></contest-tab>
          </div>
        </kep-card>
        <kep-table tableClass="table-striped">
          <ng-container header>
            <tr>
              <th>#</th>
              <th>{{ 'Title' | translate }}</th>
              <th></th>
            </tr>
          </ng-container>
          <ng-container body>
            @for (contestProblem of contestProblems; track contestProblem) {
              <tr>
                <td>
                  <a [routerLink]="['..', 'problem', contestProblem.symbol]">
                    <u class="fw-semibold text-primary">{{ contestProblem.symbol }}</u>
                  </a>
                </td>
                <td>
                  <a [routerLink]="['..', 'problem', contestProblem.symbol]">
                    <u class="fw-semibold text-primary">{{ contestProblem.problem.title }}</u>
                  </a>

                  <div class="d-flex justify-content-start gap-1">
                    <span class="text-muted">
                      {{ contestProblem.problem.timeLimit }} {{ 'Ms' | translate }}
                    </span>
                    /
                    <span class="text-muted">
                      {{ contestProblem.problem.memoryLimit }} {{ 'Mb' | translate }}
                    </span>
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-end">
                    <span class="text-success">
                      {{ contestProblem.solved }}
                      <i data-feather="user-check"></i>
                    </span>
                    <span class="text-danger ms-1">
                      {{ contestProblem.attemptUsersCount - contestProblem.solved }}
                      <i data-feather="user-x"></i>
                    </span>
                  </div>
                </td>
              </tr>
            }
          </ng-container>
        </kep-table>

      </div>

      <div class="col-lg-3 col-md-12 col-sm-12 order-1 order-lg-2">
        <contest-card-countdown *ngIf="contest" [contest]="contest"></contest-card-countdown>
      </div>
    </div>
  </div>
</div>
