<div class="content-wrapper container-xxl p-0 {{ contest | contestClasses }}">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"/>

    <div class="row">
      <div  class="col-lg-9 col-md-12 col-sm-12 order-2 order-lg-1">
        <kep-card>
          <div class="card-header p-1">
            <contest-tab [contest]="contest"/>
          </div>
        </kep-card>

        @if (isLoading && !total) {
          <div class="card" [style.height.px]="400">
            <spinner></spinner>
          </div>
        } @else if (attempts.length == 0) {
          <empty-result text=""/>
        } @else {
          <attempts-table [attempts]="attempts" [contest]="contest" [hideSourceCodeSize]="true"></attempts-table>
          <kep-pagination
            (pageChange)="pageChange($event)"
            (pageSizeChange)="pageSizeChange($event)"
            [collectionSize]="total"
            [maxSize]="maxSize"
            [pageOptions]="pageOptions"
            [pageSize]="pageSize"
            [disabled]="isLoading"
            [page]="pageNumber">
          </kep-pagination>
        }
      </div>

      <div  class="col-lg-3 col-md-12 col-sm-12 order-1 order-lg-2">
        <contest-card-countdown *ngIf="contest" [contest]="contest"/>
        <contest-attempts-filter [contest]="contest" (filterChange)="filterApply($event)"/>
      </div>
    </div>
  </div>
</div>

<ng-select-css></ng-select-css>
