<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <kep-card>
                <div class="card-body">
                  <h4 class="text-center">
                    <b>
                      {{ 'Daily' | translate }}
                    </b>
                  </h4>
                  <hr>
                  <div class="text-success text-center">
                    <b>
                      {{ 'BestResult' | translate }}:
                    </b>
                  </div>
                  @if (dailyBestResult) {
                    <div class="text-center">
                      <ng-component [innerHTML]="dailyBestResult.contestsRatingTitle | contestsRatingImg">
                      </ng-component>
                      <user-popover [username]="dailyBestResult.username"></user-popover>
                      —
                      <span class="badge bg-success">
                        {{ dailyBestResult.result }}
                      </span>
                      <span class="ms-1 badge bg-success-transparent">
                        {{ dailyBestResult.date | date:'MMM d, y' }}
                      </span>
                    </div>
                  }
                  <div class="table-responsive mt-1">
                    <table class="table">
                      <thead>
                      <tr class="bg-success-transparent">
                        <th class="text-center"><i [data-feather]="'calendar'"></i></th>
                        <th>{{ 'User' | translate }}</th>
                        <th class="text-center"><i [data-feather]="'problem' | iconName"></i></th>
                      </tr>
                      </thead>
                      <tbody>
                        @for (ratingHistory of dailyRatingHistory; track ratingHistory) {
                          <tr
                            [ngClass]="{'bg-success-transparent': currentUser?.username == ratingHistory.username }">
                            <td class="text-center">
                              <span class="badge bg-success-transparent">
                                {{ ratingHistory.date | date:'dd/MM/y' }}
                              </span>
                            </td>
                            <td>
                              <ng-component [innerHTML]="ratingHistory.contestsRatingTitle | contestsRatingImg">
                              </ng-component>
                              <user-popover [username]="ratingHistory.username"></user-popover>
                            </td>
                            <td class="text-center">
                              <span class="badge bg-success">
                                {{ ratingHistory.result }}
                              </span>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>

                  <kep-pagination
                    [collectionSize]="dailyRatingHistoryTotal"
                    [(page)]="dailyRatingHistoryPage"
                    [pageSize]="20"
                    [maxSize]="5"
                    (pageChange)="reloadDailyHistoryPage()">
                  </kep-pagination>
                </div>

              </kep-card>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
              <kep-card>
                <div class="card-body">
                  <h4 class="text-center">
                    <b>
                      {{ 'Weekly' | translate }}
                    </b>
                  </h4>
                  <hr>
                  <div class="text-info text-center">
                    <b>
                      {{ 'BestResult' | translate }}:
                    </b>
                  </div>
                  @if (weeklyBestResult) {
                    <div class="text-center">
                      <ng-component [innerHTML]="weeklyBestResult.contestsRatingTitle | contestsRatingImg">
                      </ng-component>
                      <user-popover [username]="weeklyBestResult.username"></user-popover>
                      —
                      <span class="badge bg-info">
                        {{ weeklyBestResult.result }}
                      </span>
                      <span class="ms-1 badge bg-info-transparent">
                        {{ weeklyBestResult.date | date:'MMM d, y' }}
                      </span>
                    </div>
                  }
                  <div class="table-responsive mt-1">
                    <table class="table">
                      <thead>
                      <tr class="bg-info-transparent">
                        <th class="text-center"><i [data-feather]="'calendar'"></i></th>
                        <th>{{ 'User' | translate }}</th>
                        <th class="text-center"><i [data-feather]="'problem' | iconName"></i></th>
                      </tr>
                      </thead>
                      <tbody>
                        @for (ratingHistory of weeklyRatingHistory; track ratingHistory) {
                          <tr
                            [ngClass]="{'bg-info-transparent': currentUser?.username == ratingHistory.username }">
                            <td class="text-center">
                              <span class="badge bg-info-transparent">
                                {{ ratingHistory.date | date:'dd/MM/y' }}
                              </span>
                            </td>
                            <td>
                              <ng-component [innerHTML]="ratingHistory.contestsRatingTitle | contestsRatingImg">
                              </ng-component>
                              <user-popover [username]="ratingHistory.username"></user-popover>
                            </td>
                            <td class="text-center">
                              <span class="badge bg-info">
                                {{ ratingHistory.result }}
                              </span>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>

                  <kep-pagination
                    [collectionSize]="weeklyRatingHistoryTotal"
                    [(page)]="weeklyRatingHistoryPage"
                    [pageSize]="20"
                    [maxSize]="5"
                    (pageChange)="reloadWeeklyHistoryPage()">
                  </kep-pagination>
                </div>

              </kep-card>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
              <kep-card>
                <div class="card-body">
                  <h4 class="text-center">
                    <b>
                      {{ 'Monthly' | translate }}
                    </b>
                  </h4>
                  <hr>
                  <div class="text-primary text-center">
                    <b>
                      {{ 'BestResult' | translate }}:
                    </b>
                  </div>
                  @if (monthlyBestResult) {
                    <div class="text-center">
                      <ng-component [innerHTML]="monthlyBestResult.contestsRatingTitle | contestsRatingImg">
                      </ng-component>
                      <user-popover [username]="monthlyBestResult.username"></user-popover>
                      —
                      <span class="badge bg-primary">
                        {{ monthlyBestResult.result }}
                      </span>
                      <span class="ms-1 badge bg-primary-transparent">
                        {{ monthlyBestResult.date | date:'MMM d, y' }}
                      </span>
                    </div>
                  }
                  <div class="table-responsive mt-1">
                    <table class="table">
                      <thead>
                      <tr class="bg-primary-transparent">
                        <th class="text-center"><i [data-feather]="'calendar'"></i></th>
                        <th>{{ 'User' | translate }}</th>
                        <th class="text-center"><i [data-feather]="'problem' | iconName"></i></th>
                      </tr>
                      </thead>
                      <tbody>
                        @for (ratingHistory of monthlyRatingHistory; track ratingHistory) {
                          <tr
                            [ngClass]="{'bg-primary-transparent': currentUser?.username == ratingHistory.username }">
                            <td class="text-center">
                              <span class="badge bg-primary-transparent">
                                {{ ratingHistory.date | date:'dd/MM/y' }}
                              </span>
                            </td>
                            <td>
                              <ng-component [innerHTML]="ratingHistory.contestsRatingTitle | contestsRatingImg">
                              </ng-component>
                              <user-popover [username]="ratingHistory.username"></user-popover>
                            </td>
                            <td class="text-center">
                              <span class="badge bg-primary">
                                {{ ratingHistory.result }}
                              </span>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>

                  <kep-pagination
                    [collectionSize]="monthlyRatingHistoryTotal"
                    [(page)]="monthlyRatingHistoryPage"
                    [pageSize]="20"
                    [maxSize]="5"
                    (pageChange)="reloadMonthlyHistoryPage()">
                  </kep-pagination>
                </div>

              </kep-card>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>
