<kep-card>
  <div class="card-header">
    <div class="card-title">
      {{ 'Activity' | translate }}
    </div>

    <div aria-label="Select days" class="btn-group btn-group-sm" role="group">
      @for (option of allowedDays; track option) {
        <input
          type="radio"
          class="btn-check"
          [value]="option"
          [checked]="option === selectedDays"
          name="activityDays"
          [id]="'activity-' + option"
          (change)="onDaysChange(option)"
        >
        <label class="btn btn-outline-primary" [class.active]="option === selectedDays" [for]="'activity-' + option">
          {{ option }}
        </label>
      }
    </div>
  </div>

  <div class="card-body">
    <kep-icon class="text-primary font-medium-2" name="activity"></kep-icon>
    <div>
      <div class="text-uppercase text-muted fw-bold small"></div>
      <div class="fw-bold">{{ solved | number }} {{ 'Problems' | translate }}</div>
    </div>

    <div class="activity-content">
      @if (activityChart) {
        <apex-chart [options]="activityChart"></apex-chart>
      } @else {
        <div class="empty-state text-center py-3 text-muted">
          No data
        </div>
      }
    </div>
  </div>
</kep-card>
