<kep-card>
  <div class="card-header">
    <div class="d-flex">
      <div class="card-title">
        {{ 'Rating' | translate }}
      </div>
    </div>

    <ng-select appendTo="body" [clearable]="false" (change)="changeOrdering($event)" [(ngModel)]="topAttemptsOrdering">
      <ng-option [value]="'time'">{{ 'Time' | translate }}</ng-option>
      <ng-option [value]="'memory'">{{ 'Memory' | translate }}</ng-option>
      <ng-option [value]="'sourceCodeSize'">{{ 'Size' | translate }}</ng-option>
    </ng-select>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>{{ 'User' | translate }}</th>
        <th>{{ 'Result' | translate }}</th>
      </tr>
      </thead>
      <tbody>
        @for (attempt of topAttemptsList; track $index) {
          <tr>
            <td class="text-nowrap">
              <contestant-view [imgSize]="28" [user]="attempt"></contestant-view>
            </td>
            <td class="text-center">
              <span>
                @switch (topAttemptsOrdering) {
                  @case ('time') {
                    <span class="badge bg-info">
                      {{ attempt.time }}
                    </span>
                  }
                  @case ('memory') {
                    <span class="badge bg-primary">
                      {{ attempt.memory }}
                    </span>
                  }
                  @case ('sourceCodeSize') {
                    <span class="badge bg-dark">
                      {{ attempt.sourceCodeSize }}
                    </span>
                  }
                }
              </span>
            </td>
          </tr>
        } @empty {
          <tr>
            <td class="text-center text-muted" colspan="2">
              {{ 'NoData' | translate }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</kep-card>
