<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>{{ 'Submitted' | translate }}</th>
      <th>{{ 'Technology' | translate }}</th>
      <th>{{ 'User' | translate }}</th>
      <th>{{ 'Project' | translate }}</th>
      <th>{{ 'Verdict' | translate }}</th>
      <th>{{ 'Time' | translate }}/{{ 'Memory' | translate }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @for (attempt of attempts; track attempt.id; let i = $index) {
        <tr
          [ngClass]="{'bg-light-info': attempt?.username == currentUser?.username}">
          <td class="attempt-id">
            {{ attempt.id }}
          </td>
          <td>
            <div class="">
              <div class="text-center">
                {{ attempt.created | date:"yyyy/MM/dd" }}
              </div>
              <div class="text-center">
                {{ attempt.created | date:"HH:mm:ss" }}
              </div>
            </div>
          </td>
          <td>
            <project-technology [name]="attempt.technology"/>
          </td>
          <td>
            <user-popover [username]="attempt.username" [customContent]="true">
              <img alt="user-avatar" height="32" width="32" class="rounded-circle me-1" [src]="attempt.userAvatar">
              {{ attempt.username }}
            </user-popover>
          </td>
          <td>
            <u class="text-primary">{{ attempt.projectTitle }}</u>
          </td>
          <td>
            <span class="badge" [ngClass]="{
            'bg-info': attempt.verdict == 1 && attempt.kepcoins > 0 && attempt.kepcoins != attempt.projectKepcoins,
            'bg-success': attempt.verdict == 1 && attempt.kepcoins > 0 && attempt.kepcoins == attempt.projectKepcoins,
            'bg-warning': attempt.verdict == 1 && attempt.kepcoins == 0,
            'bg-primary': attempt.verdict == -2,
            'bg-blue': attempt.verdict == -1,
            'bg-danger': attempt.verdict == 0
          }">
              {{ attempt.verdictTitle }}
              @if (attempt.verdict == -1 && attempt.taskNumber) {
                #{{ attempt.taskNumber }}
              }
              @if (attempt.verdict == 1) {
                <span>
                  {{ attempt.kepcoins }}
                  @if (project?.kepcoins) {
                  / {{ project?.kepcoins }}
                  }
                </span>
              }
            </span>
          </td>
          <td>
            <div class="d-flex align-items-center text-dark text-nowrap">
              <kep-icon color="info" type="duotone" name="watch"/>
              {{ attempt.time }} {{ 'Ms' | translate }}
            </div>
            <div class="d-flex align-items-center text-dark text-nowrap">
              <kep-icon color="primary" type="duotone" name="external-drive"/>
              {{ attempt.memory }} {{ 'Kb' | translate }}
            </div>
          </td>
          <td>
            @if (currentUser?.username == attempt.username || currentUser?.isSuperuser) {
              <button (click)="modalOpen(attempt.id)" class="btn btn-sm round btn-warning">
                Log
              </button>
            }
            @if (currentUser?.isSuperuser) {
              <button class="btn btn-sm round btn-primary" (click)="rerun(attempt.id)">
                <i data-feather="refresh-cw"></i>
              </button>
            }
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="8">
            @if (attempts) {
              <empty-result text=""></empty-result>
            } @else {
              <div [style.height.px]="200">
                <spinner/>
              </div>
            }
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
    <tr>
      <th>ID</th>
      <th>{{ 'Submitted' | translate }}</th>
      <th>{{ 'Technology' | translate }}</th>
      <th>{{ 'User' | translate }}</th>
      <th>{{ 'Project' | translate }}</th>
      <th>{{ 'Verdict' | translate }}</th>
      <th>{{ 'Time' | translate }}/{{ 'Memory' | translate }}</th>
      <th></th>
    </tr>
    </tfoot>
  </table>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h5 class="modal-title me-1">
      <kep-icon name="file-sheet" type="duotone"/>
      Log
    </h5>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button">

    </button>
  </div>
  <div class="modal-body" tabindex="0">
    @if (logs.log) {
      <pre *ngIf="logs.log" [innerHTML]="logs.log"></pre>
    }
    <div ngbAccordion class="accordion">
      @for (log of logs.tasks; track log; let i = $index) {
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
              <span class="me-2">
                {{ log.taskNumber }}. {{ log.taskTitle }}
              </span>
              @if (log.done === true) {
                <kep-icon name="check-square" color="success"/>
              }
              @if (log.done === false) {
                <kep-icon name="cross-square" color="danger"/>
              }
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div class="p-3">
              <pre *ngIf="log.log" [innerHTML]="log.log"></pre>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</ng-template>
