@if (isLoading) {
  <div [style.height.px]="400">
    <spinner/>
  </div>
} @else {
  <div class="row">
    @for (rating of periodRatings; track rating.period) {
      <div class="col-lg-4 col-12">
        <kep-card>
          <div class="card-header">
            <div class="card-title">
              {{ rating.period | titlecase | translate }}
            </div>
            <a class="btn-sm btn btn-{{ rating.color }}" routerLink="history">
              {{ 'History' | translate }}
              <i data-feather="arrow-right"></i>
            </a>
          </div>

          <div class="mt-2">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr class="bg-{{ rating.color }}-transparent">
                  <th class="text-white text-center">#</th>
                  <th class="text-white">{{ 'User' | translate }}</th>
                  <th class="text-white text-center"><i [data-feather]="'problem' | iconName"></i></th>
                </tr>
                </thead>
                <tbody>
                  @for (userRating of rating.data; track userRating; let i = $index) {
                    <tr
                      [class]="currentUser?.username == userRating.username ? 'bg-light'+rating.color : ''">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td>
                        <contestant-view [user]="userRating"></contestant-view>
                      </td>
                      <td class="text-center">
                        <span class="badge bg-{{ rating.color }}-transparent">
                          {{ userRating.solved }}
                        </span>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </kep-card>
      </div>
    }
  </div>
}
