<div class="content-wrapper container-xxl p-0 {{ contest | contestClasses }}">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <kep-card>
      <div class="card-header p-1">
        <contest-tab [contest]="contest"></contest-tab>
      </div>
    </kep-card>

    @if (isLoading) {
      <kep-card [cardHeight]="'320px'">
        <div class="card-body d-flex align-items-center justify-content-center">
          <spinner></spinner>
        </div>
      </kep-card>
    } @else if (statistics) {
      <contest-statistics-overview [cards]="overviewCards"></contest-statistics-overview>

      <div class="row">
        <div class="col-lg-8">
          <contest-statistics-timeline
            [totalAttempts]="statistics.general.attempts.total"
            [chart]="timelineChart"
          ></contest-statistics-timeline>
        </div>
        <div class="col-lg-4">
          <contest-statistics-verdicts [chart]="verdictsChart"></contest-statistics-verdicts>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <contest-statistics-problems
            [totalAccepted]="statistics.general.accepted.total"
            [chart]="problemsChart"
          ></contest-statistics-problems>
        </div>
        <div class="col-lg-4">
          <contest-statistics-badges [badges]="badges"></contest-statistics-badges>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <contest-statistics-first-solves [entries]="firstSolvesEntries"></contest-statistics-first-solves>
        </div>
        <div class="col-lg-4">
          <contest-statistics-facts [facts]="facts"></contest-statistics-facts>
        </div>
      </div>
    }
  </div>
</div>
