<div class="row g-1">
  <div class="col-lg-4 col-12">
    <kep-card>
      <div class="card-header">
        <div class="card-title">
          {{ 'ByWeekday' | translate }}
        </div>
      </div>
      <div class="card-body">
        <apex-chart [options]="byWeekdayChart"/>
      </div>
    </kep-card>
  </div>
  <div class="col-lg-4 col-12">
    <kep-card>
      <div class="card-header">
        <div class="card-title">
          {{ 'ByMonth' | translate }}
        </div>
      </div>
      <div class="card-body">
        <apex-chart [options]="byMonthChart"/>
      </div>
    </kep-card>
  </div>
  <div class="col-lg-4 col-12">
    <kep-card>
      <div class="card-header">
        <div class="card-title">
          {{ 'ByPeriod' | translate }}
        </div>
      </div>
      <div class="card-body">
        <apex-chart [options]="byPeriodChart"/>
      </div>
    </kep-card>
  </div>
</div>
