<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <div class="col-12">
        <kep-card>
          <div class="card-header p-4">
            <div class="card-title font-medium-5 align-items-center">
              <kep-icon name="tournament" size="medium-5" type="duotone" color="primary"></kep-icon>
              <span class="text-dark">{{ 'Tournaments' | translate }}</span>
              <span class="total-count" *ngIf="!isLoading">({{ pageResult?.total }})</span>
            </div>
            <div>
              <input
                [formControl]="searchControl"
                placeholder="{{ 'Search' | translate }}"
                class="form-control mt-md-0 mt-1"
                type="search"
              >
            </div>
          </div>
        </kep-card>

        @if (isLoading) {
          <ngx-skeleton-loader
            class="custom-skeleton"
            count="2"
            animation="pulse"
            appearance="line"
            [theme]="{height: '140px', background: 'var(--skeleton-color)'}"
          ></ngx-skeleton-loader>
        } @else {
          @for (tournament of tournaments; track tournament) {
            <div class="bg-tournaments-list">
              <tournament-list-card  [tournament]="tournament"></tournament-list-card>
            </div>
          }
        }
        @if (total) {
          <div class="mb-2 mt-1">
            <kep-pagination
              [collectionSize]="total"
              [(page)]="pageNumber"
              [pageSize]="pageSize"
              [maxSize]="maxSize"
              [rotate]="true"
              [disabled]="isLoading"
              [color]="'primary'"
              (pageChange)="reloadPage()">
            </kep-pagination>
          </div>
        }
      </div>
    </div>
  </div>
</div>

