<div class="row kepcoin-page-top">
  <div class="mb-1 mt-2 col-lg-10 col-12 offset-xl-2 offset-lg-1 offset-0">
    <h1>
      {{ 'YouHave' | translate }}
      <kepcoin [marginRight]="0.3" [imgSize]="30" [value]="currentUser?.kepcoin"></kepcoin>
    </h1>
  </div>
  <div class="col-xl-4 offset-xl-2 col-lg-5 offset-lg-1 col-md-6 col-12 offset-0">
    <you-have-card [streak]="streak" [streakFreeze]="streakFreeze" (buy)="success()"></you-have-card>

    <kep-card>
      <div class="card-header">
        <div class="card-title">
          @if (view === 'earns') {
            <span>
              <i data-feather="corner-right-up"></i>
              {{ 'Earns' | translate }}
            </span>
          }
          @if (view === 'spends') {
            <span>
              <i data-feather="corner-left-down"></i>
              {{ 'Spends' | translate }}
            </span>
          }
        </div>

        <button (click)="view = view === 'earns' ? 'spends' : 'earns'; currentPage=1; updatePage();" class="btn btn-warning btn-sm">
          @if (view === 'spends') {
            <span>{{ 'Earns' | translate }}</span>
          }
          @if (view === 'earns') {
            <span>{{ 'Spends' | translate }}</span>
          }
        </button>
      </div>

      <div class="card-body">
        @if (view === 'earns') {
          <kepcoin-earns-list [earns]="earns"></kepcoin-earns-list>
        }

        @if (view === 'spends') {
          <kepcoin-spends-list [spends]="spends"></kepcoin-spends-list>
        }

        @if (total > 0) {
          <kep-pagination
            [collectionSize]="total"
            [(page)]="currentPage"
            [pageSize]="10"
            [maxSize]="5"
            [color]="'warning'"
            [rotate]="true"
            (pageChange)="updatePage()">
          </kep-pagination>
        }
      </div>
    </kep-card>
  </div>
  <div class="col-lg-5 col-xl-4 col-md-6 col-12">
    <how-to-earn-kepcoin></how-to-earn-kepcoin>

    <how-to-spend-kepcoin></how-to-spend-kepcoin>
  </div>
</div>
