<kep-card>
  <div class="card-header">
    <div class="card-title">
      <i class="font-medium-4 me-1" data-feather="link"></i>
      {{ 'Settings.SocialLinks' | translate }}
    </div>
  </div>
  @if (isLoading) {
    <div [style.height]="'144px'">
      <spinner/>
    </div>
  } @else {
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="mb-1">
            <label>{{ 'Settings.Telegram' | translate }}</label>
            <input type="text" [(ngModel)]="userSocial.telegram" class="form-control"/>
            @if (errors?.telegram) {
              <p class="text-danger">{{ errors.telegram[0] }}</p>
            }
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-1">
            <label>{{ 'Settings.CodeforcesHandle' | translate }}</label>
            <input type="text" [(ngModel)]="userSocial.codeforcesHandle" class="form-control"/>
            @if (errors?.codeforcesHandle) {
              <p class="text-danger">{{ errors.codeforcesHandle[0] }}</p>
            }
          </div>
        </div>
        <div class="col-12">
          <button (click)="save()" class="btn btn-primary mt-2 me-1" type="submit">
            {{ 'Settings.Save' | translate }}
          </button>
          <button (click)="reset()" class="btn btn-outline-primary mt-2" type="reset">
            {{ 'Settings.Reset' | translate }}
          </button>
        </div>
      </div>
    </div>
  }
</kep-card>
