<app-content-header [contentHeader]="contentHeader">
  <div class="d-flex gap-2">
    <a routerLink="rating" class="btn btn-primary-light" [ngClass.lt-md]="'btn-sm'">
      <kep-icon name="ranking" class="font-medium-1"></kep-icon>
      <span [ngClass.lt-md]="'d-none'">
        {{ 'Rating' | translate }}
      </span>
    </a>
    <a routerLink="user-statistics" class="btn btn-primary-light" [ngClass.lt-md]="'btn-sm'">
      <kep-icon name="statistics" class="font-medium-1"></kep-icon>
      <span [ngClass.lt-md]="'d-none'">
        {{ 'Statistics' | translate }}
      </span>
    </a>
    @if (isAuthenticated) {
      <a routerLink="user-contests" class="btn btn-primary-light" [ngClass.lt-md]="'btn-sm'">
        <kep-icon name="attempt" class="font-medium-1"></kep-icon>
        <span [ngClass.lt-md]="'d-none'">
          {{ 'MyContests' | translate }}
        </span>
      </a>
    }
  </div>
</app-content-header>

<div class="contests-section-header">
  <kep-card [cardHeight]="'65px'">
    @if (isLoading) {
      <ngx-skeleton-loader
        count="1"
        animation="pulse"
        appearance="line"
        [theme]="{height: '40px', 'margin-top': '0.75rem', background: 'var(--skeleton-color)'}"
      ></ngx-skeleton-loader>
    } @else {
      @if (currentUser) {
        <div class="card-footer d-flex justify-content-between">
          <div class="text-center d-flex justify-content-between">
            <div class="text-dark text-nowrap d-flex align-items-center" [ngClass.gt-sm]="'font-medium-2'"
                 [ngClass.lt-md]="'font-small-3'">
              <kep-icon type="duotone" class="text-dark me-1" name="rating"></kep-icon>
              <span class="me-1">{{ 'Rating' | translate }}:</span>
              <contests-rating-image [title]="data.ratingTitle"></contests-rating-image>
              {{ data.rating }}
            </div>
          </div>
          <div class="text-center d-flex justify-content-between">
            <div class="text-dark text-nowrap d-flex align-items-center" [ngClass.gt-sm]="'font-medium-2'"
                 [ngClass.lt-md]="'font-small-3'">
              <kep-icon type="duotone" class="text-dark me-1 d-md-inline-block d-none" name="contest"></kep-icon>
              {{ 'Rank' | translate }}: {{ data.ratingPlace }}
            </div>
          </div>
          <div class="text-center d-flex justify-content-between">
            <div class="text-dark d-flex text-nowrap align-items-center" [ngClass.gt-sm]="'font-medium-2'"
                 [ngClass.lt-md]="'font-small-3'">
              <kep-icon type="duotone" class="text-dark d-md-inline-block d-none me-1" name="contest"></kep-icon>
              {{ 'Contests.Contests' | translate }}: {{ data.contestantsCount }}
            </div>
          </div>
        </div>
      }
    }
  </kep-card>
</div>
