<div class="justify-content-center position-relative">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [page]="page"
    [pageSize]="pageSize"
    [maxSize]="maxSize"
    [ellipses]="ellipses"
    [rotate]="rotate"
    [boundaryLinks]="boundaryLinks"
    [disabled]="disabled"
    (pageChange)="change($event)"
    class="d-flex justify-content-center pagination-{{ color }} {{ customClass }}">
    <ng-template ngbPaginationFirst>
      <kep-icon name="double-left" class="" type="duotone"/>
    </ng-template>
    <ng-template ngbPaginationPrevious>
      <kep-icon name="left" class="" type="duotone"/>
    </ng-template>
    <ng-template ngbPaginationNext>
      <kep-icon name="right" class="" type="duotone"/>
    </ng-template>
    <ng-template ngbPaginationLast>
      <kep-icon name="double-right" class="" type="duotone"/>
    </ng-template>
  </ngb-pagination>

  @if (pageOptions?.length > 0) {
    <div style="position: absolute; right: 0; top: 0;" class="d-none d-md-block">
      <ng-select
        appendTo="body"
        [clearable]="false"
        [searchable]="false"
        [(ngModel)]="pageSize"
        (change)="sizeChange($event)">
        @for (pageOption of pageOptions; track pageOption) {
          <ng-option [value]="pageOption">
            {{ pageOption }} / {{ 'Page' | translate }}
          </ng-option>
        }
      </ng-select>
    </div>
  }

  <ng-select-css></ng-select-css>
</div>
