@if (lastPosts.length == 0) {
  <kep-card [cardHeight]="'500px'">
    <spinner></spinner>
  </kep-card>
} @else {
  <owl-carousel-o [options]="customOptions">
    @for (post of lastPosts; track post) {
      <ng-template carouselSlide>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <blog-post-card [blog]="post"/>
            </div>
          </div>
          <div
            class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"></div>
        </div>
      </ng-template>
    }
  </owl-carousel-o>
}
