@import 'styles/kep-imports';

.editor-button {
  position: fixed;
  bottom: 5%;
  height: 40px;
  width: 50px;
  right: 80px;
  z-index: 99;
  opacity: 1;
  display: block;
  transition: all 0.2s ease-in-out;
}

.dark-layout .editor-button {
  background-color: #fefefe !important;

  svg {
    color: #000;
  }
}

.code-editor-sidebar {
  width: 60%;
  right: -60%;
  padding: 0;
  z-index: 1051;
  position: fixed;
  top: 5%;
  height: 627px;
  transition: right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  backface-visibility: hidden;
  border-left: 1px solid rgba($black, 0.05);

  @media screen and (max-height: 700px) {
    height: 90%;
  }

  @include media-breakpoint-down(sm) {
    width: 75%;
    right: -75%;
  }

  &.show {
    // box-shadow: 0 15px 30px 0 rgba($black, 0.11), 0 5px 15px 0 rgba($black, 0.08);
    box-shadow: 0 0 5px rgba(34, 41, 47, 0.1);
    right: 0;
    border-left: 0;
  }

  .btn-toggle {
    background: $dark;
    color: $white !important;

    @include dark-layout {
      background: $light !important;
      color: $dark !important;
    }

    display: block;
    box-shadow: -3px 0px 8px rgba($black, 0.1);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: absolute;
    top: 50%;
    width: 38px;
    height: 38px;
    left: -39px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }

  .card {
    margin-bottom: 0;
    background: white !important;

    @include dark-layout {
      background: color-mix(in srgb, black 80%, var(--primary) 20%) !important;
    }

    .card-header {
      padding: 1rem !important;
    }

    .card-body {
      padding: 0 1.5rem 0 0;
    }

    .card-footer {
      padding-top: 1rem;
      padding-bottom: 0.5rem;
    }
  }
}

.check-samples-result {
  width: 250px;
  right: -250px;
  padding: 0;
  background-color: inherit;
  z-index: 1051;
  position: fixed;
  top: 5%;
  height: 625px;
  transition: right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
  backface-visibility: hidden;

  &.show {
    box-shadow: 0 0 5px rgba(34, 41, 47, 0.1);
    right: calc(60% + 1px);
  }

  .ng-scroll-content {
    height: 100%;
  }

  .results-card {
    box-shadow: none;

    & > .card-header {
      padding: 1rem !important;
    }
  }
}
