@import 'styles/kep-imports';

.btn-new-challenge {
  border: none;
  cursor: pointer;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  transition: .5s;
  display: block;
  border-radius: 10px;
  background-size: 200% auto;

  background-image: var(--primary);
  // box-shadow: 0 0 5px var(--primary) !important;

  @include dark-layout {
    background: rgba(var(--primary-rgb), 0.5);
  }

  &:hover {
    background-position: right center;
    text-decoration: none;
  }
}

