<div class="text-center mb-2">
  <span ngbTooltip="{{ 'UsersSolved' | translate }}" class="text-success">
    {{ problem.solved }}
    <i data-feather="user-check"></i>
  </span>

  <span ngbTooltip="{{ 'UsersUnsolved' | translate }}" class="text-danger">
    {{ problem.notSolved }}
    <i data-feather="user-x"></i>
  </span>
</div>

@if (attemptStatisticsChart) {
  <apex-chart [options]="attemptStatisticsChart"></apex-chart>
}

@if (langStatisticsChart) {
  <div class="mt-2">
    <apex-chart [options]="langStatisticsChart"></apex-chart>
  </div>
}

@if (attemptsForSolveChart) {
  <div class="mt-2">
    <h4 class="text-center">
      {{ 'NumberOfAttemptsForSolve' | translate }}
    </h4>
    <apex-chart [options]="attemptsForSolveChart"></apex-chart>
  </div>
}
