<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    @if (isLoading) {
      <div class="card" [style.height.px]="400">
        <spinner></spinner>
      </div>
    } @else {
      <div class="row">
        @for (chapter of chapters; track chapter.id) {
          <div class="col-12 col-md-6 col-xl-4">
            <chapter-with-tests-card [chapter]="chapter"/>
          </div>
        }
      </div>
    }
  </div>
</div>
