<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row">
      @if (arena.status == ArenaStatus.NotStarted) {
        <div class="offset-lg-1 col-lg-7 col-12" >
          <arena-card [arena]="arena"/>
          <arena-players [arena]="arena" (arenaPlayerClick)="loadArenaPlayerStatistics($event.username)"/>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 order-lg-3 order-2" >
          <arena-countdown [arena]="arena"/>
          <arena-chapters [arena]="arena"/>
        </div>
      } @else if (arena.status == ArenaStatus.Already) {
        <div class="col-12 col-lg-3">
          <arena-info [arena]="arena"/>
          <arena-chapters [arena]="arena"/>
        </div>

        <div class="col-12 col-lg-6">
          <div class="text-center" *ngIf="arena.isRegistrated">
            @if (remainingTime && remainingTime <= 1000 * 60 * 2) {
              <div>
                <ngb-alert [type]="'info'" [dismissible]="false">
                  <h4 class="alert-heading">
                    <ngx-skeleton-loader [count]="1" animation="progress" class="custom-skeleton"></ngx-skeleton-loader>
                    {{ 'ArenaDrawOver' | translate }}
                  </h4>
                </ngb-alert>
              </div>
            } @else {
              @if (arena.pause) {
                <div class="mb-4">
                  <ngb-alert [type]="'warning'" [dismissible]="false">
                    <h4 class="alert-heading animate">
                      <ngx-skeleton-loader [count]="1" animation="progress"
                                           class="custom-skeleton"></ngx-skeleton-loader>
                      {{ 'ArenaPauseText' | translate }}
                      <button (click)="arenaStart()"
                              class="ms-1 btn btn-sm btn-warning">{{ 'Start' | translate }}
                      </button>
                    </h4>
                  </ngb-alert>
                </div>
              }
              @if (!arena.pause) {
                <div class="mb-4">
                  <ngb-alert [type]="'success'" [dismissible]="false">
                    <h4 class="alert-heading animate">
                      {{ 'ArenaStartText' | translate }}
                      <button (click)="arenaPause()"
                              class="ms-1 btn btn-sm btn-success">{{ 'Pause' | translate }}
                      </button>
                    </h4>
                  </ngb-alert>
                </div>
              }
            }
          </div>

          <arena-players [arena]="arena" (arenaPlayerClick)="loadArenaPlayerStatistics($event.username)"/>
          <arena-challenges/>
        </div>

        <div class="col-12 col-lg-3">
          <arena-countdown [arena]="arena"/>

          @if (arenaPlayerStatistics) {
            <div class="text-center">
              <arena-player-statistics [statistics]="arenaPlayerStatistics"></arena-player-statistics>
            </div>
          }
        </div>
      } @else {
        <div class="col-12 col-lg-3">
          <arena-info [arena]="arena"/>
          <arena-chapters [arena]="arena"/>
        </div>

        <div class="col-12 col-lg-6">
          <arena-winners [arena]="arena"/>
          <arena-players [arena]="arena" (arenaPlayerClick)="loadArenaPlayerStatistics($event.username)"/>
          <arena-challenges/>
        </div>

        <div class="col-12 col-lg-3">
          <arena-statistics [arena]="arena"/>

          @if (arenaPlayerStatistics) {
            <div class="text-center">
              <arena-player-statistics [statistics]="arenaPlayerStatistics"></arena-player-statistics>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
