<h4>
  {{ 'LatestNews' | translate }}
</h4>

@if (isLoading) {
  <div class="item">
    <ngx-skeleton-loader
      count="1"
      animation="pulse"
      appearance="line"
      [theme]="{height: '186px', 'margin-top': '0px', 'margin-bottom': '30px', background: 'var(--skeleton-color)'}"
    ></ngx-skeleton-loader>
  </div>
} @else {
  <div class="row">
    @for (news of pageResult?.data; track news) {
      <div class="col-lg-4">
        <news-card  [blog]="news.blog"/>
      </div>
    }
  </div>
}
