<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section-header [contentHeader]="contentHeader"/>

    <ul [(activeId)]="activeTab" ngbNav #navFilled="ngbNav" class="nav-tabs nav-style-1 nav-fill">
      <li [ngbNavItem]="Tab.QuickStart">
        <a ngbNavLink>{{ 'QuickStart' | translate }}</a>
        <ng-template ngbNavContent>
          <section-quickstart (newChallengeClick)="activeTab = Tab.InQueue">
          </section-quickstart>
        </ng-template>
      </li>

      <li [ngbNavItem]="Tab.InQueue">
        <a ngbNavLink>{{ 'InQueue' | translate }}</a>
        <ng-template ngbNavContent>
          <section-in-queue></section-in-queue>
        </ng-template>
      </li>

      <li [ngbNavItem]="Tab.Challenges">
        <a ngbNavLink>{{ 'Challenges' | translate }}</a>
        <ng-template ngbNavContent>
          <section-challenges></section-challenges>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="navFilled" class="mt-4"></div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <section-top-rating></section-top-rating>
      </div>
      <div class="col-12 col-lg-6">
        <section-arenas></section-arenas>
      </div>
    </div>
  </div>
</div>

