<kep-card>
  <div class="card-header">
    <div class="card-title">
      {{ 'Difficulty' | translate }}
    </div>

    <div class="text-body-secondary">{{ difficulties?.totalSolved | number }} / {{ difficulties?.totalProblems | number }}</div>
  </div>
  <div class="card-body gap-0 pt-0 pb-2">
    <div class="text-center">
      @if (chartOptions) {
        <apex-chart [options]="chartOptions"></apex-chart>
      }
    </div>

    <div class="difficulties mt-1">
      <swiper [config]="swiperConfig" [height]="180">
        <div class="swiper-slide">
          <div class="difficulty">
            <div class="d-flex justify-content-between info">
              <div class="title">
                {{ 'Beginner' | translate }}
              </div>
              <div class="solved">
                <strong class="text-{{ 1 | problemDifficultyColor }}">{{ difficulties.beginner }}</strong>
                /
                {{ difficulties.allBeginner }}
              </div>
            </div>
            <div class="mt-2 progress-wrapper">
              <ngb-progressbar type="{{ 1 | problemDifficultyColor }}"
                               [value]="difficulties.allBeginner ? (100 * difficulties.beginner) / difficulties.allBeginner : 0"></ngb-progressbar>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="difficulty">
            <div class="d-flex justify-content-between info">
              <div class="title">
                {{ 'Basic' | translate }}
              </div>
              <div class="solved">
                <strong class="text-{{ 2 | problemDifficultyColor }}">{{ difficulties.basic }}</strong>
                /
                {{ difficulties.allBasic }}
              </div>
            </div>
            <div class="mt-2 progress-wrapper">
              <ngb-progressbar type="{{ 2 | problemDifficultyColor }}"
                               [value]="difficulties.allBasic ? (100 * difficulties.basic) / difficulties.allBasic : 0"></ngb-progressbar>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="difficulty">
            <div class="d-flex justify-content-between info">
              <div class="title">
                {{ 'Normal' | translate }}
              </div>
              <div class="solved">
                <strong class="text-{{ 3 | problemDifficultyColor }}">{{ difficulties.normal }}</strong>
                /
                {{ difficulties.allNormal }}
              </div>
            </div>
            <div class="mt-2 progress-wrapper">
              <ngb-progressbar type="{{ 3 | problemDifficultyColor }}"
                               [value]="difficulties.allNormal ? (100 * difficulties.normal) / difficulties.allNormal : 0"></ngb-progressbar>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="difficulty">
            <div class="d-flex justify-content-between info">
              <div class="title">
                {{ 'Medium' | translate }}
              </div>
              <div class="solved">
                <strong class="text-{{ 4 | problemDifficultyColor }}">{{ difficulties.medium }}</strong>
                /
                {{ difficulties.allMedium }}
              </div>
            </div>
            <div class="mt-2 progress-wrapper">
              <ngb-progressbar type="{{ 4 | problemDifficultyColor }}"
                               [value]="difficulties.allMedium ? (100 * difficulties.medium) / difficulties.allMedium : 0"></ngb-progressbar>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="difficulty">
            <div class="d-flex justify-content-between info">
              <div class="title">
                {{ 'Advanced' | translate }}
              </div>
              <div class="solved">
                <strong class="text-{{ 5 | problemDifficultyColor }}">{{ difficulties.advanced }}</strong>
                /
                {{ difficulties.allAdvanced }}
              </div>
            </div>
            <div class="mt-2 progress-wrapper">
              <ngb-progressbar type="{{ 5 | problemDifficultyColor }}"
                               [value]="difficulties.allAdvanced ? (100 * difficulties.advanced) / difficulties.allAdvanced : 0"></ngb-progressbar>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="difficulty">
            <div class="d-flex justify-content-between info">
              <div class="title">
                {{ 'Hard' | translate }}
              </div>
              <div class="solved">
                <strong class="text-{{ 6 | problemDifficultyColor }}">{{ difficulties.hard }}</strong>
                /
                {{ difficulties.allHard }}
              </div>
            </div>
            <div class="mt-2 progress-wrapper">
              <ngb-progressbar type="{{ 6 | problemDifficultyColor }}"
                               [value]="difficulties.allHard ? (100 * difficulties.hard) / difficulties.allHard : 0"></ngb-progressbar>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="difficulty">
            <div class="d-flex justify-content-between info">
              <div class="title">
                {{ 'Extremal' | translate }}
              </div>
              <div class="solved">
                <strong class="text-{{ 7 | problemDifficultyColor }}">{{ difficulties.extremal }}</strong>
                /
                {{ difficulties.allExtremal }}
              </div>
            </div>
            <div class="mt-2 progress-wrapper">
              <ngb-progressbar type="{{ 7 | problemDifficultyColor }}"
                               [value]="difficulties.allExtremal ? (100 * difficulties.extremal) / difficulties.allExtremal : 0"></ngb-progressbar>
            </div>
          </div>
        </div>
      </swiper>
    </div>
  </div>
</kep-card>
