<kep-card>
  <div class="card-header">
    <div class="card-title">
      <i class="font-medium-3" data-feather="users"></i>
      {{ 'Settings.Teams' | translate }}
    </div>
  </div>
  <div class="card-body">
    @if (isLoading) {
      <div [style.height.px]="400">
        <spinner/>
      </div>
    } @else {
      <div class="row">
        <div class="col-12 col-md-8">
          @for (team of teams; track team.id) {
            <team-card [team]="team"></team-card>
          } @empty {
            <empty-result [title]="'Sizda jamoa yo`q'" [text]="'Yangi jamoa yarating yoki mavjud jamoga qo`shiling'"/>
          }
        </div>
        <div class="col-12 col-md-4">
          <div class="font-medium-4 fw-semibold mb-1">Yangi jamoa</div>
          <label>Nomi</label>
          <input [(ngModel)]="teamName" class="form-control">
          <button (click)="createTeam()" class="btn btn-sm btn-primary mt-2">Yaratish</button>
        </div>
      </div>
    }
  </div>
</kep-card>
