<kep-table tableClass="">
  <ng-container header>
    <tr>
      <th>ID</th>
      <th>
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="time"/>
          {{ 'Submitted' | translate }}
        </div>
      </th>
      <th class="ms-1">
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="lang"/>
          {{ 'Lang' | translate }}
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="username"/>
          {{ 'User' | translate }}
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="problem"/>
          {{ 'Problem' | translate }}
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="verdict"/>
          {{ 'Verdict' | translate }}
        </div>
      </th>
      <th>
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="information-2"/>
          {{ 'Time' | translate }}/{{ 'Memory' | translate }}
        </div>
      </th>
      <th *ngIf="!hideSourceCodeSize">
        <div class="d-flex align-items-center">
          <kep-icon type="duotone" size="small-4" name="scroll"/>
          {{ 'Size' | translate }}
        </div>
      </th>
      <th *ngIf="currentUser?.isSuperuser"></th>
    </tr>
  </ng-container>

  <ng-container body>
    @for (attempt of attempts; track attempt.id) {
      <tr

        [ngClass]="{'bg-primary-transparent': attempt.isOwner}">
        <td>
          @if (attempt.canView) {
            <div style="cursor: pointer;" class="p-0" (click)="clicked.emit(attempt.id)">
              <u>
                {{ attempt.id }}
              </u>
            </div>
          } @else if (!currentUser || contest) {
            <span>{{ attempt.id }}</span>
          } @else {
            <kepcoin-spend-swal
              [customClass]="''"
              [purchaseUrl]="'attempts/' + attempt.id + '/purchase/'"
              [value]="attempt.kepcoinValue"
              (success)="onPurchaseSuccess(attempt)">
            </kepcoin-spend-swal>
          }
        </td>

        <td>
          @if (contest) {
            <span
              class="badge bg-success-transparent"
              ngbTooltip="{{ attempt.created | date:'yyyy/MM/dd HH:mm:ss' }}">
              {{ attempt.contestTime }}
            </span>
          } @else {
            <div class="">
              <div class="text-center">
                {{ attempt.created | date:"yyyy/MM/dd" }}
              </div>
              <div class="text-center">
                {{ attempt.created | date:"HH:mm:ss" }}
              </div>
            </div>
          }
        </td>

        <td class="ms-1">
          <attempt-language [lang]="attempt.lang" [langFull]="attempt.langFull"/>
        </td>

        <td>
          <contestant-view [imgSize]="28" [user]="attempt.user" [team]="attempt.team"></contestant-view>
        </td>

        <td>
          @if (contest) {
            @if (attempt?.contestProblem?.contest) {
              <a
                [routerLink]="Resources.ContestProblem | resourceByParams:{id: attempt?.contestProblem?.contest, symbol: attempt.contestProblem.symbol}">
                <u class="text-primary">{{ attempt.contestProblem.symbol }}. {{ attempt.problemTitle }}</u>
              </a>
            } @else {
              <u class="text-primary">{{ attempt.contestProblem.symbol }}. {{ attempt.problemTitle }}</u>
            }
          } @else {
            <a [routerLink]="Resources.Problem | resourceById:attempt.problemId">
              <u class="text-primary">{{ attempt.problemId }}. {{ attempt.problemTitle }}</u>
            </a>
          }
        </td>

        <td [@bounce]="attempt.animationAcceptedState" [@shake]="attempt.animationWrongState">
          @if (contest && !currentUser?.isSuperuser) {
            <attempt-verdict
              [verdict]="attempt.verdict"
              [title]="attempt.verdictTitle"
              [balls]="attempt.balls"
              [testCaseNumber]="attempt.testCaseNumber"
            />
          } @else {
            @if (attempt.verdict != 1 && attempt.testCaseNumber > 1 && attempt?.user?.username == currentUser?.username || currentUser?.isSuperuser) {
              @if (attempt.canTestView) {
                <a placement="bottom" ngbTooltip="{{ 'ViewTest' | translate }}"
                   href="/api/attempts/{{ attempt.id }}/failed-test?number={{ attempt.testCaseNumber }}">
                  <attempt-verdict
                    [verdict]="attempt.verdict"
                    [title]="attempt.verdictTitle"
                    [balls]="attempt.balls"
                    [testCaseNumber]="attempt.testCaseNumber"
                  />
                </a>
              } @else {
                <ng-template #tipContent>
                  {{ 'ViewTest' | translate }}
                  <kepcoin [value]="attempt.testCaseKepcoinValue"></kepcoin>
                </ng-template>
                <kepcoin-spend-swal
                  [placement]="'bottom'"
                  [ngbTooltip]="tipContent"
                  [purchaseUrl]="'attempts/' + attempt.id + '/purchase-test/'"
                  [value]="attempt.testCaseKepcoinValue"
                  [customContent]="true"
                  (success)="onPurchaseTestSuccess(attempt)">
                  <attempt-verdict
                    [verdict]="attempt.verdict"
                    [title]="attempt.verdictTitle"
                    [balls]="attempt.balls"
                    [testCaseNumber]="attempt.testCaseNumber"
                  />
                </kepcoin-spend-swal>
              }
            } @else {
              <attempt-verdict
                [verdict]="attempt.verdict"
                [title]="attempt.verdictTitle"
                [balls]="attempt.balls"
                [testCaseNumber]="attempt.testCaseNumber"
              />
            }
          }
        </td>

        <td>
          <div class="d-flex align-items-center text-dark text-nowrap">
            <kep-icon color="info" type="duotone" name="watch"/>
            {{ attempt.time }} {{ 'Ms' | translate }}
          </div>
          <div class="d-flex align-items-center text-dark text-nowrap">
            <kep-icon color="primary" type="duotone" name="external-drive"/>
            {{ attempt.memory }} {{ 'Kb' | translate }}
          </div>
        </td>

        <td *ngIf="!hideSourceCodeSize">
          <code class="fw-medium">
            {{ attempt.sourceCodeSize }}
          </code>
        </td>

        <td *ngIf="currentUser?.isSuperuser">
          <button ngbTooltip="Recheck" class="btn btn-sm btn-primary" (click)="rerun(attempt.id)">
            <i data-feather="refresh-cw"></i>
          </button>
        </td>

      </tr>
    }
  </ng-container>
</kep-table>
