base-table {
  .table > :not(caption) > * > * {
    padding: 0.72rem 0.5rem !important;
  }

  th {
    padding-left: 0.5rem !important;
    text-wrap: nowrap !important;
  }

  td:nth-child(4) {
    text-wrap: nowrap !important;
  }

  th:first-child, td:first-child {
    padding-left: 1rem !important;
  }
}
