@if (!isLoading) {
  @if (userSocial.telegram || userSocial.codeforcesHandle) {
    <kep-card>
      <div class="card-header">
        <div class="card-title">
          {{ 'Settings.SocialLinks' | translate }}
        </div>
      </div>

      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          @if (userSocial.telegram) {
            <li class="list-group-item p-3">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/2048px-Telegram_logo.svg.png"
                height="16" width="16">
              <span class="fw-medium mx-2">{{ 'UserInfo.Telegram' | translate }}:</span>
              <a class="text-muted mb-0" href="https://t.me/{{ userSocial.telegram }}">
                {{ userSocial.telegram }}
                <kep-icon name="exit-right-corner" color="primary" size="small-4" class="ms-1"/>
              </a>
            </li>
          }

          @if (userSocial.codeforcesHandle) {
            <li class="list-group-item p-3">
              <img width="16" height="16"
                   src="https://cdn-1.webcatalog.io/catalog/codeforces/codeforces-icon-filled.png">
              <span class="fw-medium mx-2">{{ 'UserInfo.Codeforces' | translate }}:</span>

              <a class="text-muted mb-0" href="https://codeforces.com/profile/{{ userSocial.codeforcesHandle }}">
                {{ userSocial.codeforcesHandle }}
                <img class="ms-1" [src]="userSocial.codeforcesBadge">
              </a>
            </li>
          }
        </ul>
      </div>
    </kep-card>
  }
} @else {

}
