<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <kep-card [customClass]="contest | contestClasses">
      <div class="card-header p-1">
        <contest-tab [contest]="contest"></contest-tab>
      </div>
    </kep-card>

    <kep-table [empty]="contestants.length == 0" [loading]="isLoading">
      <ng-container header>
        <tr>
          <th class="text-center">#</th>
          <th>{{ 'Contests.Contestant' | translate }}</th>
          <th class="text-center"><i [data-feather]="'rating' | iconName"></i></th>
          <th class="text-center"><i [data-feather]="'delta' | iconName"></i></th>
          <th>{{ 'Contests.NewRating' | translate }}</th>
        </tr>
      </ng-container>
      <ng-container body>
        @for (contestant of contestants; track contestant) {
          <tr>
            <td class="text-center">{{ contestant.rank }}</td>
            <td>
              <contestant-view [user]="contestant" [team]="contestant.team"/>
            </td>
            <td class="text-center">
              <span class="badge bg-primary">
                {{ contestant.points }}
              </span>
            </td>
            <td class="text-center">
              <kep-delta [value]="contestant.delta"/>
            </td>
            <td>
              @if (contestant.type == 1) {
                <div>
                  <span class="badge bg-{{ contestant.rating | contestsRatingColor }}-transparent">
                    {{ contestant.rating }}
                  </span>
                  <i data-feather="arrow-right"></i>
                  <span class="badge bg-{{ contestant.newRating | contestsRatingColor }}-transparent">
                    {{ contestant.newRating }}
                  </span>
                  @if (contestant.newRatingTitle != contestant.ratingTitle) {
                    <contests-rating-image
                      class="ms-1"
                      [title]="contestant.newRatingTitle">
                    </contests-rating-image>
                  }
                  @if (contestant.doubleRatingPurchased) {
                    <img
                      height="25"
                      class="ms-1"
                      ngbTooltip="{{ 'DoubleRating' | translate }}"
                      src="assets/images/icons/x2-delta.png"
                    >
                  }
                  @if (contestant.saveRatingPurchased) {
                    <img
                      height="25"
                      class="ms-2"
                      ngbTooltip="{{ 'SaveRating' | translate }}"
                      src="assets/images/icons/save-rating.png"
                    >
                  }
                </div>
              }
              @if (contestant.type == 2) {
                <div>
                  @for (member of contestant.team.members; track member) {
                    <div class="mb-1">
                      <span class="badge badge-light-{{ member.rating | contestsRatingColor }}">
                        {{ member.rating }}
                      </span>
                      <i data-feather="arrow-right"></i>
                      <span class="badge badge-light-{{ member.newRating | contestsRatingColor }}">
                        {{ member.newRating }}
                      </span>
                      @if (member.newRatingTitle != member.ratingTitle) {
                        <contests-rating-image
                          [title]="member.newRatingTitle"
                          [size]="28">
                        </contests-rating-image>
                      }
                    </div>
                  }
                </div>
              }
            </td>
          </tr>
        }
      </ng-container>
    </kep-table>
  </div>
</div>
