<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="text-center mt-4 mb-4">
      <p class="fs-12 fw-medium text-success mb-1">
        <span class="landing-section-heading">-{{ 'Features' | translate }}-</span>
      </p>
      <h3 class="fw-medium mb-2">
        {{ 'LandingPage.SectionPracticeTitle' | translate }}
      </h3>
      <div class="row justify-content-center">
        <div class="col-xl-7">
          <p class="text-muted fs-15 mb-5 fw-normal">
            {{ 'LandingPage.SectionPracticeText' | translate }}
          </p>
        </div>
      </div>

      <div class="row">
        @for (menuItem of menu[2].children; track menuItem.id) {
          <div class="col-md-6 col-xl-3">
            <kep-card customClass="landing-card border shadow-none text-center">
              <div class="card-body">
                <div class="mb-4">
                  <span class="avatar avatar-xl rounded-2 icon-shadow-{{ colors[$index] }} bg-{{ colors[$index] }}-transparent">
                    <kep-icon [name]="menuItem.icon" size="large-1"/>
                  </span>
                </div>
                <h4 class="fw-medium">{{ menuItem.title | translate }}</h4>
                <p class="fs-14 text-muted"></p>
                <a [routerLink]="menuItem.path" class="fw-medium text-{{ colors[$index] }} d-flex align-items-center justify-content-center">
                  {{ 'Go To' | translate }}
                  <kep-icon name="right" class="ms-1" type="duotone"/>
                </a>
              </div>
            </kep-card>
          </div>
        }
      </div>
    </div>

    <div class="text-center mb-4">
      <p class="fs-12 fw-medium text-success mb-1">
        <span class="landing-section-heading">-{{ 'Features' | translate }}-</span>
      </p>
      <h3 class="fw-medium mb-2">
        {{ 'LandingPage.SectionCompetitionsTitle' | translate }}
      </h3>
      <div class="row justify-content-center">
        <div class="col-xl-7">
          <p class="text-muted fs-15 mb-5 fw-normal">
            {{ 'LandingPage.SectionCompetitionsText' | translate }}
          </p>
        </div>
      </div>

      <div class="row">
        @for (menuItem of menu[3].children; track menuItem.id) {
          <div class="col-lg-4">
            <kep-card customClass="landing-card border shadow-none text-center">
              <div class="card-body">
                <div class="mb-4">
                  <span class="avatar avatar-xl rounded-2 icon-shadow-{{ colors[$index] }} bg-{{ colors[$index] }}-transparent">
                    <kep-icon [name]="menuItem.icon" size="large-1"/>
                  </span>
                </div>
                <h4 class="fw-medium">{{ menuItem.title | translate }}</h4>
                <p class="fs-14 text-muted"></p>
                <a [routerLink]="menuItem.path" class="fw-medium text-{{ colors[$index] }} d-flex align-items-center justify-content-center">
                  {{ 'Go To' | translate }}
                  <kep-icon name="right" class="ms-1" type="duotone"/>
                </a>
              </div>
            </kep-card>
          </div>
        }
      </div>
    </div>
  </div>
</div>
