<div class="content-wrapper container-xxl p-0">
  <div class="content-body">

    <ix-api-table
      #table
      [columns]="columns"
      [fetchPage]="fetchPage"
      [title]="'Menu.Users'"
    >
      <div filter [formGroup]="filterForm" class="row m-0 w-100">
        <div class="col-6 col-md-3">
          <label>{{ 'Username' | translate }}</label>
          <input class="form-control" formControlName="username" type="text">
        </div>
        <div class="col-6 col-md-3">
          <label>{{ 'Name' | translate }}</label>
          <input class="form-control" formControlName="firstName" type="text">
        </div>
        <div class="col-6 col-md-3">
          <label>{{ 'Country' | translate }}</label>
          <ng-select [clearable]="false" appendTo="body" formControlName="country">
            <ng-option [value]="''">-</ng-option>
            @for (country of countries; track country) {
              <ng-option [value]="country.id.toLowerCase()">
                <span class="fi fi-{{ country.id.toLowerCase() }}"></span>
                {{ country.name }}
              </ng-option>
            }
          </ng-select>
        </div>
        <div class="col-6 col-md-3">
          <label>{{ 'Age' | translate }}</label>
          <div class="d-flex" style="align-items: center;">
            <input class="form-control" formControlName="ageFrom" type="number">
            <span class="ms-1 me-1">—</span>
            <input class="form-control" formControlName="ageTo" type="number">
          </div>
        </div>
      </div>

      <ng-template cellTemplate="user" let-user>
        <a class="d-flex align-items-center" href="/users/user/{{ user.username }}">
          <div class="avatar avatar-rounded me-2">
            <img alt="Avatar" class="avatar-rounded" [src]="user.avatar" width="48" height="48">
          </div>
          <span class="font-small-4">
            <div class="text-nowrap">
              {{ user.username }}
              <span class="ms-1 fi fi-{{ user.country }}"></span>
            </div>
            <div class="text-muted font-small-1">
              <span class="fw-medium">{{ user.firstName }} {{ user.lastName }}</span>
            </div>
          </span>
        </a>
      </ng-template>

      <ng-template cellTemplate="fullName" let-user>
        <span class="fw-medium">{{ user.firstName }} {{ user.lastName }}</span>
      </ng-template>

      <ng-template cellTemplate="skillsRating" let-rating>
        <span class="badge bg-outline-primary">{{ rating.value }}</span>
      </ng-template>

      <ng-template cellTemplate="activityRating" let-rating>
        <span class="badge bg-outline-info">{{ rating.value }}</span>
      </ng-template>

      <ng-template cellTemplate="contestsRating" let-rating>
        <contests-rating-image [title]="rating.title"></contests-rating-image>
        <span class="ms-1 fw-medium">{{ rating.value }}</span>
      </ng-template>

      <ng-template cellTemplate="challengesRating" let-rating>
        <challenges-rank-badge [rating]="rating.value" [title]="rating.title"></challenges-rank-badge>
      </ng-template>

      <ng-template cellTemplate="streak" let-user>
        <streak [streak]="user.streak" [maxStreak]="user.maxStreak"></streak>
        <br>
        <streak [streak]="user.maxStreak"></streak>
      </ng-template>

      <ng-template cellTemplate="kepcoin" let-value>
        <kepcoin [value]="value"></kepcoin>
      </ng-template>

      <ng-template cellTemplate="lastSeen" let-value>
        <span class="text-muted">{{ value }}</span>
      </ng-template>
    </ix-api-table>
  </div>
</div>
