<kep-card customClass="bg-arena">
  @if (isLoading) {
    <div [style.height.px]="410">
      <spinner color="var(--bs-warning)"/>
    </div>
  } @else {
    <div class="card-body">
      <div class="row text-center">
        <div class="col-4 mt-2" [@bounce2]>
          <img width="90" height="90" class="mb-2" src="assets/images/icons/arena-second-place.png" alt="second-place">
          <arena-player-statistics [statistics]="top3[1]" [withOpponents]="false"></arena-player-statistics>
        </div>
        <div class="col-4" [@bounce1]>
          <img width="90" height="90" class="mb-2" src="assets/images/icons/arena-first-place.png" alt="first-place">
          <arena-player-statistics [statistics]="top3[0]" [withOpponents]="false"></arena-player-statistics>
        </div>
        <div class="col-4 mt-4" [@bounce3]>
          <img width="90" height="90" class="mb-2" src="assets/images/icons/arena-third-place.png" alt="third-place">
          <arena-player-statistics [statistics]="top3[2]" [withOpponents]="false"></arena-player-statistics>
        </div>
      </div>
    </div>
  }
</kep-card>
