@if (!contest.isFinished()) {
  <div>
    <ngx-countdown [time]="leftTime" [render]="render">
      <ng-template #render let-data>
        <div class="d-flex justify-content-between" [ngbTooltip]="contest.startTime | localizedDate:'medium'">
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[0] }}</h5>
            <h5 class="clock-text">{{ 'Day' | translate }}</h5>
          </div>
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[1] }}</h5>
            <h5 class="clock-text">{{ 'Hour' | translate }}</h5>
          </div>
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[2] }}</h5>
            <h5 class="clock-text">{{ 'Minute' | translate }}</h5>
          </div>
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[3] }}</h5>
            <h5 class="clock-text">{{ 'Second' | translate }}</h5>
          </div>
        </div>
      </ng-template>
    </ngx-countdown>
  </div>
}

<ng-template #finishModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ contest.title }}</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">

    </button>
  </div>
  <div class="modal-body" tabindex="0">
    {{ 'Contests.ContestFinished' | translate }}
  </div>
  <div class="modal-footer">
    <a [routerLink]="Resources.ContestStandings | resourceById:contest.id"
       class="btn btn-primary btn-relief" rippleEffect (click)="modal.dismiss('Cross click')">
      {{ 'Contests.Standings' | translate }}
    </a>
  </div>
</ng-template>

<ng-template #startModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ contest.title }}</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">

    </button>
  </div>
  <div class="modal-body" tabindex="0">
    {{ 'Contests.ContestStarted' | translate }}
  </div>
  <div class="modal-footer">
    <a [routerLink]="Resources.ContestProblems | resourceById:contest.id"
       class="btn btn-primary btn-relief" rippleEffect (click)="modal.dismiss('Cross click')">
      {{ 'Contests.Problems' | translate }}
    </a>
  </div>
</ng-template>
