<a [routerLink]="['..', 'problem', contestProblem.symbol]">
  <kep-card
    [customClass]="'overlay-card ' + (contest | contestClasses) + ' ' + contestProblem.isSolved ? 'border-success' : contestProblem.isAttempted ? 'border-danger' : ''">
    <img [src]="contest.logo" class="card-img" height="200">

    <div class="card-img-overlay d-flex flex-column p-0" style="justify-content: space-evenly;">
      @if (problem) {
        <div class="card-header full-width">
          <div class="card-title text-dark mb-2">
            {{ contestProblem.symbol }}. {{ contestProblem.problem.title }}
          </div>
          <div class="text-dark">
            <mathjax [content]="problem.body"></mathjax>
          </div>
        </div>
      } @else {
        <div class="full-width">
          <div class="card-header justify-content-start">
            @if (contestProblem.isSolved) {
              <span class="text-success">
                <i data-feather="check-circle"></i>
              </span>
            }
            @if (!contestProblem.isSolved && contestProblem.isAttempted) {
              <span class="text-danger">
                <i data-feather="x-circle"></i>
              </span>
            }
            <span class="text-dark ms-1">
              {{ contestProblem.symbol }}. {{ contestProblem.problem.title }}
              @if (contest.hasBalls()) {
                <span>
                  ({{ contestProblem.ball }})
                </span>
              }
            </span>
          </div>
          <div class="card-body">
            @for (availableLanguage of contestProblem.problem.availableLanguages; track availableLanguage) {
              <attempt-language [lang]="availableLanguage.lang" [langFull]="availableLanguage.langFull"/>
            }
          </div>
          <div class="card-body">
            <span class="text-dark">
              {{ contestProblem.solved }}
              <i data-feather="user-check"></i>
            </span>
            <span class="text-dark ps-1">
              {{ contestProblem.attemptUsersCount - contestProblem.solved }}
              <i data-feather="user-x"></i>
            </span>
          </div>
        </div>
      }
    </div>
  </kep-card>
</a>
