<!-- Start::app-sidebar -->
<aside [ngClass]="{ 'sticky-pin': scrolled }" class="app-sidebar sticky" id="sidebar">
  <div class="top-left"></div>
  <div class="top-right"></div>
  <div class="bottom-left"></div>
  <div class="bottom-right"></div>
  <!-- Start::main-sidebar-header -->
  <div class="main-sidebar-header">
    <a [routerLink]="''" class="header-logo">
      <logo/>
    </a>
  </div>
  <!-- End::main-sidebar-header -->

  <!-- Start::main-sidebar -->
  <ngx-simplebar class="main-sidebar" id="sidebar-scroll">
    <!-- Start::nav -->
    <nav class="main-menu-container nav nav-pills flex-column sub-open">
      <div (click)="leftArrowFn()" class="slide-left" id="slide-left">
        <svg fill="#7b8191" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
        </svg>
      </div>
      <ul [ngStyle]="{ display: 'block' }" class="main-menu">
        @for (menuItem of menuItems; track menuItem) {
          <li
            class="slide"
            #activeMenuItems
            [ngClass]="{'slide__category':menuItem.headTitle,
                            'slide has-sub':menuItem.title,
                            'open': menuItem.active,
                            'active': menuItem.selected}">
            <!-- head title  -->
            @if (menuItem.headTitle) {
              <span class="category-name">{{ menuItem.headTitle }}</span>
            }
            <!-- has-Link -->
            @if (menuItem.type === 'link') {
              <a class="side-menu__item" [routerLink]="!menuItem.type ? null : [menuItem.path]"
                 routerLinkActive="active"
                 (click)="setNavActive($event, menuItem.path ?? '')">
                @if (menuItem.icon) {
                  <kep-icon type="duotone" [name]="menuItem.icon" size="medium-2"/>
                }
                <span class="side-menu__label"
                >{{ menuItem.title | translate }}
                  <span class="badge bg-{{ menuItem.badgeClass }}">{{
                      menuItem.badgeValue
                    }}</span>
                </span>
              </a>
            }
            <!-- has-Sub -->
            @if (menuItem.type === 'sub') {
              <a class="side-menu__item" [routerLink]="menuItem.type ? null: [menuItem.path]"
                 [ngClass]="{active: menuItem.selected}" (click)="toggleNavActive($event, menuItem)">
                @if (menuItem.icon) {
                  <kep-icon type="duotone" [name]="menuItem.icon" size="medium-2"/>
                }
                <span class="side-menu__label">
                  {{ menuItem.title | translate }}
                </span>

                @if (menuItem.newCount) {
                  <span class="badge bg-primary-transparent p-1 px-2 rounded-pill ms-1">
                    {{ menuItem.newCount }}
                  </span>
                }
                <i class="fe fe-chevron-right side-menu__angle"></i>
              </a>
            }
            <!-- 2nd Level menu -->
            @if (menuItem.children) {
              <ul class="slide-menu child1"
                  [ngClass]="{'active':menuItem.active,'double-menu-active':menuItem.active, 'force-left' : menuItem.dirchange}"
                  [ngStyle]="{ display: menuItem.active ? 'block' : 'none' }">
                <li class="slide side-menu__label1"><a href="javascript:void(0)">{{ menuItem.title | translate }}</a>
                </li>
                @for (childrenItem of menuItem.children; track childrenItem) {
                  <li class="slide has-sub" activeMenuItems [ngClass]="{'active':childrenItem.selected}"
                      appDropdownPosition
                      [ngClass]="{'has-sub': childrenItem.type === 'sub','open':childrenItem.active}">
                    <!-- link -->
                    @if (childrenItem.type === 'link') {
                      <a class="side-menu__item" [routerLink]="!childrenItem.type ? null : [childrenItem.path] "
                         routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                         (click)="setNavActive($event, childrenItem.path ?? '')">
                        <kep-icon type="duotone" [name]="childrenItem.icon" size="medium-2"/>
                        {{ childrenItem.title | translate }}
                        @if (childrenItem.newCount) {
                          <span class="badge bg-primary-transparent p-1 px-2 rounded-pill ms-1">
                            {{ childrenItem.newCount }}
                          </span>
                        }
                      </a>
                    }
                  </li>
                }
              </ul>
            }
          </li>
        }
        <!-- End::slide -->
      </ul>
      <div (click)="rightArrowFn()" class="slide-right" id="slide-right">
        <svg fill="#7b8191" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
        </svg>
      </div>
    </nav>
    <!-- End::nav -->

  </ngx-simplebar>
  <!-- End::main-sidebar -->

</aside>
<!-- End::app-sidebar -->
