<header>
  <kep-card customClass="overlay-card">
    <img
      [src]="'https://cpython.s3.amazonaws.com/media/images/cover_photo/admin_GpDMmvB.webp'"
      class="card-img"
      height="100%"
      alt="Cover Photo">

    <div class="card-img-overlay d-flex flex-column p-0">
      <div class="card-header justify-content-center">
        <h1  class="card-title text-fixed-white">
          {{ 'Welcome' | translate }}, {{ currentUser?.firstName || currentUser?.username }}
        </h1>
      </div>
      <div class="card-body">
        <h3  class="text-center text-fixed-white">
          {{ 'HomePageTitle' | translate }}
        </h3>
      </div>
    </div>
  </kep-card>
</header>
