@import 'styles/kep-imports';

header {
  .card {
    height: 220px;

    .card-body {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  h1 {
    font-weight: 600;
    font-size: 3rem;
  }

  h3 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.75rem;
  }

  .img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

@include media-breakpoint-down(sm) {
  header {
    .card {
      height: 150px;
    }

    h1 {
      font-size: 1.75rem;
    }

    h3 {
      font-size: 1.25rem;
    }
  }
}
