<div class="content-wrapper container-xxl">
  <div class="content-body">
    @if (contentHeader) {
      <app-content-header (refresh)="reloadPage()" [contentHeader]="contentHeader"></app-content-header>
    }

    <div class="row">
      <div class="col-lg-9">
        <section-problems-filter></section-problems-filter>
        <section-problems-table [defaultOrdering]="defaultOrdering"></section-problems-table>
      </div>

      <div class="col-lg-3">
        <kep-card class="category-card">
          @if (isCategoryLoading) {
            <div [style.height.px]="200">
              <spinner></spinner>
            </div>
          } @else {
            <div class="card-body" [innerHTML]="category.description"></div>
            @if (studyPlans.length > 0) {
              <div class="card-footer">
                @for (studyPlan of studyPlans; track studyPlan) {
                  <study-plan-card [studyPlan]="studyPlan"></study-plan-card>
                }
              </div>
            }
          }
        </kep-card>

        <kep-card>
          <div class="card-header">
            <div class="card-title">
              {{ 'BestResult' | translate }}
            </div>
          </div>
          @if (isTopUsersLoading) {
            <div [style.height.px]="400">
              <spinner></spinner>
            </div>
          } @else {
            <div class="table-responsive beautiful-table">
              <table class="table">
                <thead>
                <tr>
                  <th>
                    <kep-icon name="user"></kep-icon>
                    {{ 'User' | translate }}
                  </th>
                  <th class="text-center">
                    <div ngbTooltip="{{ 'Solved' | translate }}">
                      <kep-icon name="check-square"></kep-icon>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                  @for (user of topUsers; track user.username) {
                    <tr>
                      <td class="text-nowrap">
                        <user-popover [customContent]="true" [username]="user.username">
                          <img width="32" height="32" class="rounded me-1" alt="user-avater" [src]="user.avatar">
                          {{ user.username }}
                        </user-popover>
                      </td>
                      <td class="text-center">
                        <span class="text-success fs-bolder">
                          {{ user.solved }} <span class="text-dark">({{ user.rating }})</span>
                        </span>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          }
        </kep-card>
      </div>
    </div>

  </div>
</div>
