<kep-card>
  <div class="card-header mb-3 d-flex justify-content-between align-items-center">
    <div class="card-title">
      {{ title | translate }}
      <span class="total-count">({{ total }})</span>
    </div>
    <div class="btn-list">
      <ng-content select="[actions]"></ng-content>
    </div>
  </div>

  <hr class="m-0">

  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center gap-4">
<!--      <div class="search position-relative" style="width: 300px;">-->
<!--        <input-->
<!--          class="header-search-bar form-control search-sidebar bg-light-transparent"-->
<!--          placeholder="Search for Products..."-->
<!--          spellcheck=false-->
<!--          type="text"-->
<!--        >-->

<!--        <a class="header-search-icon border-0 " href="javascript:void(0);">-->
<!--          <i class="bi bi-search"></i>-->
<!--        </a>-->
<!--      </div>-->

      <ng-content select="[filter]"></ng-content>
    </div>
  </div>

  <ix-table
    (orderingChange)="orderingChange($event)"
    (pageChange)="pageChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
    [columns]="columns"
    [data]="pageResult?.data || []"
    [isLoading]="isLoading"
    [ordering]="ordering"
    [pageNumber]="pageNumber"
    [pageSize]="pageSize"
    [pagesCount]="pagesCount"
    [slots]="slots"
    [total]="total"
    [pageOptions]="pageOptions"
  >
    <ng-content></ng-content>
  </ix-table>
</kep-card>
