<kep-card>
  <div class="card-header">
    <div class="card-title">
      <kep-icon name="information"/>
      {{ 'Info' | translate }}
    </div>
  </div>
  <div class="card-body">
    <div class="card-row">
      <div class="font-medium-1 card-row">
        <kep-icon name="technology-2"/>
        {{ 'Level' | translate }}
      </div>
      <span class="badge badge-pill bg-success">
        {{ project.levelTitle }}
      </span>
    </div>

    <div class="card-row">
      <div class="font-medium-1 card-row">
        <kep-icon name="dollar"/>
        {{ 'Kepcoin' | translate }}
      </div>
      <kepcoin [value]="project.kepcoins"/>
    </div>

    <div class="card-row">
      <div class="font-medium-1 card-row">
        <kep-icon name="technology"></kep-icon>
        {{ 'Technologies' | translate }}
      </div>
      <div class="text-end">
        @for (technology of project.availableTechnologies; track technology) {
          <div class="mb-50">
            <project-technology [name]="technology.technology"></project-technology>
          </div>
        }
      </div>
    </div>
  </div>
</kep-card>
