@import 'styles/kep-imports';
@import './brackets.css';

.tournament-bracket {
  position: relative;

  #wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
  }

  #logo{
    margin-top: 20px;
    position: absolute;
    top: 0;
    z-index: 2;
    cursor: pointer;
  }

  #logo img{
    height: 27vh;
  }


  /* . TOURNAMENT BRACKET ------------------------------------*/
  /* .1  Bracket ------------------*/
  #bracket{
    width: 100vw;
    max-width: 2200px;
    height: 80vh;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
  }

  #bracket .eighth.left{order: 1;}
  #bracket .eighth.right{order: 7;}
  #bracket .quarter.left{order: 2;}
  #bracket .quarter.right{order: 6;}
  #bracket .semi.left{order: 3;}
  #bracket .semi.right{order: 5;}
  #bracket .final{order: 4;}

  /* .2  Bracket connections ------------------*/
  #connections{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  #connections .shaddow{opacity:0.5;}
  #connections .st0{stroke:rgba(var(--primary-rgb), 0.1);}
  #connections .st1{stroke:rgba(var(--primary-rgb), 0.1);}

  #connections .st0, #connections .st1{
    fill:none;
    stroke-width:10;
    stroke-linejoin:round;
    stroke-miterlimit:10;
  }

  /* .3  Rounds ------------------*/
  #rounds-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .rounds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 1%;
  }

  .rounds.eighth .teams {height: 25%; padding: 15px 0;}
  .rounds.quarter .teams, .rounds.final .teams {height: 50%;}
  .rounds.semi .teams {height: 100%;}

  /* .4  Textbox ------------------*/
  .textbox, #winnerbox, #second-box, #third-box{
    height: 50%;
    width: 100%;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
  }

  .card {
    width: 130px !important;
    height: 40px;
    top: 12px;
    left: -16px;
  }

  .right {
    .card {
      left: 4px;
    }
  }

  .card, .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;

    a {
      letter-spacing: 0px !important;
    }
  }

  .winner {
    font-weight: 700 !important;
  }

  .player, #winner, #second, #third{
    display: flex;
    margin: auto;
    width: 85%;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 12pt;
    color: white;
    padding: 0;
  }

  /* .5  Textbox hover ------------------*/
  .textbox i{
    top: 0;
    position: absolute;
    opacity: 0;
    font-size: 15pt;
    width: 30%;
    height: 100%;
    display: none;
    align-items: center;
    color: white;
  }

  .rounds.left i, .rounds.left{
    right: -15px;
    justify-content: flex-end;
  }
  .rounds.right i, .rounds.right{
    left: -15px;
    justify-content: flex-start;
  }

  .rounds:not(.eighth) input{cursor: default;}

  .rounds.final i{
    height: 30%;
    width: 100%;
    justify-content: center;
    top: unset;
  }

  .rounds.final .top i{
    top: 47%;
    align-items: flex-end;
  }

  .rounds.final .bottom i{
    bottom: 47%;
    align-items: flex-start;
  }

  .rounds.final i:before{
    transform: rotate(90deg);
  }

  /*.rounds.eighth.hidden ~ .rounds.quarter{cursor: text;}*/

  /* . END SCREEN ------------------------------------*/
  #end-screen{
    height: 8vh;
    width: 8vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: visible;
  }

  /* .1  Trophy ------------------*/
  #winnerbox{
    display: none;
    height: 0;
  }

  #trophy-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 10vh;
    cursor: pointer;
    display: flex;
    overflow: visible;
    z-index: 1;
  }

  /* .2  2nd & 3rd ------------------*/
  #second, #third, #winner{
    cursor: default;
  }

  #second-box, #third-box{
    margin-bottom: -2.2vh;
    z-index: -1;
  }

  #second-container, #third-container{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
    width: 15vh;
    margin-top: 13vh;
  }

  #trophy, #second-container img, #third-container img{
    height: 50%;
  }

  /* . BACKGROUND ------------------------------------*/
  #background{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }

  #gradient{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--bg-color) 40%, rgba(40, 170, 255, 0) 65%);
    z-index: 1;
    position: absolute;
  }

  #grid{
    opacity: 0.15;
    height: 80%;
    width: 100%;
    /* More in grid.css */
  }
}
.brackets-viewer {
  font-family: inherit;
  background: none;
  color: var(--font-color);
  font-size: var(--text-size);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 0 auto;
  padding: 10px 50px;
}

.brackets-viewer h3 {
  text-align: center;
  background: var(--primary) !important;
  color: #fff;
  font-size: 1.1em;
  padding: 10px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: var(--match-width);
}

.dark.layout .brackets-viewer h3 {
  background: var(--primary01) !important;
}

.brackets-viewer .participant {
  display: flex;
  justify-content: space-between;
  padding: 2px var(--match-horizontal-padding);
  background: var(--primary01) !important;
}

.brackets-viewer .participant {
  background: var(--primary01) !important;
  border: none !important;
  color: #fff !important;
}
