@import 'styles/kep-imports';

@mixin define-chapter-colors($id, $gradient-color, $gradient-dark-color, $color, $dark-color) {
  .bg-gradient-chapter-#{$id} {
    color: #fff;
    background: $gradient-dark-color;
  }

  .text-chapter-#{$id} {
    color: $color;
  }

  .bg-chapter-#{$id} {
    background: $dark-color !important;
    // box-shadow: 0 0 5px $dark-color !important;
  }
}

// Python
@include define-chapter-colors(
  $id: 1,
  $gradient-color: linear-gradient(141deg, #3b7aa9, #ffe974),
  $gradient-dark-color: linear-gradient(141deg, #1b3446, #978d45),
  $color: #4881a5,
  $dark-color: #285b80,
);

// Python Advanced
@include define-chapter-colors(
  $id: 2,
  $gradient-color: linear-gradient(141deg, #3b7aa9, #ffe974),
  $gradient-dark-color: linear-gradient(141deg, #1d384c, #847b3d),
  $color: #3b7aa9,
  $dark-color: #29597d,
);

// Telegram bots
@include define-chapter-colors(
  $id: 3,
  $gradient-color: linear-gradient(141deg, #1b91c3, #36b3e9),
  $gradient-dark-color: linear-gradient(141deg, #1a3446, #867e40),
  $color: #1b91c3,
  $dark-color: #1b91c3,
);

// Django
@include define-chapter-colors(
  $id: 4,
  $gradient-color: linear-gradient(141deg, #092e20, #6b8f82),
  $gradient-dark-color: linear-gradient(141deg, #07251a, #314337),
  $color: #587b6e,
  $dark-color: #07251a,
);

// Web scraping
@include define-chapter-colors(
  $id: 5,
  $gradient-color: linear-gradient(141deg, #00ced5c5, #02abaf),
  $gradient-dark-color: linear-gradient(141deg, #043d41, #007072),
  $color: #00cfd5,
  $dark-color: #008184,
);

// Algorithms & DS
@include define-chapter-colors(
  $id: 6,
  $gradient-color: linear-gradient(141deg, #6a81ff, #6a80ffae),
  $gradient-dark-color: linear-gradient(141deg, #313c76, #5264c5),
  $color: #6a81ff,
  $dark-color: #374492,
);

// SQL
@include define-chapter-colors(
  $id: 7,
  $gradient-color: linear-gradient(-45deg, rgba(234, 134, 71, 0.849), 50%, #ffad3bec),
  $gradient-dark-color: linear-gradient(45deg, #936028, #7e5420),
  $color: #ffac3b,
  $dark-color: #7e5420,
);

// OS
@include define-chapter-colors(
  $id: 8,
  $gradient-color: linear-gradient(-45deg, #8d9ae5, #76d8fd),
  $gradient-dark-color: linear-gradient(-45deg, #363f64, #3b6f86),
  $color: #76d8fd,
  $dark-color: #30485e,
);

// HTML
@include define-chapter-colors(
  $id: 9,
  $gradient-color: linear-gradient(141deg, #ff5959d6, #e04f5f),
  $gradient-dark-color: linear-gradient(141deg, #6f1b22, #76292f),
  $color: #ff5959,
  $dark-color: #622025,
);

// Data science
@include define-chapter-colors(
  $id: 10,
  $gradient-color: linear-gradient(141deg, #655f9a, #53a5c9),
  $gradient-dark-color: linear-gradient(141deg, #353451, #5a8bb7),
  $color: #53a5c9,
  $dark-color: #5a8bb7,
);

// Dev Ops
@include define-chapter-colors(
  $id: 11,
  $gradient-color: linear-gradient(141deg, #623f98, #8fd3ed),
  $gradient-dark-color: linear-gradient(141deg, #331f51, #035e82),
  $color: #0579a7,
  $dark-color: #0579a7,
);

// Math
@include define-chapter-colors(
  $id: 12,
  $gradient-color: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%),
  $gradient-dark-color: linear-gradient(135deg, #295774 0%, #4b4e90 100%),
  $color: #8BC6EC,
  $dark-color: #366c90,
);

// C++
@include define-chapter-colors(
  $id: 13,
  $gradient-color: linear-gradient(45deg, #6295cb, #00427e),
  $gradient-dark-color: linear-gradient(45deg, #00294d, #00427e),
  $color: #74b1f1,
  $dark-color: #3973b2,
);

// HTML
@include define-chapter-colors(
  $id: 14,
  $gradient-color: linear-gradient(141deg, #ff692c, #e34f26),
  $gradient-dark-color: linear-gradient(141deg, #963419, #d9541e),
  $color: #ff692c,
  $dark-color: #b03d1d,
);

// CSS
@include define-chapter-colors(
  $id: 15,
  $gradient-color: linear-gradient(45deg, #2465f1, #214ce5),
  $gradient-dark-color: linear-gradient(45deg, #102d79, #1234a9),
  $color: #2465f1,
  $dark-color: #102d79,
);

// Javascript
@include define-chapter-colors(
  $id: 16,
  $gradient-color: linear-gradient(45deg, #e8d44d, #f7d724),
  $gradient-dark-color: linear-gradient(45deg, #7f6b18, #9e8f27),
  $color: #cebb3a,
  $dark-color: #9e8f27,
);

// English
@include define-chapter-colors(
  $id: 17,
  $gradient-color: linear-gradient(to right, #39478b, #6788f5),
  $gradient-dark-color: linear-gradient(45deg, #2a3671, #39478b),
  $color: #6788f5,
  $dark-color: #39478b,
);

// IQ
@include define-chapter-colors(
  $id: 18,
  $gradient-color: linear-gradient(to right, #39478b, #6788f5),
  $gradient-dark-color: linear-gradient(45deg, #2a3671, #39478b),
  $color: #020263,
  $dark-color: #020263,
);

// Mental Ariphmetic
@include define-chapter-colors(
  $id: 19,
  $gradient-color: linear-gradient(45deg, mix(black, #4d7e3e, 0), mix(white, #4d7e3e, 10)),
  $gradient-dark-color: linear-gradient(45deg, mix(black, #4d7e3e, 30), #4d7e3e),
  $color: #4d7e3e,
  $dark-color: mix(black, #4d7e3e, 30),
);

// Competitive programming
@include define-chapter-colors(
  $id: 20,
  $gradient-color: linear-gradient(45deg, mix(black, #000066, 0), mix(white, #000066, 10)),
  $gradient-dark-color: linear-gradient(45deg, mix(black, #000066, 30), #000066),
  $color: #000066,
  $dark-color: mix(black, #000066, 30),
);

// Basics of programming
@include define-chapter-colors(
  $id: 21,
  $gradient-color: linear-gradient(45deg, mix(black, #000066, 0), mix(white, #000066, 10)),
  $gradient-dark-color: linear-gradient(45deg, mix(black, #000066, 30), #000066),
  $color: #000066,
  $dark-color: mix(black, #000066, 30),
);

// Coding
@include define-chapter-colors(
  $id: 22,
  $gradient-color: linear-gradient(45deg, mix(black, #0ef394, 0), mix(black, #09a8e6, 10)),
  $gradient-dark-color: linear-gradient(45deg, mix(black, #78e6af, 50), mix(black, #0daad6, 50)),
  $color: #0ef394,
  $dark-color: mix(black, #0ef394, 50),
);

// Russian
@include define-chapter-colors(
  $id: 23,
  $gradient-color: linear-gradient(45deg, mix(black, #cb1f1b, 0), mix(black, #002aa0, 10)),
  $gradient-dark-color: linear-gradient(45deg, mix(black, #cb1f1b, 50), mix(black, #002aa0, 50)),
  $color: #002aa0,
  $dark-color: mix(black, #002aa0, 20),
);

// English Listening
@include define-chapter-colors(
  $id: 24,
  $gradient-color: linear-gradient(to right, color-mix(in srgb, black 50%, var(--primary) 50%), color-mix(in srgb, black 30%, var(--primary) 70%)),
  $gradient-dark-color: linear-gradient(to right, color-mix(in srgb, black 50%, var(--primary) 50%), color-mix(in srgb, black 30%, var(--primary) 70%)),
  $color: color-mix(in srgb, black 30%, var(--primary) 70%),
  $dark-color: color-mix(in srgb, black 30%, var(--primary) 70%),
);

// UI/UX
@include define-chapter-colors(
  $id: 25,
  $gradient-color: linear-gradient(to right, color-mix(in srgb, black 50%, var(--primary) 50%), color-mix(in srgb, black 30%, var(--primary) 70%)),
  $gradient-dark-color: linear-gradient(to right, color-mix(in srgb, black 50%, var(--primary) 50%), color-mix(in srgb, black 30%, var(--primary) 70%)),
  $color: color-mix(in srgb, black 30%, var(--primary) 70%),
  $dark-color: color-mix(in srgb, black 30%, var(--primary) 70%),
);
