@use 'sass:string';
@import 'styles/kep-imports';

@mixin define-contest-colors($selector, $color, $background-light, $background-dark, $color-dark: false) {
  .contests-colors {
    #{$selector} {
      --bg: #{$color};
      --bg-gradient: #{$background-light};
      --box-shadow: 0 0 5px #{$color};
      --text-color: var(--default-text-color);
      --bg-light: #{color-mix(in srgb, white 90%, var(--primary) 10%)};

      .contest-color {
        color: $color !important;
      }

      .contest-bg-color {
        background-color: $color !important;
      }
      @content;

      // Start
      &:not(:has(kep-delta)) {
        kep-icon > span.text-primary {
          color: $color !important;
        }
      }

      .bg-primary-transparent {
        background-color: rgba($color, 0.1) !important;

        @include dark-layout {
          background-color: rgba($color, 0.1) !important;
        }
      }

      .bg-gradient-primary {
        background: rgba($color, 0.8) !important;

        @include dark-layout {
          background: rgba($color, 0.5) !important;
        }
      }

      kep-table {
        tr:hover {
          background-color: rgba($color, 0.1) !important;
        }
      }

      .pagination-primary .page-item.active .page-link {
        background-color: $color !important;
      }

      .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $color !important;
        border: none !important;
        box-shadow: none !important;
      }

      .btn-primary {
        background-color: $color !important;
        border: none !important;

        &:hover {
          box-shadow: 0 0 5px $color !important;
        }

        @include dark-layout {
          background-color: $color !important;
        }
      }

      .nav-tabs .nav-link:hover {
        background-color: var(--bg-light) !important;
      }
      // End
    }

    @include dark-layout() {
      #{$selector} {
        --bg-gradient: #{$background-dark};
        --box-shadow: 0 0 5px #{$color};
        --bg-light: #{color-mix(in srgb, black 60%, var(--primary) 40%)};

        @if $background-dark != false {
          --bg: #{$color-dark};
        }
      }
    }
  }
}

$code-golf-color: #4d7e3e;
$code-golf-selector: '&.contest-type-CodeGolf';

$one-line-color: #d1151d;
$one-line-selector: '&[class*="One"][class*="Line"]';

$hack-it-selector: '&[class*="Hack"][class*="it"]';
$hack-it-color: #71609f;

$sql-selector: '&[class*="SQL"]';
$sql-color: #dc7433;

$april-fools-selector: '&[class*="April"][class*="Fools"]';
$april-fools-color1: #f5479e;
$april-fools-color2: #fec501;
$april-fools-color3: #37a9cd;

$math-selector: '&[class*="Math"]';
$math-color: #00a79d;

$revo-selector: '&[class*="Qualification"]';
$revo-color: #0048dd;

// Primary color
@include define-contest-colors(
  $selector: '&',
  $color: var(--primary),
  $color-dark: color-mix(in srgb, black 20%, var(--primary) 80%),
  $background-light: rgba(var(--primary-rgb), 0.2),
  $background-dark: rgba(var(--primary-rgb), 0.25),
);

// Code Golf
@include define-contest-colors(
  $selector: $code-golf-selector,
  $color: $code-golf-color,
  $color-dark: mix(black, $code-golf-color, 20),
  $background-light: linear-gradient(to right, rgba($code-golf-color, 0.5), rgba($code-golf-color, 0.25)),
  $background-dark: rgba($code-golf-color, 0.25),
) {
  .card-bg {
    zoom: 50% !important;
  }
}

// One Line
@include define-contest-colors(
  $selector: $one-line-selector,
  $color: $one-line-color,
  $color-dark: mix(black, $one-line-color, 30),
  $background-light: linear-gradient(to right, rgba($one-line-color, 0.5), rgba($one-line-color, 0.3)),
  $background-dark: rgba($one-line-color, 0.25),
) {
  .card-bg {
    zoom: 137% !important;
  }
}

// Hack it
@include define-contest-colors(
  $selector: $hack-it-selector,
  $color: $hack-it-color,
  $color-dark: mix(black, $hack-it-color, 30),
  $background-light: linear-gradient(to right, rgba($hack-it-color, 0.5), rgba($hack-it-color, 0.3)),
  $background-dark: rgba($hack-it-color, 0.25),
);

// SQL
@include define-contest-colors(
  $selector: $sql-selector,
  $color: $sql-color,
  $color-dark: mix(black, $sql-color, 30),
  $background-light: rgba($sql-color, 0.8),
  $background-dark: rgba($sql-color, 0.25),
);

// April Fools
@include define-contest-colors(
  $selector: $april-fools-selector,
  $color: mix(white, $april-fools-color1, 25),
  $color-dark: mix(black, $april-fools-color1, 50),
  $background-light: linear-gradient(256deg, mix(white, $april-fools-color2, 0), mix(white, $april-fools-color3, 0)),
  $background-dark: linear-gradient(256deg, mix(black, $april-fools-color2, 50), mix(black, $april-fools-color3, 50)),
) {
  .card {
    border: none !important;
  }

  .contest-description
  a {
    color: white !important;
  }
}

// DT contest
@include define-contest-colors(
  $selector: '&.contest-365',
  $color: #b28c4b,
  $color-dark: #685128,
  $background-light: linear-gradient(to right, #b28c4b, #dbb666),
  $background-dark: linear-gradient(to right, #564122, #685128),
);

// Math Contest
@include define-contest-colors(
  $selector: $math-selector,
  $color: $math-color,
  $color-dark: mix(black, $math-color, 30),
  $background-light: rgba($math-color, 0.7),
  $background-dark: rgba($math-color, 0.25),
) {
  .contest-logo {
    height: 100%;
  }
}

// Uzinfocom
@include define-contest-colors(
  $selector: '&[class*="Uzinfocom"]',
  $color: rgba(28, 112, 184, 0.82),
  $color-dark: #1870b6,
  $background-light: linear-gradient(45deg, rgba(0, 94, 162, 0.4), rgba(24, 111, 182, 0.39)),
  $background-dark: linear-gradient(45deg, #042c4bde, #005ea2c9),
);


// Revo
@include define-contest-colors(
  $selector: $revo-selector,
  $color: $revo-color,
  $color-dark: mix(white, $revo-color, 50),
  $background-light: linear-gradient(45deg, rgba($revo-color, 0.2), rgba($revo-color, 0.3)),
  $background-dark: linear-gradient(45deg, rgba($revo-color, 0.1), rgba($revo-color, 0.9)),
) {
  .card-bg {
    zoom: 30% !important;
  }
}

.contests-colors {
  &.contest-254 {
    --bg-gradient: linear-gradient(to right, #38CCBC, #07e4cf);
    --bg: #2db3a5;
    --bg-light: rgb(45, 179, 165, 0.1);
    --box-shadow: 0 0 5px #32b9ac;
  }

  &.contest-251,
  &.contest-250 {
    --bg-gradient: linear-gradient(to right, #3E9773, #56977D);
    --bg: #56977D;
    --bg-light: rgb(86, 151, 125, 0.1);
    --box-shadow: 0 0 5px #3E9773;
  }

  &[class*="NASM"] {
    --bg: #0c4c90;
    --bg-light: rgb(12, 76, 144, 0.1);
    --box-shadow: 0 0 5px #0c4c90;
    --bg-gradient: linear-gradient(-45deg, #0c4c90c8, #0c4c90c2);
  }

  &.contest-253 {
    --bg-gradient: linear-gradient(141deg, #00ced5c5, 50%, #02abaf);
    --bg: #36b3e9;
    --bg-light: rgb(54, 179, 233, 0.1);
    --box-shadow: 0px 0px 5px #36b3e9;
  }

  &.contest-type-LessCode:not([class*="Line"]) {
    --bg-gradient: linear-gradient(141deg, #dee7e9b9, 50%, rgba(222, 231, 233, 0.74));
    --bg: #b0b5b6c4;
    --bg-light: rgba(176, 181, 182, 0.77, 0.1);
    --box-shadow: 0px 0px 5px #b0b5b6c4;
    --text-color: #000;
  }

  &.contest-297 {
    --text-color: #fff;
  }

  &[class*="UBTUIT"] {
    --bg-gradient: linear-gradient(42.32deg, rgba(172, 161, 6, 0.89), #dfd108);
    --bg: rgba(98, 102, 5, 0.88);
    --box-shadow: 0px 0px 5px rgba(98, 102, 5, 0.85);
  }

  &[class*="contest-type-MultiL"] {
    --bg-gradient: linear-gradient(45deg, #010c80be, #010c8094);
    --bg: #081386b0;
    --bg-light: rgba(8, 19, 134, 0.1);
    --box-shadow: 0px 0px 5px #010c80a6;

    .card-bg {
      zoom: 50% !important;
    }
  }

  &.contest-309 {
    --bg-gradient: linear-gradient(to right, #605ee3, #484ed0);
    --bg: #1c25c1;
    --bg-light: rgba(96, 94, 227, 0.1);
    --box-shadow: 0 0 5px #1c25c1;
  }

  &.contest-type-CodeGolf {
    .card-bg img {
      max-width: 59% !important;
    }
  }
}

.dark-layout .contests-colors {

  &.contest-254 {
    --bg: #037166;
    --bg-gradient: linear-gradient(to right, #024b44, #037166);
  }

  &.contest-251,
  &.contest-250 {
    --bg-gradient: linear-gradient(to right, #024b44, #024b44);
  }

  &.contest-253 {
    --bg-gradient: linear-gradient(141deg, #064d52, 50%, #02989b);
  }

  &[class*="NASM"] {
    --bg: #0c4c90;
    --box-shadow: 0 0 5px #0c4c90;
    --bg-gradient: linear-gradient(-45deg, #10559e, #0c4c9094);
  }

  &.contest-type-LessCode:not([class*="Line"]) {
    --bg-gradient: linear-gradient(141deg, #4d5051, 50%, #4d5051);
    --bg: #b0b5b6;
    --box-shadow: 0px 0px 5px #b0b5b6;
    --text-color: #fff;
  }

  &[class*="UBTUIT"] {
    --bg-gradient: linear-gradient(42.32deg, #797104, #aca106);
    --bg: #626605;
    --box-shadow: 0px 0px 5px #626605;
  }

  &[class*="contest-type-MultiL"] {
    --bg-gradient: linear-gradient(45deg, #2a3186be, #19217488);
    --bg: #010c80;
    --box-shadow: 0px 0px 5px #010c80;

    .card-bg {
      zoom: 50% !important;
    }
  }

  &.contest-309 {
    --bg-gradient: linear-gradient(to right, rgba(47, 45, 161, 0.8), #484ed0);
    --bg: #1c25c1;
    --bg-light: rgba(96, 94, 227, 0.1);
    --box-shadow: 0 0 5px #1c25c1;
  }
}
