<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="mt-2">
      <div class="row">
        <div class="col-12 attempts-table">
          <div class="mb-1">
            @if (currentUser) {
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [(ngModel)]="myAttempts"
                  (change)="_reloader.next(null)"
                  [ngModelOptions]="{standalone: true}" id="myAttempts"/>
                <label class="form-check-label" for="myAttempts">{{ 'MyAttempts' | translate }}</label>
              </div>
            }
          </div>

          <hack-attempts-table [hackAttempts]="hackAttempts"></hack-attempts-table>

          <kep-pagination
            [collectionSize]="totalAttemptsCount"
            [(page)]="currentPage"
            [pageSize]="20"
            [maxSize]="7"
            (pageChange)="_reloader.next(null)"
          ></kep-pagination>
        </div>
      </div>
    </section>
  </div>
</div>
