<kep-table [loading]="isLoading && !arenaPlayers">
  <ng-container header>
    <tr class="bg-arena">
      <th class="text-dark">#</th>
      <th class="text-dark">{{ 'User' | translate }}</th>
      <th class="text-dark text-end">{{ 'Results' | translate }}</th>
      <th class="text-dark text-center">{{ 'Points' | translate }}</th>
    </tr>
  </ng-container>
  <ng-container body>
    @for (player of arenaPlayers; track player.username) {
      <tr

        class="cursor-pointer"
        (click)="arenaPlayerClick.emit(player)"
        [ngClass]="{
          'bg-warning-transparent': player.username == currentUser?.username
         }">
        <td class="text-dark">{{ player.rowIndex }}</td>
        <td>
          <challenges-user-view [user]="player" [withRating]="true"></challenges-user-view>
        </td>
        <td class="text-end player-results">
          @for (result of player.results; track result) {
            <span [ngClass]="{
              'text-warning': result == 3,
              'text-success': result == 2,
              'text-secondary': result == 1,
              'text-danger': result == 0
            }">{{ result }}</span>
          }
        </td>
        <td class="text-center">
          <span class="badge-glow bg-warning badge">
            @if (player.streak && arena.status == 0) {
              <img src="assets/images/icons/fire_red.png" alt="streak" width="17" height="17">
            }
            {{ player.points }}
          </span>
        </td>
      </tr>
    }
  </ng-container>
  <ng-container pagination>
    @if (total) {
      <div class="mb-1">
        <kep-pagination
          [collectionSize]="total"
          [(page)]="pageNumber"
          [pageSize]="pageSize"
          [maxSize]="maxSize"
          [rotate]="true"
          [color]="'warning'"
          [pageOptions]="pageOptions"
          (pageSizeChange)="pageSizeChange($event)"
          [disabled]="isLoading"
          (pageChange)="pageChange($event)">
        </kep-pagination>
      </div>
    }
  </ng-container>
</kep-table>
