<kep-card>
  <div class="card-header">
    <h5 class="card-title text-center">
      <span class="contest-color">
        <kep-icon name="filter" type="duotone"/>
      </span>
      {{ 'Contests.FilterAttempts' | translate }}
    </h5>
  </div>

  <div class="card-footer">
    <form [formGroup]="form" class="form">
      <div class="mb-1">
        <label class="contest-color">
          <kep-icon name="problem" size="small-2"/>
          {{ 'Problem' | translate }}
        </label>
        <div class="mb-1">
          <ng-select appendTo="body" formControlName="contestProblem">
            @for (contestProblem of contestProblems; track contestProblem) {
              <ng-option [value]="contestProblem.symbol">
                {{ contestProblem.symbol }}. {{ contestProblem.problem.title }}
              </ng-option>
            }
          </ng-select>
        </div>
      </div>

      <div class="mb-1">
        <label class="contest-color">
          <kep-icon name="verdict" size="small-2"/>
          {{ 'Verdict' | translate }}
        </label>
        <ng-select [clearable]="true" appendTo="body" formControlName="verdict">
          @for (verdict of verdicts; track verdict) {
            <ng-option [value]="verdict.value">{{ verdict.label }}</ng-option>
          }
        </ng-select>
      </div>

      @if (currentUser) {
        <div class="mt-1 form-check">
          <input
            formControlName="userOnly"
            class="form-check-input contest-bg-color"
            id="filterOnlyUser"
            type="checkbox"
          />
          <label class="form-check-label" for="filterOnlyUser">{{ 'MyAttempts' | translate }}</label>
        </div>
      }
    </form>
  </div>
</kep-card>
