<div class="card mt-2">
  <div class="card-header">
    <div  class="card-title text-dark">
      {{ 'Topics' | translate }}
    </div>
  </div>

  <div class="card-body">
    <swiper [config]="swiperConfig">
      <div class="swiper-slide">
        <div
          (click)="click(1)"

          [ngClass]="{'active': activeTopic == 1}"
          class="topic"
          container="body"
          ngbTooltip="{{ 'Best' | translate }}">
          <div class="icon">
            <img alt="topic-best" loading="lazy" src="assets/images/problems/topics/topic-best.webp">
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div
          (click)="click(2)"

          [ngClass]="{'active': activeTopic == 2}"
          class="topic"
          container="body"
          ngbTooltip="{{ 'Coding' | translate }}">
          <div class="icon">
            <img alt="topic-coding" loading="lazy" src="assets/images/problems/topics/topic-coding.webp">
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div
          (click)="click(3)"

          [ngClass]="{'active': activeTopic == 3}"
          class="topic"
          container="body"
          ngbTooltip="{{ 'Python Tricks' | translate }}">
          <div class="icon">
            <img alt="topic-python-tricks" loading="lazy" src="assets/images/problems/topics/topic-python-tricks.webp">
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div
          (click)="click(4)"

          [ngClass]="{'active': activeTopic == 4}"
          class="topic"
          container="body"
          ngbTooltip="{{ 'Bash' | translate }}">
          <div class="icon">
            <img alt="topic-bash" loading="lazy" src="assets/images/problems/topics/topic-bash.webp">
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div
          (click)="click(5)"

          [ngClass]="{'active': activeTopic == 5}"
          class="topic"
          container="body"
          ngbTooltip="{{ 'Database' | translate }}">
          <div class="icon">
            <img alt="topic-database" loading="lazy" src="assets/images/problems/topics/topic-database.webp">
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div
          (click)="click(6)"

          [ngClass]="{'active': activeTopic == 6}"
          class="topic"
          container="body"
          ngbTooltip="{{ 'Math' | translate }}">
          <div class="icon">
            <img alt="topic-math" loading="lazy" src="assets/images/problems/topics/topic-math.webp">
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div
          (click)="click(7)"

          [ngClass]="{'active': activeTopic == 7}"
          class="topic"
          container="body"
          ngbTooltip="{{ 'Iq' | translate }}">
          <div class="icon">
            <img alt="topic-iq" loading="lazy" src="assets/images/problems/topics/topic-iq.webp">
          </div>
        </div>
      </div>
    </swiper>
  </div>
</div>
