@import 'styles/kep-imports';


.card {
  border: none;
  box-shadow: var(--inherit-bg-box-shadow) !important;
  background: inherit !important;
}

.topic {
  cursor: pointer;
  transition: 0.5s ease;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  transform: scale(0.9);

  &.active {
    border-bottom: 1px solid $dark;

    @include dark-layout {
      border-color: $light;
    }
  }

  &:hover {
    transform: scale(1);
  }

  .icon {
    width: 120px;
    height: 90px;
    padding: 5px;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .text {
    display: none;
    transition: 1s ease;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.4rem;
    margin-top: 0;
    text-align: left;
    white-space: pre-wrap;
    color: #fff;
  }
}
