<user-popover [customContent]="true" [username]="user.username">
  <div>
    <span class="badge badge-pill bg-{{ user.rankTitle | challengesRankColor }}">
      {{ user.rankTitle }}
    </span>
    {{ user.username }}

    @if (withRating) {
      <span [class]="{
        'bg-{{ user.rankTitle | challengesRankColor }}-transparent': light
      }" class="badge bg-{{ user.rankTitle | challengesRankColor }}">
        {{ user.rating }}
      </span>
    }

    @if (user?.isBot) {
      <span
        class="ms-1 mb-50 badge badge-pill bg-{{ user.rankTitle | challengesRankColor }}-transparent">
        bot
      </span>
    }
  </div>
</user-popover>
