<a [routerLink]="Resources.BlogPost | resourceById:blog.id">
  <kep-card customClass="overlay-card">
    <img [src]="blog.image" height="200" class="card-img"/>

    <div class="card-img-overlay d-flex flex-column p-0">
      <div class="card-header">
        <div class="card-title">
          {{ blog.title }}
        </div>
      </div>

      <div class="card-body">
        @for (tag of blog.tags; track tag) {
          <span class="me-2">
            {{ tag }}
          </span>
        }
      </div>

      <div class="card-footer">
        <div class="d-flex align-items-center text-fixed-white">
          <i data-feather="message-square" class="font-medium-1 me-2"></i>
          <span class="fw-medium pe-2">{{ blog.commentsCount }}</span>
          <i data-feather="heart" class="font-medium-1 me-2"></i>
          <span class="fw-medium pe-2">{{ blog.likesCount }}</span>
          <i data-feather="eye" class="font-medium-1 me-2"></i>
          <span class="fw-medium pe-2">{{ blog.views }}</span>
        </div>
      </div>
    </div>
  </kep-card>
</a>
