<div class="table-responsive beautiful-table">
  <table class="table">
    <thead>
    <tr>
      @for (column of columns; track $index) {
        <th
          (click)="sort(column)"
          [class.cursor-pointer]="column.sortable"
          [style.text-align]="column.align"
        >
          <div
            [class.justify-content-center]="column.align === 'center'"
            class="d-flex align-items-center"
          >
            <kep-icon *ngIf="column.icon" [name]="column.icon"/>
            <div class="header-title">{{ column.header | translate }}</div>
            @if (column.sortable) {
              @if (ordering === getOrderingKey(column)) {
                <kep-icon name="up"/>
              } @else if (ordering === '-' + getOrderingKey(column)) {
                <kep-icon name="down"/>
              } @else {
                <!--              <kep-icon name="up-down"/>-->
              }
            }
          </div>
        </th>
      }
    </tr>
    </thead>

    <tbody>
      @if (!isLoading) {
        @for (row of data; track $index) {
          <tr>
            @for (column of columns; track $index) {
              @if (column.field === 'id') {
                <td
                  style="border-left: 3px solid rgb(var(--{{ row['status'] == 'ACTIVE' ? 'success' : 'danger' }}-rgb))">
                  {{ row['id'] }}
                </td>
              } @else {
                <td
                  [style.text-align]="column.align"
                >
                  @if (tplFor(tplKey(column))) {
                    <ng-container
                      [ngTemplateOutletContext]="{ $implicit: getCellValue(row, column) }"
                      [ngTemplateOutlet]="tplFor(tplKey(column))">
                    </ng-container>
                  } @else {
                    {{ getCellValue(row, column) }}
                  }
                </td>
              }
            }
          </tr>
        } @empty {
          <tr>
            <td
              [attr.colspan]="columns.length"
              class="py-6 text-center text-sm">
              No data
            </td>
          </tr>
        }
      } @else {
        @for (_ of [].constructor(pageSize); track $index) {
          <tr>
            @for (_ of columns.concat([null]); track $index) {
              <td>
                <ngx-skeleton-loader
                  [count]="1"
                  [theme]="{'margin-bottom': '10px', 'height': '15px', 'width': '80%', 'background': 'var(--skeleton-color)'}"
                  animation="pulse"
                  appearance="line">
                </ngx-skeleton-loader>
              </td>
            }
          </tr>
        }
      }
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-between align-items-center p-3">
  <div class="d-none d-md-block">
    {{ 'Table.Showing' | translate }}
    <span class="fw-bold">
      {{ pageSize * (pageNumber - 1) + 1 }}
      -
      {{ pageSize * pageNumber }}
    </span>
    {{ 'Table.Of' | translate }}
    <span class="fw-bold">
      {{ total }}
    </span>
  </div>

  <ngb-pagination
    (pageChange)="pageChange.emit($event)"
    [boundaryLinks]="false"
    [collectionSize]="total"
    [disabled]="isLoading"
    [ellipses]="true"
    [maxSize]="5"
    [pageSize]="pageSize"
    [page]="pageNumber"
    [rotate]="true"
    class="pagination-primary">
    <ng-template ngbPaginationFirst>
      <kep-icon class="" name="double-left" type="duotone"/>
    </ng-template>
    <ng-template ngbPaginationPrevious>
      <kep-icon class="" name="left" type="duotone"/>
    </ng-template>
    <ng-template ngbPaginationNext>
      <kep-icon class="" name="right" type="duotone"/>
    </ng-template>
    <ng-template ngbPaginationLast>
      <kep-icon class="" name="double-right" type="duotone"/>
    </ng-template>
  </ngb-pagination>

  <div class="d-none d-md-block">
    <ng-select
      (change)="pageSizeChange.emit($event)"
      [(ngModel)]="pageSize"
      [clearable]="false"
      [searchable]="false"
      appendTo="body">
      @for (pageOption of pageOptions; track pageOption) {
        <ng-option [value]="pageOption">
          {{ pageOption }} / {{ 'Page' }}
        </ng-option>
      }
    </ng-select>
  </div>
</div>
