.blog-topics {
  .blog-topic {
    cursor: pointer;

    .blog-topic-title {
      margin-left: 0.75rem;
      line-height: 23px;
      letter-spacing: 0;
    }

    &.active {
      .blog-topic-title {
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}
