<div class="card" style="--bg-img: url('{{ lesson.image }}'); background-position: {{ backgroundPosition }};">

  <div class="card-meta text-end">
    <span placement="bottom" ngbTooltip="{{ 'Lectures' | translate }}" class="me-1">
      <i [data-feather]="'book'" [size]="18"></i>
      {{ lesson.lecturesCount }}
    </span>
    <span placement="bottom" ngbTooltip="{{ 'Tasks' | translate }}">
      <i data-feather="activity" [size]="18"></i>
      {{ lesson.tasksCount }}
    </span>
  </div>
  <div class="card-header d-block">
    <div class="card-title">
      {{ lesson.title }}
    </div>
    <div class="card-description" [innerHTML]="lesson.description">
    </div>
  </div>
</div>
