@if (challenge?.status == ChallengeStatus.Already) {
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 order-lg-1 order-3">
      <challenge-results-card [challenge]="challenge"/>
    </div>
    <div class="col-lg-6 col-12 order-lg-2 order-1">
      <question-card #questionCard [question]="question" (check)="checkAnswer($event)"/>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 order-2">
      <challenge-countdown #counter [challenge]="challenge" (finish)="countdownFinish()"/>
    </div>
  </div>
}

<swal
  #startSwal
  [showClass]="{ popup: 'animate__animated animate__fadeIn' }"
  [showConfirmButton]="false">
  <div *swalPortal>
    <div class="mb-2 d-flex justify-content-center">
      <div class="text-center">
        <div class="avatar avatar-lg bg-light-transparent">
          <div class="avatar-content" ngbTooltip="{{ 'Challenges' | translate }}">
            <i class="font-medium-3" data-feather="zap"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2 mb-2 d-flex justify-content-center">
      <h3 class="text-center">
        {{ 'Challenge' | translate }}
      </h3>
    </div>

    <div class="mt-1 mb-2 d-flex justify-content-center">
      <div class="text-center">
        <span class="badge me-1 bg-primary" ngbTooltip="{{ 'Time' | translate }}">
          <i data-feather="clock"></i>
          {{ challenge.timeSeconds }}
        </span>
        <span class="badge bg-primary" ngbTooltip="{{ 'Questions' | translate }}">
          <i data-feather="activity"></i>
          {{ challenge.questionsCount }}
        </span>
      </div>
    </div>

    <div class="mt-2 mb-2 d-flex justify-content-between">
      <div class="text-center">
        <challenges-user-view [user]="challenge.playerFirst"></challenges-user-view>
        <span class="ms-1 mt-1 badge bg-{{ challenge.playerFirst.rankTitle | challengesRankColor }}-transparent">
          {{ challenge.playerFirst.rating }}
        </span>
      </div>
      <div class="text-center">
        <challenges-user-view [user]="challenge.playerSecond"></challenges-user-view>
        <span class="ms-2 mt-1 badge bg-{{ challenge.playerSecond.rankTitle | challengesRankColor }}-transparent">
          {{ challenge.playerSecond.rating }}
        </span>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button (click)="startSwal.close()" class="btn btn-success-light">
        {{ 'Start' | translate }}
      </button>
    </div>
  </div>
</swal>


<swal
  #finishSwal
  [showConfirmButton]="false">
  <div *swalPortal>
    <div class="mb-2 d-flex justify-content-center">
      <div class="text-center">
        <div class="avatar avatar-rounded avatar-lg bg-primary-transparent">
          <div class="avatar-content" ngbTooltip="{{ 'Challenges' | translate }}">
            <i class="font-medium-3" data-feather="zap"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2 mb-2 d-flex justify-content-center">
      <h3 class="text-center">
        {{ 'Challenge' | translate }}
      </h3>
    </div>

    <div class="mt-1 mb-2 d-flex justify-content-center">
      <div class="text-center">
        <span class="badge me-1 bg-primary" ngbTooltip="{{ 'Time' | translate }}">
          <i data-feather="clock"></i>
          {{ challenge.timeSeconds }}
        </span>
        <span class="badge bg-primary" ngbTooltip="{{ 'Questions' | translate }}">
          <i data-feather="activity"></i>
          {{ challenge.questionsCount }}
        </span>
      </div>
    </div>

    <div class="mt-2 mb-2 d-flex justify-content-between">
      <div class="text-center">
        <div class="text-center">
          <challenges-user-view [user]="challenge.playerFirst"/>
          <span
            class="ms-1 me-1 mt-2 badge bg-{{ challenge.playerFirst.newRankTitle | challengesRankColor }}-transparent">
            {{ challenge.playerFirst.newRating }}
          </span>
          <span [ngClass]="{
            'bg-success': challenge.playerFirst.delta > 0,
            'bg-danger': challenge.playerFirst.delta < 0,
            'bg-secondary': challenge.playerFirst.delta == 0
          }" class="badge mb-1">
            <i [data-feather]="'trending-up'"></i>
            {{ challenge.playerFirst.delta }}
          </span>
        </div>

        @for (result of challenge.playerFirst.results; track result) {
          <div>
            @switch (result) {
              @case (-1) {
                <i class="text-warning" data-feather="minus"></i>
              }
              @case (0) {
                <i class="text-danger" data-feather="x"></i>
              }
              @case (1) {
                <i class="text-success" data-feather="check"></i>
              }
            }
          </div>
        }

        <div class="text-center mt-1">
          <span [ngClass]="{
            'bg-danger': challenge.playerFirst.result < challenge.playerSecond.result,
            'bg-success': challenge.playerFirst.result > challenge.playerSecond.result,
            'bg-secondary': challenge.playerFirst.result == challenge.playerSecond.result
          }" class="badge badge-result">
            {{ challenge.playerFirst.result }}
          </span>
        </div>
      </div>
      <div class="text-center">
        <div class="text-center">
          <challenges-user-view [user]="challenge.playerSecond"></challenges-user-view>
          <span
            class="ms-2 me-1 mt-2 badge bg-{{ challenge.playerSecond.newRankTitle | challengesRankColor }}-transparent">
            {{ challenge.playerSecond.newRating }}
          </span>
          <span [ngClass]="{
            'bg-success': challenge.playerSecond.delta > 0,
            'bg-danger': challenge.playerSecond.delta < 0,
            'bg-secondary': challenge.playerSecond.delta == 0
          }" class="badge mb-1">
            <i [data-feather]="'trending-up'"></i>
            {{ challenge.playerSecond.delta }}
          </span>
        </div>

        @for (result of challenge.playerSecond.results; track result) {
          <div>
            @switch (result) {
              @case (-1) {
                <i class="text-warning" data-feather="minus"></i>
              }
              @case (0) {
                <i class="text-danger" data-feather="x"></i>
              }
              @case (1) {
                <i class="text-success" data-feather="check"></i>
              }
            }
          </div>
        }

        <div class="text-center mt-1">
          <span [ngClass]="{
            'bg-danger': challenge.playerFirst.result > challenge.playerSecond.result,
            'bg-success': challenge.playerFirst.result < challenge.playerSecond.result,
            'bg-secondary': challenge.playerFirst.result == challenge.playerSecond.result
          }" class="badge badge-result">
            {{ challenge.playerSecond.result }}
          </span>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button (click)="finishSwal.close()" class="btn btn-outline-info">
        {{ 'OK' | translate }}
      </button>
    </div>
  </div>
</swal>

<sweet-alert-css></sweet-alert-css>

<audio
  #successAudio
  src="assets/audio/success/Default.mp3">
</audio>

<audio
  #wrongAudio
  src="assets/audio/wrong.mp3">
</audio>
