<kep-card>
  <div class="card-header">
    <div class="card-title fw-semibold">
      {{ team.name }}
    </div>
  </div>
  <div class="card-body">
    @for (member of team.members; track member) {
      <div class="avatar avatar-rounded">
        <img [src]="member.avatar" width="32" height="32" alt="member-avatar">
      </div>
      <user-popover [username]="member.username"/>
      <span *ngIf="member.username == team.createrUsername">
        ({{ 'Settings.Creator' | translate }})
      </span>
      <span class="me-1"></span>
    }
  </div>
  @if (currentUser.username == team.createrUsername) {
    <div class="card-footer">
      <clipboard-button
        [text]="'https://kep.uz' + (Resources.TeamJoin | resourceById:team.code)">
        {{ 'Settings.LinkToJoin' | translate }}
      </clipboard-button>
      <button
        [ngbTooltip]="'Settings.GenerateNewLink' | translate"
        class="ms-1 btn btn-sm btn-primary"
        (click)="refreshCode()">
        {{ 'Settings.RefreshLink' | translate }}
      </button>
    </div>
  }
</kep-card>
