@import 'styles/kep-imports';

.project-technology {
  margin-left: 0.25rem;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 2px;
  padding: .3rem .6rem;
}

.technology-Django {
  background-image: linear-gradient(141deg, #092e20, 60%, #b6d7cb);

  &:hover {
    box-shadow: 0px 0px 5px #91aa91 !important;
  }
}

.technology-Python {
  background-image: linear-gradient(141deg, #3979aa, #ffe974);

  &:hover {
    box-shadow: 0px 0px 5px #91aa91;
  }
}

.technology-FastAPI {
  background: #0d9b8e;

  &:hover {
    box-shadow: 0px 0px 5px #0d9b8e;
  }

  @include dark-layout {
    background: #196159;
  }
}

.technology-Frontend {
  background-image: linear-gradient(141deg, #4a4a47, #f4e258);

  @include dark-layout {
    background-image: linear-gradient(141deg, #272725, #dac945);
  }

  &:hover {
    box-shadow: 0px 0px 5px #f0dc3f;
  }
}

.technology-NodeJS {
  background: #e8d44d;

  @include dark-layout {
    background: #b4a53c;
  }

  &:hover {
    box-shadow: 0px 0px 5px #e8d44d;
  }
}

.technology-Angular {
  background: #b124f3;

  @include dark-layout {
    background: #f52aa2;
  }

  &:hover {
    box-shadow: 0px 0px 5px #b124f3;
  }
}

.technology-Text {
  background: linear-gradient(45deg, #d1d5d8, #d1d5d8);

  @include dark-layout {
    background: linear-gradient(45deg, #7a7d7f, #a1a3a5);
  }

  &:hover {
    box-shadow: 0px 0px 5px #d1d5d8;
  }
}
