@import 'styles/kep-imports';

arena-card {
  .card {
    background: linear-gradient(to right, #f8b600e3, #fde29c);
    box-shadow: none;

    h5 {
      font-weight: 500;
    }
  }

  .card-footer {
    border-color: #f8b600e3 !important;
  }
}

