@if (contest.status == ContestStatus.ALREADY) {
  <!--  <h4 class="text-center ms-1 mb-2">-->
  <!--    {{ 'Contests.ContestEnds' | translate }}-->
  <!--  </h4>-->
} @else if (contest.status == ContestStatus.NOT_STARTED) {
  <!--  <h4 class="text-center ms-1 mb-2">-->
  <!--    {{ 'Contests.ContestStarts' | translate }}-->
  <!--  </h4>-->
} @else if (contest.status == ContestStatus.FINISHED) {
  <!--  <h4 class="text-center text-dark ms-1 mb-2">-->
  <!--    {{ 'Contests.Standings' | translate }}-->
  <!--  </h4>-->
}

@if (contest.status != 1) {
  <div class="wrap">
    <div class="countdown">
      <div attr.data-init-value="{{ hours }}" class="bloc-time hours">
        <span class="count-title text-dark">{{ 'Hour' | translate }}</span>

        <div class="figure text-contest hours hours-1">
          <span class="top">0</span>
          <span class="top-back">
            <span>0</span>
          </span>
          <span class="bottom">0</span>
          <span class="bottom-back">
            <span>0</span>
          </span>
        </div>

        <div class="figure text-contest hours hours-2">
          <span class="top">0</span>
          <span class="top-back">
            <span>0</span>
          </span>
          <span class="bottom">0</span>
          <span class="bottom-back">
            <span>0</span>
          </span>
        </div>
      </div>

      <div attr.data-init-value="{{ minutes }}" class="bloc-time min">
        <span class="count-title text-dark">{{ 'Minute' | translate }}</span>

        <div class="figure text-contest min min-1">
          <span class="top">0</span>
          <span class="top-back">
            <span>0</span>
          </span>
          <span class="bottom">0</span>
          <span class="bottom-back">
            <span>0</span>
          </span>
        </div>

        <div class="figure text-contest min min-2">
          <span class="top">0</span>
          <span class="top-back">
            <span>0</span>
          </span>
          <span class="bottom">0</span>
          <span class="bottom-back">
            <span>0</span>
          </span>
        </div>
      </div>

      <div attr.data-init-value="{{ seconds }}" class="bloc-time sec">
        <span class="count-title text-dark">{{ 'Second' | translate }}</span>

        <div class="figure text-contest sec sec-1">
          <span class="top">0</span>
          <span class="top-back">
            <span>0</span>
          </span>
          <span class="bottom">0</span>
          <span class="bottom-back">
            <span>0</span>
          </span>
        </div>

        <div class="figure text-contest sec sec-2">
          <span class="top">0</span>
          <span class="top-back">
            <span>0</span>
          </span>
          <span class="bottom">0</span>
          <span class="bottom-back">
            <span>0</span>
          </span>
        </div>
      </div>
    </div>
  </div>
}

<!--@if (!contest.isFinished()) {-->
<!--  <div class="mb-2 col-lg-10 col-12 offset-lg-1 offset-0">-->
<!--    <ngx-countdown [time]="leftTime" [render]="render" format="DD:HH:mm:ss" (finish)="finish()">-->
<!--      <ng-template #render let-data>-->
<!--        <div class="d-flex justify-content-between">-->
<!--          <div class="countdown text-center">-->
<!--            <h5 class="clock-val">{{ data.fragments[0] }}</h5>-->
<!--            <h5 class="clock-text">{{ 'Day' | translate }}</h5>-->
<!--          </div>-->
<!--          <div class="countdown text-center">-->
<!--            <h5 class="clock-val">{{ data.fragments[1] }}</h5>-->
<!--            <h5 class="clock-text">{{ 'Hour' | translate }}</h5>-->
<!--          </div>-->
<!--          <div class="countdown text-center">-->
<!--            <h5 class="clock-val">{{ data.fragments[2] }}</h5>-->
<!--            <h5 class="clock-text">{{ 'Minute' | translate }}</h5>-->
<!--          </div>-->
<!--          <div class="countdown text-center">-->
<!--            <h5 class="clock-val">{{ data.fragments[3] }}</h5>-->
<!--            <h5 class="clock-text">{{ 'Second' | translate }}</h5>-->
<!--          </div>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ngx-countdown>-->
<!--  </div>-->
<!--}-->

<ng-template #finishModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ contest.title }}</h5>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button">

    </button>
  </div>
  <div class="modal-body" ngbAutofocus tabindex="0">
    {{ 'Contests.ContestFinished' | translate }}
  </div>
  <div class="modal-footer">
    <a (click)="modal.dismiss('Cross click')"
       [routerLink]="Resources.ContestStandings | resourceById:contest.id"
       class="btn btn-primary btn-relief" rippleEffect>
      {{ 'Contests.Standings' | translate }}
    </a>
  </div>
</ng-template>

<ng-template #startModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ contest.title }}</h5>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn-close" type="button">

    </button>
  </div>
  <div class="modal-body" ngbAutofocus tabindex="0">
    {{ 'Contests.ContestStarted' | translate }}
  </div>
  <div class="modal-footer">
    <a (click)="modal.dismiss('Cross click')"
       [routerLink]="Resources.ContestProblems | resourceById:contest.id"
       class="btn btn-primary btn-relief" rippleEffect>
      {{ 'Contests.Problems' | translate }}
    </a>
  </div>
</ng-template>
