<div class="card-body">
  <h5 [innerHTML]="questionBody">
  </h5>
  <br>
  @for (option of questionOptions; track option; let i = $index) {
    <div class="ms-1 mb-1 custom-control-info form-check">
      <input type="radio" id="radio-{{ i }}" name="singleRadio" [(ngModel)]="singleRadio" value="{{ i }}"
             class="form-check-input"/>
      <label class="form-check-label" for="radio-{{ i }}">{{ option }}</label>
    </div>
  }

  <div class="d-flex justify-content-between">
    <button (click)="answerCheck()" class="mb-2 mt-2 btn btn-gradient-info">
      <i data-feather="check"></i> {{ 'Check' | translate }}
    </button>
  </div>
</div>

<div class="card-footer">
  <span class=""><strong>{{ 'Courses.Score' | translate }}</strong>: {{ score }}/{{ all }}</span>
  <ngb-progressbar type="info" showValue="true" [value]="100*score/all"></ngb-progressbar>
</div>
