<challenges-user-view [user]="statistics"></challenges-user-view>

<div ngbTooltip="{{ 'Performance' | translate }}" class="mt-2 text-dark">
  <i data-feather="activity" class="font-medium-3"></i>
  <span class="font-medium-4">
    {{ statistics.performance }}
  </span>
</div>

<div ngbTooltip="{{ 'Wins' | translate }}" class="mt-1 text-dark">
  <span class="font-medium-2 text-success">W</span>
  <span class="font-medium-2">
    {{ statistics.winRate }}% ({{ statistics.wins }})
  </span>
</div>

<div ngbTooltip="{{ 'Draws' | translate }}" class="mt-1 text-dark">
  <span class="font-medium-2 text-secondary">D</span>
  <span class="font-medium-2">
    {{ statistics.drawRate }}% ({{ statistics.draws }})
  </span>
</div>

<div ngbTooltip="{{ 'Losses' | translate }}" class="mt-1 mb-2 text-dark">
  <span class="font-medium-2 text-danger">L</span>
  <span class="font-medium-2">
    {{ statistics.lossRate }}% ({{ statistics.losses }})
  </span>
</div>

@if (withOpponents) {
  <div>
    @for (opponent of statistics.opponents; track opponent) {
      <div class="mb-2 d-sm-none d-md-none d-lg-flex justify-content-center text-dark">
        <challenges-user-view [user]="opponent"></challenges-user-view>
        @if (opponent.status == 1) {
          <span class="ms-1 font-medium-2 text-success">W</span>
        }
        @if (opponent.status == 0) {
          <span class="ms-1 font-medium-2 text-secondary">D</span>
        }
        @if (opponent.status == -1) {
          <span class="ms-1 font-medium-2 text-danger">L</span>
        }
      </div>
    }
  </div>
}
