<div class="card">
  <div class="card-header">
    <img height="90"
         src="https://avatars.dzeninfra.ru/get-zen_doc/759807/pub_5bc971d983474800aa9a3cc6_5bc9720387f84200aa150f11/scale_1200"
         alt="">
  </div>
  <div class="card-body">
    <p>
      <span>S</span>
      <span>a</span>
      <span>l</span>
      <span>o</span>
      <span>m</span>
      <span>.</span>
      <span>&nbsp;</span>
      <span>B</span>
      <span>i</span>
      <span>z</span>
      <span>&nbsp;</span>
      <span>y</span>
      <span>u</span>
      <span>q</span>
      <span>o</span>
      <span>r</span>
      <span>i</span>
      <span>&nbsp;</span>
      <span>i</span>
      <span>n</span>
      <span>t</span>
      <span>e</span>
      <span>l</span>
      <span>l</span>
      <span>e</span>
      <span>k</span>
      <span>t</span>
      <span>g</span>
      <span>a</span>
      <span>&nbsp;</span>
      <span>e</span>
      <span>g</span>
      <span>a</span>
      <span>&nbsp;</span>
      <span>s</span>
      <span>h</span>
      <span>a</span>
      <span>x</span>
      <span>s</span>
      <span>l</span>
      <span>a</span>
      <span>r</span>
      <span>n</span>
      <span>i</span>
      <span>&nbsp;</span>
      <span>q</span>
      <span>i</span>
      <span>d</span>
      <span>i</span>
      <span>r</span>
      <span>y</span>
      <span>a</span>
      <span>p</span>
      <span>m</span>
      <span>i</span>
      <span>z</span>
      <span>.</span>
      <span>&nbsp;</span>
      <span>B</span>
      <span>u</span>
      <span>n</span>
      <span>i</span>
      <span>n</span>
      <span>g</span>
      <span>&nbsp;</span>
      <span>u</span>
      <span>c</span>
      <span>h</span>
      <span>u</span>
      <span>n</span>
      <span>&nbsp;</span>
      <span>t</span>
      <span>e</span>
      <span>s</span>
      <span>t</span>
      <span>&nbsp;</span>
      <span>i</span>
      <span>s</span>
      <span>h</span>
      <span>l</span>
      <span>a</span>
      <span>b</span>
      <span>&nbsp;</span>
      <span>c</span>
      <span>h</span>
      <span>i</span>
      <span>q</span>
      <span>d</span>
      <span>i</span>
      <span>k</span>
      <span>.</span>
    </p>
    <p>
      <span>U</span>
      <span>s</span>
      <span>h</span>
      <span>b</span>
      <span>u</span>
      <span>&nbsp;</span>
      <span>y</span>
      <span>e</span>
      <span>r</span>
      <span>d</span>
      <span>a</span>
      <span>&nbsp;</span>
      <span>y</span>
      <span>a</span>
      <span>s</span>
      <span>h</span>
      <span>i</span>
      <span>r</span>
      <span>i</span>
      <span>n</span>
      <span>&nbsp;</span>
      <span>x</span>
      <span>a</span>
      <span>b</span>
      <span>a</span>
      <span>r</span>
      <span>&nbsp;</span>
      <span>b</span>
      <span>o</span>
      <span>r</span>
      <span>.</span>
      <span>&nbsp;</span>
      <span>U</span>
      <span>n</span>
      <span>i</span>
      <span>&nbsp;</span>
      <span>t</span>
      <span>o</span>
      <span>p</span>
      <span>i</span>
      <span>n</span>
      <span>g</span>
      <span>&nbsp;</span>
      <span>v</span>
      <span>a</span>
      <span>&nbsp;</span>
      <span>u</span>
      <span>&nbsp;</span>
      <span>s</span>
      <span>i</span>
      <span>z</span>
      <span>g</span>
      <span>a</span>
      <span>&nbsp;</span>
      <span>b</span>
      <span>i</span>
      <span>z</span>
      <span>n</span>
      <span>i</span>
      <span>&nbsp;</span>
      <span>q</span>
      <span>a</span>
      <span>n</span>
      <span>d</span>
      <span>a</span>
      <span>y</span>
      <span>&nbsp;</span>
      <span>t</span>
      <span>o</span>
      <span>p</span>
      <span>i</span>
      <span>s</span>
      <span>h</span>
      <span>n</span>
      <span>i</span>
      <span>&nbsp;</span>
      <span>k</span>
      <span>o</span>
      <span>`</span>
      <span>r</span>
      <span>s</span>
      <span>a</span>
      <span>t</span>
      <span>a</span>
      <span>d</span>
      <span>i</span>
      <span>.</span>
    </p>
    <p>
      <span>B</span>
      <span>i</span>
      <span>z</span>
      <span>&nbsp;</span>
      <span>h</span>
      <span>a</span>
      <span>m</span>
      <span>m</span>
      <span>a</span>
      <span>&nbsp;</span>
      <span>y</span>
      <span>o</span>
      <span>`</span>
      <span>l</span>
      <span>n</span>
      <span>i</span>
      <span>&nbsp;</span>
      <span>b</span>
      <span>o</span>
      <span>s</span>
      <span>i</span>
      <span>b</span>
      <span>&nbsp;</span>
      <span>o</span>
      <span>`</span>
      <span>t</span>
      <span>i</span>
      <span>s</span>
      <span>h</span>
      <span>g</span>
      <span>a</span>
      <span>&nbsp;</span>
      <span>m</span>
      <span>u</span>
      <span>v</span>
      <span>a</span>
      <span>f</span>
      <span>f</span>
      <span>a</span>
      <span>q</span>
      <span>&nbsp;</span>
      <span>b</span>
      <span>o</span>
      <span>`</span>
      <span>l</span>
      <span>g</span>
      <span>a</span>
      <span>n</span>
      <span>l</span>
      <span>a</span>
      <span>r</span>
      <span>n</span>
      <span>i</span>
      <span>&nbsp;</span>
      <span>k</span>
      <span>u</span>
      <span>t</span>
      <span>a</span>
      <span>m</span>
      <span>i</span>
      <span>z</span>
      <span>.</span>
    </p>
    <p>
      <span>O</span>
      <span>m</span>
      <span>a</span>
      <span>d</span>
      <span>.</span>
    </p>
    <p>
      <span>1</span>
      <span>0</span>
      <span>3</span>
      <span>3</span>
    </p>
  </div>
</div>
