.user-ranks-mini.bars {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .label {
    display: flex;
    align-items: center;
    font-size: .85rem;
    opacity: .9
  }

  .value {
    display: flex;
    gap: .4rem;
    align-items: baseline
  }

  .val {
    font-weight: 700
  }

  .rk {
    font-size: .8rem;
    opacity: .7
  }

  .bar {
    height: 6px;
    background: rgba(0, 0, 0, .08);
    border-radius: 999px;
    width: 30px;
    overflow: hidden;
    position: relative;

    .fill {
      position: absolute;
      left: 0;
      height: 100%;
      background: rgba(var(--primary-rgb), .9)
    }
  }
}
