<div class="statistics-section">
  <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="-300 -60 950 270">
    <path d="M-314,267 C105,364 400,100 812,279" fill="none" stroke-width="120"
          stroke-linecap="round"/>
  </svg>

  <div class="statistics d-flex justify-content-between">
    <div class="count-item decoration-bottom">
      <strong [countUp]="statistics?.usersCount" [options]="{ duration: 5 }">0</strong>
      <span>{{ 'Users' | translate }}</span>
    </div>
    <div class="count-item decoration-top">
      <strong [countUp]="statistics?.contestsCount" [options]="{ duration: 5 }">0</strong>
      <span>{{ 'Contests.Contests' | translate }}</span>
    </div>
    <div class="count-item decoration-bottom">
      <strong [countUp]="statistics?.problemsCount" [options]="{ duration: 5 }">0</strong>
      <span>{{ 'Problems' | translate }}</span>
    </div>
    <div class="count-item">
      <strong [countUp]="statistics?.attemptsCount" [options]="{ duration: 5 }">0</strong>
      <span>{{ 'Attempts' | translate }}</span>
    </div>
  </div>
</div>
