@import 'styles/kep-imports';


.statistics-section {
  position: absolute;
  height: 200px;
  margin-left: -2rem;
  width: calc(100% + 2rem);
  background: var(--primary);

  @include dark-layout() {
    background: rgba(var(--primary-rgb), 0.5);

    svg {
      stroke: $theme-dark-body-bg !important;
    }
  }

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    stroke: #f5f8fa;
  }

  @include media-breakpoint-down(lg) {
    width: calc(100% + 1.2rem);
  }

  @include media-breakpoint-down(sm) {
    height: 160px;
  }
}

.statistics {
  .count-item.decoration-bottom {
    position: relative;
  }

  .count-item {
    height: 160px;
    position: relative;
    float: left;
    width: 100%;

    strong {
      color: #fff;
      display: block;
      text-align: center;
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 10px;
      margin-top: 40px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    span {
      color: #fff;
      display: block;
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.25px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .statistics {
    .count-item {
      strong {
        font-size: 1.5rem;
      }

      span {
        font-size: 0.75rem;
      }
    }
  }
}
