<kep-card>
  <div class="card-header">
    <div class="card-title">
      <i data-feather="coffee"></i>
      {{ 'HowToSpendKepcoin' | translate }}
    </div>
  </div>

  <div class="card-body text-dark">
    <div class="spend">
      <kepcoin [value]="'0-14'"></kepcoin>
      : {{ 'SpendItem1' | translate }}
    </div>

    <div class="spend">
      <kepcoin [value]="1"></kepcoin>
      : {{ 'SpendItem2' | translate }}
    </div>

    <div class="spend">
      <kepcoin [value]="'2-50'"></kepcoin>
      : {{ 'SpendItem3' | translate }}
    </div>

    <div class="spend">
      <kepcoin [value]="5"></kepcoin>
      : {{ 'SpendItem4' | translate }}
    </div>

    <div class="spend">
      <kepcoin [value]="1"></kepcoin>
      : {{ 'SpendItem5' | translate }}
    </div>

    <div class="spend">
      <kepcoin [value]="'1-1000'"></kepcoin>
      : {{ 'SpendItem6' | translate }}
    </div>

    <div class="spend">
      <kepcoin [value]="'10'"></kepcoin>
      : {{ 'SpendItem7' | translate }}
    </div>

    <div class="spend">
      <kepcoin [value]="25"></kepcoin>
      : {{ 'SpendItem8' | translate }}
    </div>

    <div class="spend">
      <kepcoin [value]="25"></kepcoin>
      : {{ 'SpendItem9' | translate }}
    </div>
  </div>
</kep-card>
