<div (keyup.enter)="answerCheck(true)">
  @if (question.type == 1) {
    <div>
      <h5>
        <mathjax [content]="question.body"></mathjax>
      </h5>
      <br>
      @for (option of question.options; track option) {
        <div class="ms-1 mb-1 form-check">
          <input type="radio" id="radio-{{ option.id }}" name="singleRadio" [(ngModel)]="singleRadio"
                 value="{{ option.id }}"
                 class="form-check-input"/>
          <label class="form-check-label" for="radio-{{ option.id }}">{{ option.optionMain }}</label>
        </div>
      }
    </div>
  }

  @if (question.type == 2) {
    <div>
      <h5>
        <mathjax [content]="question.body"></mathjax>
      </h5>
      <br>
      @for (option of question.options; track option) {
        <div class="ms-1 mb-1 custom-control custom-control-primary custom-checkbox">
          <input type="checkbox" id="check-{{ option.id }}" [(ngModel)]="option.checked" class="form-check-input"/>
          <label class="form-check-label" for="check-{{ option.id }}">{{ option.optionMain }}</label>
        </div>
      }
    </div>
  }

  @if (question.type == 3) {
    <div>
      <h5>
        <mathjax [content]="question.body"></mathjax>
      </h5>
      <br>
      <div class="col-lg-6 col-12 mx-auto">
        <input type="text" [(ngModel)]="input" id="input" class="form-control"/>
      </div>
    </div>
  }

  @if (question.type == 4) {
    <div>
      <h5>
        <mathjax [content]="question.body"></mathjax>
      </h5>
      <div class="row">
        <div class="col">
          <ul class="list-group" dragula="basic-list-group-1" [(dragulaModel)]="conformityGroupOne"
              id="basic-list-group-1">
            @for (option of conformityGroupOne; track option) {
              <li class="bg-gradient-primary list-group-item draggable">
                <div class="row justify-content-between">
                  <div class="ps-1">
                    {{ option }}
                  </div>
                  <div class="pe-1">
                    <i class="text-primary" data-feather="arrow-right"></i>
                  </div>
                </div>
              </li>
            }
          </ul>
        </div>
        <div class="col">
          <ul class="list-group" dragula="basic-list-group-2" [(dragulaModel)]="conformityGroupTwo"
              id="basic-list-group-2">
            @for (option of conformityGroupTwo; track option) {
              <li class="bg-gradient-primary list-group-item draggable">
                <i class="text-white" data-feather="arrow-left"></i>
                {{ option }}
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  }

  @if (question.type == 5) {
    <div>
      <h5>
        <mathjax [content]="question.body"></mathjax>
      </h5>
      <br>
      <div class="col-lg-6 col-12 mx-auto">
        <ul class="list-group" dragula="basic-list-group-3" [(dragulaModel)]="orderingList" id="basic-list-group-3">
          @for (option of orderingList; track option) {
            <li class="bg-gradient-primary list-group-item draggable">
              <div class="row justify-content-between">
                <div class="ps-1">
                  {{ option }}
                </div>
                <div class="pe-1">
                  <i class="text-primary" data-feather="arrow-right"></i>
                </div>
              </div>
            </li>
          }
        </ul>
      </div>
    </div>
  }

  @if (question.type == 6) {
    <div>
      <h5>
        <mathjax [content]="question.body"></mathjax>
      </h5>
      <br>
      <div class="col-lg-6 col-12 mx-auto">
        @for (group of classificationGroups; track group; let i = $index) {
          <div>
            <li class="list-group-item">
              {{ group.key }}
            </li>
            <ul class="list-group" dragula="basic-list-group-3" [(dragulaModel)]="group.values"
                id="basic-list-group-{{i}}">
              @for (option of group.values; track option) {
                <li class="bg-gradient-primary list-group-item draggable">
                  <div class="row justify-content-between">
                    <div class="ps-1">
                      {{ option }}
                    </div>
                    <div class="pe-1">
                      <i class="text-primary" data-feather="arrow-right"></i>
                    </div>
                  </div>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    </div>
  }

  @if (question.type == 7) {
    <div>
      <h5>
        <mathjax [content]="question.body"></mathjax>
      </h5>
      <br>
      <div style="height: 250px;">
        <ngx-monaco-editor
          [ngModelOptions]="{standalone: true}"
          [options]="{theme: 'vs-light', language: 'python'}"
          [(ngModel)]="code"
          name="code"
          class="mt-1"
          style="height: 100%;"
          ngDefaultControl>
        </ngx-monaco-editor>
      </div>
      <code-editor-modal
        [availableLanguages]="[{'lang': 'py', 'codeTemplate': '# Yechimingizni tekshirib ko`ring'}]">
      </code-editor-modal>
    </div>
  }

  <button (click)="answerCheck()" class="mb-2 mt-2 btn btn-primary">
    <i data-feather="check"></i> {{ 'Courses.Check' | translate }}
  </button>
</div>
