.badge-pill {
  margin-right: 6px;
  white-space: nowrap;
  font-weight: 600 !important;
  font-size: 10px !important;
}

::ng-deep apx-chart {
  svg {
    background-color: inherit !important;
  }

  .apexcharts-tooltip {
    .card {
      margin-bottom: 0rem !important;
    }
  }
}
