<ng-template #popContent>
  @if (user) {
    <div class="card card-profile">
      <img [src]="user.coverPhoto" class="img-fluid card-img-top"
           alt="Profile Cover Photo"/>
      <div class="card-body">
        <div class="profile-image-wrapper">
          <div class="profile-image">
            <div class="avatar">
              <img [src]="user.avatar" alt="Profile Picture"/>
              @if (user.isOnline) {
                <span class="avatar-status-online"></span>
              }
              @if (!user.isOnline) {
                <span class="avatar-status-offline"></span>
              }
            </div>
          </div>
        </div>
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <h6 class="text-muted">{{ user.username }}</h6>
        <hr class="mb-2"/>
        <div class="d-flex justify-content-between align-items-center mb-1">
          <div>
            <h6 class="fw-semibold">
              <i [data-feather]="'contest' | iconName"></i> {{ 'Menu.Contests' | translate }}
            </h6>
            <h4 class="mb-0 mt-1">
              <ng-component [innerHTML]="userRatings.contestsRatingTitle | contestsRatingImg"></ng-component>
              <span
                class="badge bg-{{ contestsRating | contestsRatingColor }}-transparent">{{ userRatings.contestsRating }}</span>
            </h4>
          </div>
          <div>
            <h6 class="fw-semibold">
              <i [data-feather]="'problem' | iconName"></i> {{ 'Menu.Problems' | translate }}
            </h6>
            <h4 class="mb-0 mt-1">
              <span class="badge bg-primary">
                {{ userRatings.problemsSolved }}
              </span>
              <span class="badge bg-success-transparent">
                {{ userRatings.problemsRating }}
              </span>
            </h4>
          </div>
          <div>
            <h6 class="fw-semibold">
              <i [data-feather]="'activity'"></i> {{ 'Menu.Challenges' | translate }}
            </h6>
            <p class="mb-0 mt-1">
              <span class="badge bg-success">{{ userRatings.challengesRankTitle }}</span>
              <span class="text-success">
                {{ userRatings.challengesRating }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  }
</ng-template>

<a
  [routerLink]="Resources.UserProfile | resourceByUsername:username"
>
  <img
    [src]="avatar"
    alt="Avatar"
    width="33"
    height="33"

    popoverClass="user-popover"
    [ngbPopover]="popContent"
    triggers="mouseenter:mouseleave"
    [closeDelay]="30000"
    [openDelay]="1000"
    (shown)="loadUser()"
    container="body"
  />
</a>
