@import 'styles/kep-imports';

.footer-container {
  padding: 2rem 2rem;
  // border-radius: 3.5rem 3.5rem 0 0;
  background-color: #f1f1f1;

  @include dark-layout {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .brand {
    display: flex;
    align-items: center;
  }
}

app-footer.footer {
  position: relative !important;

  .card {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
}
