<div class="footer-container">
  <div class="content-wrapper container-xxl">
    <div class="content-body mt-2 mb-2">
      <div class="row">
        <div class="col-12 col-lg-5 mb-1 mb-lg-0">
          <div class="brand">
            <span class="brand-logo">
              <logo [size]="36"/>
            </span>
            <h2 class="brand-text text-dark ms-1 fw-medium mb-0">KEP.uz</h2>
          </div>
          <p
            class="text-dark font-medium-2 pr-0 pe-md-4 mr-0 me-md-4 mt-2">{{ 'LandingPage.SectionTopText' | translate }}</p>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="text-dark fw-semibold mb-50">
            <kep-icon size="small-4" [name]="menu[1].icon"></kep-icon>
            {{ menu[1].title | translate }}
          </div>
          @for (menuItem of menu[1].children; track menuItem.id) {
            <div class="mt-1">
              <a class="text-dark" [routerLink]="menuItem.path">{{ menuItem.title | translate }}</a>
            </div>
          }
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="text-dark fw-semibold mb-50">
            <kep-icon size="small-4" [name]="menu[2].icon"></kep-icon>
            {{ menu[2].title | translate }}
          </div>
          @for (menuItem of menu[2].children; track menuItem.id) {
            <div class="mt-1">
              <a class="text-dark" [routerLink]="menuItem.path">{{ menuItem.title | translate }}</a>
            </div>
          }
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="text-dark fw-semibold mb-50">
            <kep-icon size="small-4" [name]="menu[3].icon"></kep-icon>
            {{ menu[3].title | translate }}
          </div>
          @for (menuItem of menu[3].children; track menuItem.id) {
            <div class="mt-1">
              <a class="text-dark" [routerLink]="menuItem.path">{{ menuItem.title | translate }}</a>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="m-0 p-0">

<kep-card customClass="mb-0">
  <div class="content-wrapper container-xxl p-0 full-width">
    <div class="content-body">
      <div class="card-body align-items-center d-flex justify-content-between">
        <div class="text-dark">KEP.uz ©</div>
        <div class="text-dark">
          Powered by
          <a aria-label="Django" href="https://www.djangoproject.com/" ngbTooltip="Django">
            <kep-icon name="dj" type="duotone"></kep-icon>
          </a>
          <a aria-label="Angular" href="https://angular.io/" ngbTooltip="Angular">
            <kep-icon name="angular" type="duotone"></kep-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</kep-card>
