<kep-card [customClass]="'overlay-card ' + (contest | contestClasses)">
  <img class="card-img" [src]="contest.logo" height="200">

  <div class="card-img-overlay d-flex flex-column p-0" style="justify-content: space-evenly;">
    <div class="card-header my-1 justify-content-center">
      <h6 class="text-uppercase">
        @switch (contest.status) {
          @case (ContestStatus.ALREADY) {
            {{ 'Contests.ContestEnds' | translate }}
          }
          @case (ContestStatus.FINISHED) {
            {{ 'Contests.ContestFinished' | translate }}
          }
          @case (ContestStatus.NOT_STARTED) {
            {{ 'Contests.ContestStarts' | translate }}
          }
        }
      </h6>
    </div>
    <div class="card-footer full-width">
      <contest-countdown
        [clockColor]="'#fff'"
        [contest]="contest"
        [textColor]="'#fff'">
      </contest-countdown>
      @if (contest.status == ContestStatus.FINISHED) {
        <h5
          class="text-center mt-1">
          {{ contest.finishTime | localizedDate:'medium' }}
        </h5>
      }
    </div>
  </div>
</kep-card>
