<!-- Start Switcher -->

<div
  #switcher
  aria-labelledby="offcanvasRightLabel"
  class=" switcher offcanvas-end"
  id="switcher-canvas"
  tabindex="-1"
>
  <div class="offcanvas-header d-block p-0">
    <div class="d-flex align-items-center justify-content-between p-3">
      <h5 class="offcanvas-title text-default" id="offcanvasRightLabel">
        {{ 'SwitcherTitle' | translate }}
      </h5>
      <button
        (click)="activeOffcanvas.close('Close click')"
        aria-label="Close"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        type="button"
      ></button>
    </div>
    <nav class="border-top border-block-start-dashed">
      <div
        #nav="ngbNav"
        class="nav nav-tabs nav-justified"
        id="switcher-main-tab"
        ngbNav
        role="tablist"
      >
        <ng-container ngbNavItem>
          <button
            aria-controls="switcher-home"
            aria-selected="true"
            class="nav-link"
            data-bs-target="#switcher-home"
            data-bs-toggle="tab"
            id="switcher-home-tab"
            ngbNavLink
            role="tab"
            type="button"
          >
            {{ 'SwitcherThemeStyles' | translate }}
          </button>
          <ng-template ngbNavContent>
            <div
              aria-labelledby="switcher-home-tab"
              class="border-0"
              id="switcher-home"
              role="tabpanel"
              tabindex="0"
            >
              <div class="">
                <p class="switcher-style-head">{{ 'SwitcherDirections' | translate }}:</p>
                <div class="row switcher-style gx-0">
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-ltr">
                        {{ 'SwitcherLtr' | translate }}
                      </label>
                      <input
                        (click)="updateDirection('ltr')"
                        [checked]="localData['direction'] != 'rtl'"
                        checked
                        class="form-check-input"
                        id="switcher-ltr"
                        name="direction"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-rtl">
                        {{ 'SwitcherRtl' | translate }}
                      </label>
                      <input
                        (click)="updateDirection('rtl')"
                        [checked]="localData['direction'] == 'rtl'"
                        class="form-check-input"
                        id="switcher-rtl"
                        name="direction"
                        type="radio"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="">
                <p class="switcher-style-head">{{ 'SwitcherNavigationStyles' | translate }}:</p>
                <div class="row switcher-style gx-0">
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-vertical">
                        {{ 'SwitcherVertical' | translate }}
                      </label>
                      <input
                        (click)="updateMenuType('vertical')"
                        [checked]="localData['navigationStyles'] != 'horizontal'"
                        class="form-check-input"
                        id="switcher-vertical"
                        name="navigation-style"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-horizontal">
                        {{ 'SwitcherHorizontal' | translate }}
                      </label>
                      <input
                        (click)="updateMenuType('horizontal')"
                        [checked]="localData['navigationStyles'] == 'horizontal'"
                        class="form-check-input"
                        id="switcher-horizontal"
                        name="navigation-style"
                        type="radio"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="navigation-menu-styles">
                <p class="switcher-style-head">
                  {{ 'SwitcherVerticalHorizontalMenuStyles' | translate }}:
                </p>
                <div class="row switcher-style gx-0 pb-2 gy-2">
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-menu-click">
                        {{ 'SwitcherMenuClick' | translate }}
                      </label>
                      <input
                        (click)="updateMenuStyle('menu-click')"
                        [checked]="localData['menuStyles'] == 'menu-click'"
                        class="form-check-input"
                        id="switcher-menu-click"
                        name="navigation-menu-styles"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-menu-hover">
                        {{ 'SwitcherMenuHover' | translate }}
                      </label>
                      <input
                        (click)="updateMenuStyle('menu-hover')"
                        [checked]="localData['menuStyles'] == 'menu-hover'"
                        class="form-check-input"
                        id="switcher-menu-hover"
                        name="navigation-menu-styles"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-icon-click">
                        {{ 'SwitcherIconClick' | translate }}
                      </label>
                      <input
                        (click)="updateMenuStyle('icon-click')"
                        [checked]="localData['menuStyles'] == 'icon-click'"
                        class="form-check-input"
                        id="switcher-icon-click"
                        name="navigation-menu-styles"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-icon-hover">
                        {{ 'SwitcherIconHover' | translate }}
                      </label>
                      <input
                        (click)="updateMenuStyle('icon-hover')"
                        [checked]="localData['menuStyles'] == 'icon-hover'"
                        class="form-check-input"
                        id="switcher-icon-hover"
                        name="navigation-menu-styles"
                        type="radio"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidemenu-layout-styles">
                <p class="switcher-style-head">{{ 'SwitcherSidemenuLayoutStyles' | translate }}:</p>
                <div class="row switcher-style gx-0 pb-2 gy-2">
                  <div class="col-sm-6">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-default-menu">
                        {{ 'SwitcherDefaultMenu' | translate }}
                      </label>
                      <input
                        (click)="updateLayoutStyles('default')"
                        [checked]="localData['layoutStyles'] == 'default'"
                        class="form-check-input"
                        id="switcher-default-menu"
                        name="sidemenu-layout-styles"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-closed-menu">
                        {{ 'SwitcherClosedMenu' | translate }}
                      </label>
                      <input
                        (click)="updateLayoutStyles('closed')"
                        [checked]="localData['layoutStyles'] == 'closed'"
                        class="form-check-input"
                        id="switcher-closed-menu"
                        name="sidemenu-layout-styles"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-check switch-select">
                      <label
                        class="form-check-label"
                        for="switcher-icontext-menu"
                      >
                        {{ 'SwitcherIconText' | translate }}
                      </label>
                      <input
                        (click)="updateLayoutStyles('icontext')"
                        [checked]="localData['layoutStyles'] == 'icontext'"
                        class="form-check-input"
                        id="switcher-icontext-menu"
                        name="sidemenu-layout-styles"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-icon-overlay">
                        {{ 'SwitcherIconOverlay' | translate }}
                      </label>
                      <input
                        (click)="updateLayoutStyles('overlay')"
                        [checked]="localData['layoutStyles'] == 'overlay'"
                        class="form-check-input"
                        id="switcher-icon-overlay"
                        name="sidemenu-layout-styles"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-detached">
                        {{ 'SwitcherDetached' | translate }}
                      </label>
                      <input
                        (click)="updateLayoutStyles('detached')"
                        [checked]="localData['layoutStyles'] !== 'detached'"
                        class="form-check-input"
                        id="switcher-detached"
                        name="sidemenu-layout-styles"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-double-menu">
                        {{ 'SwitcherDoubleMenu' | translate }}
                      </label>
                      <input
                        (click)="updateLayoutStyles('doublemenu')"
                        [checked]="localData['layoutStyles'] == 'doublemenu'"
                        class="form-check-input"
                        id="switcher-double-menu"
                        name="sidemenu-layout-styles"
                        type="radio"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="">
                <p class="switcher-style-head">{{ 'SwitcherLayoutWidthStyles' | translate }}:</p>
                <div class="row switcher-style gx-0">
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-full-width">
                        {{ 'SwitcherFullWidth' | translate }}
                      </label>
                      <input
                        (click)="updateWidthStyles('full-width')"
                        [checked]="localData['widthStyles'] != 'boxed'"
                        class="form-check-input"
                        id="switcher-full-width"
                        name="layout-width"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-boxed">
                        {{ 'SwitcherBoxed' | translate }}
                      </label>
                      <input
                        (click)="updateWidthStyles('boxed')"
                        [checked]="localData['widthStyles'] == 'boxed'"
                        class="form-check-input"
                        id="switcher-boxed"
                        name="layout-width"
                        type="radio"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="">
                <p class="switcher-style-head">{{ 'SwitcherMenuPositions' | translate }}:</p>
                <div class="row switcher-style gx-0">
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-menu-fixed">
                        {{ 'SwitcherFixed' | translate }}
                      </label>
                      <input
                        (click)="updateMenuPosition('fixed')"
                        [checked]="localData['menuPosition'] != 'scrollable'"
                        class="form-check-input"
                        id="switcher-menu-fixed"
                        name="menu-positions"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-menu-scroll">
                        {{ 'SwitcherScrollable' | translate }}
                      </label>
                      <input
                        (click)="updateMenuPosition('scrollable')"
                        [checked]="localData['menuPosition'] == 'scrollable'"
                        class="form-check-input"
                        id="switcher-menu-scroll"
                        name="menu-positions"
                        type="radio"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="">
                <p class="switcher-style-head">{{ 'SwitcherHeaderPositions' | translate }}:</p>
                <div class="row switcher-style gx-0">
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label class="form-check-label" for="switcher-header-fixed">
                        {{ 'SwitcherFixed' | translate }}
                      </label>
                      <input
                        (click)="updateHeaderPosition('fixed')"
                        [checked]="localData['headerPosition'] != 'scrollable'"
                        class="form-check-input"
                        id="switcher-header-fixed"
                        name="header-positions"
                        type="radio"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-check switch-select">
                      <label
                        class="form-check-label"
                        for="switcher-header-scroll"
                      >
                        {{ 'SwitcherScrollable' | translate }}
                      </label>
                      <input
                        (click)="updateHeaderPosition('scrollable')"
                        [checked]="localData['headerPosition'] == 'scrollable'"
                        class="form-check-input"
                        id="switcher-header-scroll"
                        name="header-positions"
                        type="radio"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-container [ngbNavItem]="2">
          <button
            aria-controls="switcher-profile"
            aria-selected="false"
            class="nav-link"
            data-bs-target="#switcher-profile"
            data-bs-toggle="tab"
            id="switcher-profile-tab"
            ngbNavLink
            role="tab"
            type="button"
          >
            {{ 'SwitcherThemeColors' | translate }}
          </button>
          <ng-template ngbNavContent>
            <div
              aria-labelledby="switcher-profile-tab"
              class="border-0"
              id="switcher-profile"
              role="tabpanel"
              tabindex="0"
            >
              <div>
                <div class="theme-colors">
                  <div class="pattern-image mb-3">
                    <p class="switcher-style-head">{{ 'SwitcherBackgroundPatterns' | translate }}:</p>
                    <div
                      class="d-flex flex-wrap align-items-center switcher-style"
                    >
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgPattern('bgpattern1')"
                          [checked]="localData['bgPatternImage'] == 'bgpattern1'"
                          class="form-check-input patternimage-input bg-pattern1"
                          id="switcher-pattern-img"
                          name="background-pattern"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgPattern('bgpattern2')"
                          [checked]="localData['bgPatternImage'] == 'bgpattern2'"
                          class="form-check-input patternimage-input bg-pattern2"
                          id="switcher-pattern-img1"
                          name="background-pattern"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgPattern('bgpattern3')"
                          [checked]="localData['bgPatternImage'] == 'bgpattern3'"
                          class="form-check-input patternimage-input bg-pattern3"
                          id="switcher-pattern-img2"
                          name="background-pattern"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgPattern('bgpattern4')"
                          checked
                          class="form-check-input patternimage-input bg-pattern4"
                          id="switcher-pattern-img3"
                          name="background-pattern"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgPattern('bgpattern5')"
                          [checked]="localData['bgPatternImage'] == 'bgpattern5'"
                          class="form-check-input patternimage-input bg-pattern5"
                          id="switcher-pattern-img4"
                          name="background-pattern"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgPattern('bgpattern6')"
                          [checked]="localData['bgPatternImage'] == 'bgpattern6'"
                          class="form-check-input patternimage-input bg-pattern6"
                          id="switcher-pattern-img5"
                          name="background-pattern"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgPattern('bgpattern7')"
                          [checked]="localData['bgPatternImage'] == 'bgpattern7'"
                          class="form-check-input patternimage-input bg-pattern7"
                          id="switcher-pattern-img6"
                          name="background-pattern"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgPattern('bgpattern8')"
                          [checked]="localData['bgPatternImage'] == 'bgpattern8'"
                          class="form-check-input patternimage-input"
                          id="switcher-pattern-img7"
                          name="background-pattern"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgPattern('bgpattern9')"
                          [checked]="localData['bgPatternImage'] == 'bgpattern9'"
                          class="form-check-input patternimage-input bg-pattern9"
                          id="switcher-pattern-img8"
                          name="background-pattern"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgPattern('bgpattern10')"
                          [checked]="localData['bgPatternImage'] == 'bgpattern10'"
                          class="form-check-input patternimage-input bg-pattern10"
                          id="switcher-pattern-img9"
                          name="background-pattern"
                          type="radio"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="card-style mb-3">
                    <p class="switcher-style-head">{{ 'SwitcherCardStyling' | translate }}:</p>
                    <div
                      class="d-flex flex-wrap align-items-center switcher-style"
                    >
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCodingStyle('style1')"
                          checked
                          class="form-check-input card-input card-style1"
                          id="switcher-card-style"
                          name="card-style"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCodingStyle('style2')" [checked]="localData['codingStyles'] == 'style2'"
                          class="form-check-input card-input card-style2"
                          id="switcher-card-style1"
                          name="card-style"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCodingStyle('style3')" [checked]="localData['codingStyles'] == 'style3'"
                          class="form-check-input card-input card-style3"
                          id="switcher-card-style2"
                          name="card-style"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCodingStyle('style4')" [checked]="localData['codingStyles'] == 'style4'"
                          class="form-check-input card-input card-style4"
                          id="switcher-card-style3"
                          name="card-style"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCodingStyle('style5')" [checked]="localData['codingStyles'] == 'style5'"
                          class="form-check-input card-input card-style5"
                          id="switcher-card-style4"
                          name="card-style"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCodingStyle('style6')" [checked]="localData['codingStyles'] == 'style6'"
                          class="form-check-input card-input card-style6"
                          id="switcher-card-style5"
                          name="card-style"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCodingStyle('style7')" [checked]="localData['codingStyles'] == 'style7'"
                          class="form-check-input card-input card-style7"
                          id="switcher-card-style6"
                          name="card-style"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCodingStyle('style8')" [checked]="localData['codingStyles'] == 'style8'"
                          class="form-check-input card-input card-style8"
                          id="switcher-card-style7"
                          name="card-style"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCodingStyle('style9')" [checked]="localData['codingStyles'] == 'style9'"
                          class="form-check-input card-input card-style9"
                          id="switcher-card-style8"
                          name="card-style"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCodingStyle('style10')" [checked]="localData['codingStyles'] == 'style10'"
                          class="form-check-input card-input card-style10"
                          id="switcher-card-style9"
                          name="card-style"
                          type="radio"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="card-background mb-3">
                    <p class="switcher-style-head">{{ 'SwitcherCardBackground' | translate }}:</p>
                    <div
                      class="d-flex flex-wrap align-items-center switcher-style"
                    >
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCardBg('background1')"
                          checked
                          class="form-check-input card-input card-background1"
                          id="switcher-card-background"
                          name="card-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCardBg('background2')" [checked]="localData['cardBackground'] == 'background2'"
                          class="form-check-input card-input card-background2"
                          id="switcher-card-background1"
                          name="card-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCardBg('background3')" [checked]="localData['cardBackground'] == 'background3'"
                          class="form-check-input card-input card-background3"
                          id="switcher-card-background2"
                          name="card-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCardBg('background4')" [checked]="localData['cardBackground'] == 'background4'"
                          class="form-check-input card-input card-background4"
                          id="switcher-card-background3"
                          name="card-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCardBg('background5')" [checked]="localData['cardBackground'] == 'background5'"
                          class="form-check-input card-input card-background5"
                          id="switcher-card-background4"
                          name="card-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCardBg('background6')" [checked]="localData['cardBackground'] == 'background6'"
                          class="form-check-input card-input card-background6"
                          id="switcher-card-background5"
                          name="card-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCardBg('background7')" [checked]="localData['cardBackground'] == 'background7'"
                          class="form-check-input card-input card-background7"
                          id="switcher-card-background6"
                          name="card-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCardBg('background8')" [checked]="localData['cardBackground'] == 'background8'"
                          class="form-check-input card-input card-background8"
                          id="switcher-card-background7"
                          name="card-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateCardBg('background9')" [checked]="localData['cardBackground'] == 'background9'"
                          class="form-check-input card-input card-background9"
                          id="switcher-card-background8"
                          name="card-background"
                          type="radio"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="menu-image mb-3">
                    <p class="switcher-style-head">{{ 'SwitcherMenuWithBackgroundImage' | translate }}:</p>
                    <div
                      class="d-flex flex-wrap align-items-center switcher-style"
                    >
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgImage('bgimg1')" [checked]="localData['backgroundImage'] == 'bgimg1'"
                          class="form-check-input bgimage-input bg-img1"
                          id="switcher-bg-img"
                          name="theme-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgImage('bgimg2')" [checked]="localData['backgroundImage'] == 'bgimg2'"
                          class="form-check-input bgimage-input bg-img2"
                          id="switcher-bg-img1"
                          name="theme-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgImage('bgimg3')" [checked]="localData['backgroundImage'] == 'bgimg3'"
                          class="form-check-input bgimage-input bg-img3"
                          id="switcher-bg-img2"
                          name="theme-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgImage('bgimg4')" [checked]="localData['backgroundImage'] == 'bgimg4'"
                          class="form-check-input bgimage-input bg-img4"
                          id="switcher-bg-img3"
                          name="theme-background"
                          type="radio"
                        />
                      </div>
                      <div class="form-check switch-select m-1">
                        <input
                          (click)="updateBgImage('bgimg5')" [checked]="localData['backgroundImage'] == 'bgimg5'"
                          class="form-check-input bgimage-input bg-img5"
                          id="switcher-bg-img4"
                          name="theme-background"
                          type="radio"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </nav>
  </div>
  <div class="offcanvas-body customtab overflow-scroll">
    <!-- <div class="tab-content" id="nav-tabContent"> -->
    <div [ngbNavOutlet]="nav"></div>
    <div
      class="d-grid canvas-footer"
    >
      <a
        (click)="reset()"
        class="btn btn-danger flex-fill"
        href="javascript:void(0);"
        id="reset-all"
      >{{ 'Reset' | translate }}</a
      >
    </div>
    <!-- </div> -->
  </div>
</div>
<!-- End Switcher -->
