<kep-table [empty]="problems?.length == 0" [loading]="!total && isLoading" [tableClass]="''">
  <ng-container header>
    <tr class="bg-problems-table">
      <th>
        <table-ordering
          (change)="orderingChange($event)"
          [justifyContent]="'start'"
          [ordering]="'id'"
          [reverse]="true"
          [value]="ordering">
          ID
        </table-ordering>
      </th>
      <th>
        <table-ordering
          (change)="orderingChange($event)"
          [justifyContent]="'start'"
          [ordering]="'title'"
          [value]="ordering">
          <kep-icon name="text-align-center"></kep-icon>
          {{ 'Title' | translate }}
        </table-ordering>
      </th>
      <th class="d-flex align-items-center">
        <kep-icon name="tags"></kep-icon>
        {{ 'Tags' | translate }}
      </th>
      <th class="text-center">
        <table-ordering
          (change)="orderingChange($event)"
          [justifyContent]="'center'"
          [ordering]="'difficulty'"
          [value]="ordering">
          <kep-icon name="difficulty"></kep-icon>
          {{ 'Difficulty' | translate }}
        </table-ordering>
      </th>
      <th class="text-center">
        <table-ordering
          (change)="orderingChange($event)"
          [justifyContent]="'center'"
          [ordering]="'solved'"
          [value]="ordering">
          <kep-icon name="attempt"></kep-icon>
          {{ 'Attempts' | translate }}
        </table-ordering>
      </th>
    </tr>
  </ng-container>

  <ng-container body>
    @for (problem of problems; track problem.id) {
      <tr [ngClass]="{
          'bg-success-transparent': problem.userInfo.hasSolved,
          'bg-light-danger': !problem.userInfo.hasSolved && problem.userInfo.hasAttempted
        }">
        <td class="text-dark">{{ problem.id }}</td>
        <td>
          <a [routerLink]="Resources.Problem | resourceById : problem.id">
            <div class="fw-medium">
              {{ problem.title }}
            </div>

            @if (problem.hasSolution) {
              <span class="badge mt-2 badge-pill bg-success-transparent">
                {{ 'Solution' | translate }}
              </span>
            }

            @if (!problem.hasChecker) {
              <span class="badge mt-2 badge-pill bg-light-danger">
                {{ 'Checker' | translate }}
              </span>
            }

            @if (problem.hidden) {
              <span class="badge mt-2 badge-pill bg-warning-transparent">
                {{ 'Hidden' | translate }}
              </span>
            }

            <i data-feather="thumbs-up"></i>
            {{ problem.likesCount }}

            <i data-feather="thumbs-down"></i>
            {{ problem.dislikesCount }}
          </a>
        </td>

        <td>
          @for (tag of problem.tags; track tag) {
            <button
              class="btn btn-primary round btn-sm font-small-2 me-1"
              (click)="tagOnClick(tag.id)">
              {{ tag.name }}
            </button>
          }
        </td>

        <td class="text-center">
          <span class="badge bg-{{ problem.difficulty | problemDifficultyColor }}">
            {{ problem.difficultyTitle | translate }}
          </span>
        </td>

        <td class="text-center">
          <span class="text-success">{{ problem.solved }}</span>/<span
          class="text-dark">{{ problem.attemptsCount }}</span>
        </td>
      </tr>
    }
  </ng-container>

  <ng-container pagination>
    <div class="mb-2">
      @if (total) {
        <kep-pagination
          [collectionSize]="total"
          [pageOptions]="pageOptions"
          [(page)]="pageNumber"
          [pageSize]="pageSize"
          [maxSize]="maxSize"
          [rotate]="true"
          [disabled]="isLoading"
          [boundaryLinks]="false"
          [ellipses]="true"
          (pageSizeChange)="pageSizeChange($event)"
          (pageChange)="pageChange($event)">
        </kep-pagination>
      }
    </div>
  </ng-container>
</kep-table>

<ng-select-css></ng-select-css>
