<kep-card>
  <div class="card-header">
    <div class="card-title">
      @if (arena.status == ArenaStatus.NotStarted) {
        {{ 'TournamentStarts' | translate }}
      } @else {
        {{ 'TournamentEnds' | translate }}
      }
    </div>
  </div>
  <div class="card-body">
    <ngx-countdown [time]="leftTime" [render]="render" format="HH:mm:ss" (finish)="onFinish()">
      <ng-template #render let-data>
        <div class="d-flex justify-content-between">
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[0] }}</h5>
            <h5 class="clock-text">{{ 'Hour' | translate }}</h5>
          </div>
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[1] }}</h5>
            <h5 class="clock-text">{{ 'Minute' | translate }}</h5>
          </div>
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[2] }}</h5>
            <h5 class="clock-text">{{ 'Second' | translate }}</h5>
          </div>
        </div>
      </ng-template>
    </ngx-countdown>
  </div>
</kep-card>
