<kep-card>
  <div class="card-header">
    <div class="card-title">
      <i class="font-medium-3" data-feather="user"></i>
      {{ 'Settings.GeneralSettings' | translate }}
    </div>
  </div>
  @if (isLoading) {
    <div [style.height]="'60vh'">
      <spinner/>
    </div>
  } @else {
    <div class="card-body">
      <div class="d-flex">
        <a class="me-1" href="javascript:void(0);">
          <img [src]="generalInfo.avatar" alt="{{ 'Settings.ProfileImageAlt' | translate }}" class="rounded me-2" height="90" width="90"/>
        </a>
        <div class="flex-grow-1 mt-3 ms-1">
          <button (click)="file.click()" class="btn btn-sm btn-primary mb-3 me-3">
            {{ 'Settings.Upload' | translate }}
          </button>
          <input #file (change)="uploadImage($event)" accept="image/*" hidden type="file"/>
          @if (errors?.avatar) {
            <p class="text-danger">{{ errors.avatar[0] }}</p>
          }
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-12 col-sm-6">
          <div class="mb-1">
            <label>{{ 'Settings.Username' | translate }}</label>
            <input
              [(ngModel)]="generalSettings.username"
              [ngModelOptions]="{standalone: true}"
              class="form-control"
              [placeholder]="'Settings.Username' | translate"
              type="text"/>
            @if (errors?.username) {
              <p class="text-danger">{{ errors.username[0] }}</p>
            }
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-1">
            <label>{{ 'Settings.Email' | translate }}</label>
            <input
              [(ngModel)]="generalSettings.email"
              [ngModelOptions]="{standalone: true}"
              class="form-control"
              [placeholder]="'Settings.Email' | translate"
              type="text"/>
            @if (errors?.email) {
              <p class="text-danger">{{ errors.email[0] }}</p>
            }
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-1">
            <label>{{ 'Settings.FirstName' | translate }}</label>
            <input
              [(ngModel)]="generalSettings.firstName"
              [ngModelOptions]="{standalone: true}"
              class="form-control"
              [placeholder]="'Settings.FirstName' | translate"
              type="text"/>
            @if (errors?.firstName) {
              <p class="text-danger">{{ errors.firstName[0] }}</p>
            }
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-1">
            <label>{{ 'Settings.LastName' | translate }}</label>
            <input
              [(ngModel)]="generalSettings.lastName"
              [ngModelOptions]="{standalone: true}"
              class="form-control"
              [placeholder]="'Settings.LastName' | translate"
              type="text"/>
            @if (errors?.lastName) {
              <p class="text-danger">{{ errors.lastName[0] }}</p>
            }
          </div>
        </div>

        <div class="d-flex">
          <img [src]="generalInfo.coverPhoto" alt="{{ 'Settings.CoverImageAlt' | translate }}" class="mt-2" height="100%" width="50%"/>
          <div class="flex-grow-1 mt-2 ms-1">
            @if (!canChangeCoverPhoto) {
              <kepcoin-spend-swal
                [customContent]="true"
                [value]="5"
                [purchaseUrl]="'users/purchase-cover-photo-change/'"
                (success)="canChangeCoverPhoto=true;">
                <button class="btn btn-sm btn-primary ms-2" rippleEffect>
                  {{ 'Settings.Edit' | translate }}
                </button>
              </kepcoin-spend-swal>
            }
            @if (canChangeCoverPhoto) {
              <div>
                <button (click)="cover.click()" for="account-upload" class="btn btn-sm btn-primary mb-3 me-3">
                  {{ 'Settings.Upload' | translate }}
                </button>
                <input type="file" #cover hidden accept="image/*" (change)="uploadCover($event)"/>
                @if (errors?.coverPhoto) {
                  <p class="text-danger">{{ errors.coverPhoto[0] }}</p>
                }
              </div>
            }
          </div>
        </div>

        <div class="col-12 mt-2">
          <button (click)="save()" class="btn btn-primary mt-2 me-1" type="submit">{{ 'Settings.Save' | translate }}</button>
          <button (click)="reset()" class="btn btn-outline-primary mt-2" type="reset">{{ 'Settings.Reset' | translate }}</button>
        </div>
      </div>
    </div>
  }
</kep-card>
