@import 'styles/kep-imports';

.statistics-container {
  width: 100%;
  background-color: var(--primary01);
  padding: 2rem 4rem;
  backdrop-filter: blur(10px);

  .content-body {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.card {
  box-shadow: none !important;
  background-color: inherit !important;
  border: 1px solid rgba(var(--primary-rgb), 0.5);

  .card-body {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .count {
    margin-top: 1rem;
  }

  .text {
    margin-top: 0.5rem;
  }
}
