<kep-card>
  <div class="card-header">
    <div class="card-title">
      {{ 'BirthDays' | translate }}
    </div>
  </div>

  @if (skeletonVisible) {
    <div class="item">
      <ngx-skeleton-loader
        count="5"
        animation="pulse"
        appearance="line"
        [theme]="{height: '70px', background: 'var(--skeleton-color)'}"
      ></ngx-skeleton-loader>
    </div>
  }

  <div class="card-body">
    @for (birthDay of birthDays; track birthDay) {
      <div class="d-flex mb-4 justify-content-start gap-2 align-items-center">
        <div class="media-left">
          <img
            class="media-object rounded-circle"
            src="{{ birthDay.avatar }}"
            alt="Avatar"
            height="48"
            width="48"
          />
        </div>
        <div class="media-body text-dark">
          <h5 class="media-heading">
            <user-popover [username]="birthDay.username"/>
          </h5>
          ({{ birthDay.date | localizedDate:'mediumDate' }})
        </div>
      </div>
    }
  </div>
</kep-card>
