<kep-card>
  <div class="card-header">
    <div class="card-title">
      <i class="font-medium-4 me-1" data-feather="settings"></i>
      {{ 'Settings.System' | translate }}
    </div>
  </div>
  <div class="card-body">
    <div class="sounds">
      <p class="fw-medium font-medium-3 mb-1 mt-1">
        {{ 'Settings.Sounds' | translate }}
      </p>

      <div class="rows">
        <div class="col-6">
          <label>{{ 'Settings.SuccessSound' | translate }}</label>
          <ng-select
            (change)="successSoundChange()"
            [(ngModel)]="successSound"
            [dropdownPosition]="'bottom'"
            [items]="successSoundList"
            appendTo="body">
          </ng-select>
        </div>

        <div class="mt-1 col-6">
          <label>{{ 'Settings.HomeSound' | translate }}</label>
          <ng-select
            (change)="homeSoundChange()"
            [(ngModel)]="homeSound"
            [dropdownPosition]="'bottom'"
            [items]="homeSoundList"
            appendTo="body">
          </ng-select>
        </div>
      </div>
    </div>

    <!-- <div class="toggle-theme-effects mt-2">
      <p class="fw-medium font-medium-3 mb-1 mt-1">
        {{ 'Settings.ThemeToggleEffect' | translate }}
      </p>
      <div class="rows">
        <div class="col-6">
          <ng-select
            (change)="themeToggleEffectChange()"
            [(ngModel)]="themeToggleEffect"
            [dropdownPosition]="'bottom'"
            [items]="themeToggleEffectList"
            appendTo="body">
          </ng-select>
        </div>
      </div>
    </div> -->
  </div>
</kep-card>

@if (successSound != SuccessSoundEnum.NoSound) {
  <audio #successAudio [src]="soundsService.getSuccessSoundSrc()"></audio>
}

@if (homeSound != HomeSoundEnum.NoSound) {
  <audio #homeAudio [src]="soundsService.getHomeSoundSrc()"></audio>
}
