<kep-card>
  @if (isLoading) {
    <div [style.height.px]="400">
      <spinner></spinner>
    </div>
  } @else {
    <div class="table-responsive beautiful-table">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>{{ 'User' | translate }}</th>
          <th><i data-feather="bar-chart"></i></th>
        </tr>
        </thead>
        <tbody>
          @for (challengesRating of challengesRatingList; track $index; let i = $index) {
            <tr>
              <td class="text-dark">
                {{ i + 1 }}
              </td>
              <td>
                <challenges-user-view [user]="challengesRating"></challenges-user-view>
              </td>
              <td>
                <span class="badge bg-{{ challengesRating.rankTitle | challengesRankColor }}">
                  {{ challengesRating.rating }}
                </span>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="card-footer text-center">
      <a routerLink="rating" class="btn full-width btn-sm btn-primary" [ngClass.lt-md]="'btn-sm'">
        <kep-icon name="ranking" size="small-2"></kep-icon>
        {{ 'OverallRating' | translate }}
      </a>
    </div>
  }
</kep-card>
