<kep-card>
  @if (isLoading) {
    <div class="card-body" [style.height.px]="400">
      <spinner></spinner>
    </div>
  } @else {
    <div class="card-header">
      <div class="card-title">
        {{ 'Achievements' | translate }}
      </div>

      <div role="group" aria-label="Basic radio toggle button group" class="btn-group">
        <input [(ngModel)]="tab" (click)="update(Tab.CompletedAchievements)" [value]="Tab.CompletedAchievements"
               type="radio" name="btnradio" id="btnradio1" checked="" class="btn-check">
        <label for="btnradio1"
               class="btn btn-outline-primary">{{ 'Completed' | translate }} {{ completedAchievements.length }}</label>
        <input [(ngModel)]="tab" (click)="update(Tab.NotCompletedAchievements)" [value]="Tab.NotCompletedAchievements"
               type="radio" name="btnradio" id="btnradio2" class="btn-check">
        <label for="btnradio2"
               class="btn btn-outline-primary">{{ 'NotCompleted' | translate }} {{ notCompletedAchievements.length }}</label>
        <input [(ngModel)]="tab" (click)="update(Tab.AllAchievements)" [value]="Tab.AllAchievements" type="radio"
               name="btnradio" id="btnradio3" class="btn-check">
        <label for="btnradio3" class="btn btn-outline-primary">{{ 'All' | translate }}</label>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        @for (achievement of achievements;track achievement) {
          <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6 text-center">
            <achievement [achievement]="achievement"></achievement>
          </div>
        }
      </div>

      @if (achievements.length == 0) {
        <div class="text-center">
          <empty-result [title]="''" [text]="'NoResultFound'"/>
        </div>
      }
    </div>
  }
</kep-card>

@if (currentUsername) {
  <user-competition-prizes [username]="currentUsername"/>
}
