@import 'styles/kep-imports';


.bg-challenge-results {
  //background: linear-gradient(to right, mix(black, var(--primary), 0), mix(white, var(--primary), 20));
  border: none;
  border-radius: 7px;

  //@include dark-layout {
  //  background-image: linear-gradient(mix(black, var(--primary), 40), mix(black, var(--primary), 60));
  //}

  ::ng-deep {
    .text-blue, .text-primary {
      color: #ffffff !important;
    }
  }
}

.table-1 {
  td {
    padding: 0.5rem !important;
  }
}

.table-2 {
  td:nth-child(1) {
    width: 320px;
    min-width: 320px;
    white-space: nowrap;
  }

  td:nth-child(2) {
    width: 120px;
    min-width: 120px;
    white-space: nowrap;
  }

  th,
  td {
    border-top: 0px solid #ebe9f1;
  }


  table {
    margin-bottom: 1px !important;
    padding-bottom: 0px !important;
  }

  @media (max-width: 740px) {
    td:nth-child(4) {
      display: none;
    }
  }

  @media (max-width: 500px) {
    td:nth-child(3) {
      display: none;
    }

    td:nth-child(1) {
      width: 100%;
      min-width: 100%;
    }
  }
}
