@if (contest.type == ContestTypes.ACM20M || contest.type == ContestTypes.ACM2H || contest.type == ContestTypes.ONE_ATTEMPT || contest.type == ContestTypes.IQ) {
  @if (problemInfo.solved) {
    <span [ngClass]="{
        'bg-success bg-darken-1 badge': problemInfo.isFirstAdopted,
        'badge-light-success badge': !problemInfo.isFirstAdopted
    }">
      +@if (problemInfo.attemptsCount > 0) {
      <span>{{ problemInfo.attemptsCount }}</span>
    }
      <br>
      {{ problemInfo.getContestTimeStr(problemInfo.firstAdoptedAttemptDatetime, contest.startTime) }}
    </span>
  } @else {
    <span [ngClass]="{
      'badge bg-danger-transparent': problemInfo.attemptsCount > 0,
      'badge bg-warning-transparent': problemInfo.attemptsCount == 0
    }">
      -@if (problemInfo.attemptsCount > 0) {
      <span>{{ problemInfo.attemptsCount }}</span>
    }
    </span>
  }
}

<!--
if(contest.type == ContestTypes.ACM20M ||
contest.type == ContestTypes.ACM2H ||
contest.type == ContestTypes.ONE_ATTEMPT ||
contest.type == ContestTypes.IQ){
if(this.solved()){
let badgeClass: string;
if(this.isFirstAdopted){
badgeClass = 'badge bg-success bg-darken-1';
} else {
badgeClass = 'badge bg-success-transparent';
}
html = `<span class="${badgeClass}">`;
html += '+';
if(this.attemptsCount > 0){
html += this.attemptsCount;
}
html += '<br>';
html += this.getContestTimeStr(this.firstAdoptedAttemptDatetime, contest.startTime);
html += '</span>';
} else if(this.attemptsCount > 0) {
let badgeClass: string;
if(this.attemptsCount > 0){
badgeClass = 'badge bg-danger-transparent';
} else {
badgeClass = 'badge bg-warning-transparent';
}
html += `<span class="${badgeClass}">`;
html += '-';
if(this.attemptsCount > 0) {
html += this.attemptsCount;
}
html += '</span>';
}
} else if(contest.type == ContestTypes.BALL525 ||
contest.type == ContestTypes.BALL550 ||
contest.type == ContestTypes.EXAM){
if(this.solved()){
let badgeClass: string;
if(this.isFirstAdopted){
badgeClass = 'badge bg-success bg-darken-1';
} else {
badgeClass = 'badge bg-success-transparent';
}
html += `<span class="${badgeClass}">`;
html += '<b class="text-dark">';
html += this.points;
html += '</b>';
html += '<br>';
html += '<span class="contest-time-sm">';
html += this.getContestTimeStr(this.firstAdoptedAttemptDatetime, contest.startTime);
html += '</span>';
html += '</span>';
} else {
if(this.points > 0){
let badgeClass = 'badge badge-light-dark';
html += `<span class="${badgeClass}">`;
html += this.points;
html += '</span>';
} else {
let badgeClass: string;
if(this.attemptsCount > 0){
badgeClass = 'badge bg-danger-transparent';
} else {
badgeClass = 'badge bg-warning-transparent';
}
html += `<span class="${badgeClass}">`;
html += '-';
if(this.attemptsCount > 0) {
html += this.attemptsCount;
}
html += '</span>';
}
}
} else if(contest.type == ContestTypes.LESS_CODE){
if(this.solved()){
let badgeClass: string;
if(this.isFirstAdopted){
badgeClass = 'badge badge-dark';
} else {
badgeClass = 'badge badge-light-dark';
}
html += `<span class="${badgeClass}">`;
html += '<span class="less-code">'
html += this.points;
html += '</span>';
html += '</span>';
} else {
html += `<span class="badge bg-danger-transparent">`;
html += '-';
html += '</span>';
}
} else if(contest.type == ContestTypes.LESS_LINE){
if(this.solved()){
let badgeClass: string;
if(this.isFirstAdopted){
badgeClass = 'badge badge-dark';
} else {
badgeClass = 'badge badge-light-dark';
}
html += `<span class="${badgeClass}">`;
html += '<span class="less-code">'
html += this.points + '/' + 10;
html += '</span>';
html += '</span>';
} else {
html += `<span class="badge bg-danger-transparent">`;
html += '-';
html += '</span>';
}
}
return html;
}
-->
