<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section-header [contentHeader]="contentHeader"/>

    <div class="row">
      <div class="col-lg-8">
        <section-problems-filter/>
        <section-problems-list/>
      </div>
      <div class="col-lg-4">
        @if (isAuthenticated) {
          <section-summary/>
          <section-difficulties [username]="currentUser?.username"/>
        }

        <ul ngbNav #navFilled="ngbNav" class="nav-tabs nav-style-1 nav-fill d-block">
          <li ngbNavItem>
            <a ngbNavLink>{{ 'LastAttempts' | translate }}</a>
            <ng-template ngbNavContent>
              <section-last-attempts></section-last-attempts>
            </ng-template>
          </li>

          <li ngbNavItem>
            <a ngbNavLink>{{ 'LastContestProblems' | translate }}</a>
            <ng-template ngbNavContent>
              <section-last-contest-problems></section-last-contest-problems>
            </ng-template>
          </li>

          <li ngbNavItem>
            <a ngbNavLink>{{ 'MostViewedProblems' | translate }}</a>
            <ng-template ngbNavContent>
              <section-most-viewed></section-most-viewed>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="navFilled" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
