.card {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

table {
  th {
    border-bottom: none !important;
    border-top: none !important;
  }

  tr > td {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  tr > th:nth-child(1) {
    padding-left: 2rem;
    padding-right: 0.5rem;
  }

  tr > td:nth-child(1) {
    padding-left: 2rem;
    padding-right: 0.5rem;
  }

  tr > td:nth-child(2) {
    padding-right: 0.5rem;
  }
}
