@import 'styles/kep-imports';

button {
  text-wrap: nowrap;
  padding: 0.5rem 0.65rem;
  width: 100%;
  margin-bottom: 0.5rem;

  .custom-btn-icons {
    inset-inline-start: -0.9rem !important;
  }
}
