.team {
  white-space: nowrap;
}

.team-member-img {
  margin-right: 5px;
  margin-bottom: 10px;
  height: 28px;
  width: 28px;
}

.member-img {
  margin-right: 5px;
  margin-bottom: 10px;
  height: 32px;
  width: 32px;
}
