@if (team) {
  <div class="team">
    @if (isOfficial) {
      <span [ngbTooltip]="'Official' | translate">
        <kep-icon name="check" color="success"></kep-icon>
      </span>
    }
    <u class="text-{{ teamNameColor }} font-medium-1">{{ team.name }}:</u>
    <br>
    (
    @for (member of team.members; track member; let i = $index) {
      <span class="ms-1">
        <!--        <contests-rating-image-->
        <!--          [size]="24"-->
        <!--          [title]="member.ratingTitle"-->
        <!--          [class]="'mr-50 mb-50'">-->
        <!--        </contests-rating-image>-->
        <span class="font-small-2 fw-semibold">
          <user-popover [customContent]="true" [textColor]="textColor" [username]="member.username">
            {{ member.username }}<span *ngIf="!$last">, </span>
          </user-popover>
        </span>
      </span>
    } )
  </div>
} @else if (user?.username) {
  <div class="d-flex justify-content-start gap-1 align-items-center">
    <contests-rating-image
      [title]="user.ratingTitle"
      [class]="'me-1 mb-50'"
      [size]="imgSize">
    </contests-rating-image>
    <user-popover [customContent]="true" [textColor]="textColor" [username]="user.username">
      <div class="text-dark">
        {{ user.username }}
      </div>
      <div class="text-muted" *ngIf="user.userFullName">
        {{ user.userFullName }}
      </div>
    </user-popover>
  </div>
  @if (isUnrated && !isVirtual) {
    <span [ngbTooltip]="'Unrated' | translate">
      <kep-icon name="shield-cross" type="duotone" size="small-4" color="danger"></kep-icon>
    </span>
  }
  @if (isOfficial) {
    <span [ngbTooltip]="'Official' | translate">
      <kep-icon name="check" color="success"></kep-icon>
    </span>
  }
  @if (isVirtual) {
    <span [ngbTooltip]="'Virtual' | translate">
      <kep-icon name="fasten" color="success"></kep-icon>
    </span>
  }
}
