@import 'styles/kep-imports';

.favorites-switch {
  .form-check {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0;
  }

  .form-check-input {
    cursor: pointer;
  }

  .form-check-label {
    font-size: 0.8125rem;
    white-space: nowrap;
  }
}
