<kep-card>
  <div class="card-header">
    <div class="card-title text-dark">
      <kep-icon name="filter"></kep-icon>
      {{ 'Filter' | translate }}
      <span class="ms-1 total-count">({{ problemsCount }})</span>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="filterForm">
      <div class="row g-2">
        <div class="col-lg-4 col-md-12">
          <div class="mb-1">
            <input
              class="form-control"
              formControlName="search"
              name="title"
              placeholder="{{ 'ProblemsSearchPlaceholder' | translate }}"
              type="text"
            />
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="mb-1">
            <ng-select
              [compareWith]="compareEqual"
              [placeholder]="'OrderBy' | translate"
              [clearable]="true"
              appendTo="body"
              formControlName="ordering"
            >
              @for (item of orderingOptions; track item.value) {
                <ng-option [value]="item.value">
                  {{ item.label | translate }}
                </ng-option>
              }
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="mb-1">
            <ng-select
              [compareWith]="compareEqual"
              [placeholder]="'Language' | translate"
              [searchable]="false"
              appendTo="body"
              formControlName="lang"
            >
              @for (item of langOptions; track item) {
                <ng-option [value]="item.lang">
                  <attempt-language [size]="24" [lang]="item.lang"/>
                  {{ item.langFull }}
                </ng-option>
              }
            </ng-select>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <div class="mb-1 d-flex align-items-center h-100 favorites-switch">
            <div class="form-check form-switch mb-0">
              <input
                class="form-check-input"
                type="checkbox"
                id="problems-favorites-only"
                formControlName="favorites"
              >
              <label class="form-check-label" for="problems-favorites-only">
                {{ 'ProblemsFavoritesOnly' | translate }}
              </label>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="mb-1">
            <ng-select
              bindLabel="title"
              [compareWith]="compareEqual" [placeholder]="'Topics' | translate"
              [searchable]="false"
              appendTo="body"
              formControlName="category"
            >
              @for (item of categories; track item) {
                <ng-option [value]="item.id">
                  <div class="d-flex align-items-center">
                    <kep-icon *ngIf="item.icon" class="me-1" type="duotone" size="medium-1" color="primary" [name]="item.icon"></kep-icon>
                    <span>{{ item.title }}</span>
                    <span class="ms-auto text-muted small">{{ item.problemsCount }}</span>
                  </div>
                </ng-option>
              }
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="mb-1">
            <div
              [placement]="'bottom'"
              class="select-tags btn-group full-width d-lg-block d-none"
              container="body"
              ngbDropdown
            >
              <button
                [style.height.px]="40"
                [style.width.%]="80"
                class="btn btn-outline-primary"
                type="button"
              >
                {{ selectedTagsName || ('Tags' | translate) }}
              </button>
              <button
                [style.height.px]="40"
                [style.width.%]="20"
                class="btn btn-outline-primary dropdown-toggle-split"
                ngbDropdownToggle
                type="button"
              >
              </button>
              <div [style.width.rem]="32" class="tags-dropdown" ngbDropdownMenu>
                <div [closeOthers]="true" [destroyOnHide]="false" ngbAccordion>
                  @for (category of categories; track category.id) {
                    <div ngbAccordionItem [id]="'i' + category.id">
                      <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>
                          {{ category.title }}
                        </button>
                      </h2>
                      <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                          @for (tag of category.tags; track $index) {
                            @if (tag) {
                              <button (click)="tagOnClick(tag?.id)" class="mx-25 mb-50 btn btn-sm" [class]="{
                                'btn-outline-primary': filterForm.value.tags?.indexOf(tag.id) === -1,
                                'btn-primary': filterForm.value.tags?.indexOf(tag.id) !== -1,
                              }">
                                {{ tag.name }}
                              </button>
                            }
                          }
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>

            <ng-select
              [bindLabel]="'name'"
              [bindValue]="'id'"
              [closeOnSelect]="false"
              [compareWith]="compareEqual"
              [dropdownPosition]="'top'"
              [groupBy]="'category'"
              [items]="tags"
              [maxSelectedItems]="3"
              [multiple]="true"
              appendTo="body"
              class="d-lg-none tags-select"
              formControlName="tags"
              placeholder="{{ 'Select' | translate }}:">
              <ng-template let-item="item" ng-optgroup-tmp>
                {{ item.category }}
              </ng-template>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="mb-1">
            <ng-select
              [placeholder]="'Difficulty' | translate" [searchable]="false"
              appendTo="body"
              formControlName="difficulty"
            >
              @for (item of difficulties; track item) {
                <ng-option [value]="item.value">
                  <span>
                    {{ item.name }}
                  </span>
                </ng-option>
              }
            </ng-select>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="mb-1">
            <ng-select [compareWith]="compareEqual" [placeholder]="'Status' | translate" [searchable]="false"
                       appendTo="body" formControlName="status">
              <ng-option [value]="3">
                <kep-icon class="text-warning" name="minus"></kep-icon>
                {{ 'Unknown' | translate }}
              </ng-option>
              <ng-option [value]="1">
                <kep-icon class="text-success" name="check"></kep-icon>
                {{ 'Solved' | translate }}
              </ng-option>
              <ng-option [value]="2">
                <kep-icon class="text-danger" name="cross"></kep-icon>
                {{ 'Unsolved' | translate }}
              </ng-option>
            </ng-select>
          </div>
        </div>

      </div>
    </form>
  </div>
</kep-card>

<ng-select-css></ng-select-css>
