@import 'styles/kep-imports';

.countdown {
  margin-bottom: 23px;
  width: 50px;
}

.clock-count-container {
  width: 85px;
  height: 85px;
  -webkit-box-shadow: 1px 2px 12px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 1px 2px 12px 0 rgba(31, 45, 61, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #e0e6ed;
  margin: 0 0 12px 0;
}

.clock-val {
  color: #fff;
  font-size: 35px;
  margin-bottom: 0;
}

.clock-text {
  color: #fff;
  white-space: nowrap;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 16px;
  font-weight: 400;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  background: var(--primary);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px #7367f0;
}
