<kep-card [cardHeight]="'244px'">
  <div class="card-header pb-0">
    <div class="card-title">
      {{ 'TopRating' | translate }}
    </div>
  </div>

  <div class="card-body">
    @if (topRatingSkeletonVisible) {
      <div class="item mt-3">
        <ngx-skeleton-loader
          count="3"
          animation="pulse"
          appearance="line"
          [theme]="{height: '30px', width: '250px', background: 'var(--skeleton-color)'}"
        ></ngx-skeleton-loader>
      </div>
    }

    @if (topUsers.length > 0) {
      <div class="mt-3">
        <img width="32" height="32" src="assets/images/icons/medal-award-1.png">
        <user-popover [username]="topUsers[0].username" [streak]="topUsers[0].streak"></user-popover>
      </div>
    }
    @if (topUsers.length > 0) {
      <div class="mt-1">
        <img width="32" height="32" src="assets/images/icons/medal-award-2.png">
        <user-popover [username]="topUsers[1].username" [streak]="topUsers[1].streak"></user-popover>
      </div>
    }
    @if (topUsers.length > 0) {
      <div class="mt-1">
        <img width="32" height="32" src="assets/images/icons/medal-award-3.png">
        <user-popover [username]="topUsers[2].username" [streak]="topUsers[2].streak"></user-popover>
      </div>
    }
  </div>
</kep-card>
