@import 'styles/kep-imports';

.get-started-container {
  position: relative;
  width: 100%;
  padding: 2rem 0;
  height: 100%;
  background-color: var(--primary05);

  &:before {
    background: url("assets/landing-page/get-started.svg") repeat;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    opacity: .075;
  }
}
