@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// @import 'scss/base/pages/page-profile';

@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');

@include media-breakpoint-down(sm) {
  .profile-img-container {
    bottom: -1rem !important;
  }
}

.nav-link-text {
  padding-left: 6px !important;
}

.badge i {
  vertical-align: unset !important;
}

.img-fluid {
  text-align: center !important;
}

@include media-breakpoint-down(sm) {
  .profile-img-container {
    bottom: -1rem !important;
  }
}
