<div
  class="content-wrapper container-xxl p-0 {{ contest | contestClasses }}">
  <div class="content-body">
    <!-- content-header component -->
    @if (contestant) {
      <kep-card customClass="results">
        <div class="table-responsive beautiful-table">
          <table class="table">
            <thead>
            <tr>
              <th class="text-white">#</th>
              <th><i class="text-white ms-1" data-feather="user"></i></th>
              <th class="text-center"><i class="text-white" [data-feather]="'rating' | iconName"></i></th>
              @for (contestProblem of contestProblems; track contestProblem) {
                <th class="text-center text-white" container="body" [ngbTooltip]="contestProblem.problem.title"
                >
                  <a [routerLink]="['..', contestProblem.symbol]" class="text-primary fs-bolder">
                    {{ contestProblem.symbol }}
                  </a>
                </th>
              }
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                {{ contestant.rank }}
              </td>
              <td>
                <contestant-view [user]="contestant"></contestant-view>
              </td>
              <td class="text-center">
                <span class="badge bg-primary">
                  {{ contestant.points }}
                </span>
              </td>
              @for (contestProblem of contestProblems; track contestProblem) {
                <td class="text-center">
                  <ng-template #selfie [ngTemplateOutlet]="selfie" let-problemInfo="aVariable"
                               [ngTemplateOutletContext]="{ aVariable: getProblemInfoBySymbol(contestant.problemsInfo, contestProblem.symbol) }">
                    <div>
                      @if (problemInfo) {
                        <div>
                          <div [innerHTML]="problemInfo|problemInfoHTML:contest"></div>
                        </div>
                      }
                    </div>
                  </ng-template>
                </td>
              }
            </tr>
            </tbody>
          </table>
        </div>
      </kep-card>
    } @else {
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
    }

    <section class="mt-2">
      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 order-2 order-lg-1">
          <div class="layout-spacing">
            <kep-card>
              <div class="card-header p-1">
                <contest-tab [contest]="contest"></contest-tab>
              </div>
              <div class="card-footer">
                <h4 class="text-center text-dark">
                  {{ contestProblem.symbol }}. {{ problem.title }}
                </h4>

                <p class="text-center mb-1">
                  {{ 'TimeLimit' | translate }}:
                  {{ selectedAvailableLang?.timeLimit || problem.timeLimit }} {{ 'Ms' | translate }}
                </p>

                <p class="text-center mb-2">
                  {{ 'MemoryLimit' | translate }}
                  {{ selectedAvailableLang?.memoryLimit || problem.memoryLimit }} {{ 'Mb' | translate }}
                </p>
                <problem-body [problem]="problem"></problem-body>
              </div>
            </kep-card>
          </div>

          @if (attempts?.length > 0) {
            <attempts-table
              [hideSourceCodeSize]="contest.type != 'CodeGolf'"
              [attempts]="attempts"
              [contest]="contest"
              (checkFinished)="onAttemptChecked()"/>
            <div class="mb-1">
              <kep-pagination
                [collectionSize]="totalAttemptsCount"
                [page]="currentPage"
                [pageSize]="50"
                [maxSize]="5"
                (pageChange)="reloadAttempts()"/>
            </div>
          }
        </div>

        <div  class="col-lg-3 col-md-12 col-sm-12 order-1 order-lg-2">
          @if (contest) {
            <div class="layout-spacing">
              <contest-card-countdown [contest]="contest"></contest-card-countdown>
            </div>
          }

          @if (contest?.status == 1 || currentUser?.isSuperuser) {
            <a
              rippleEffect
              [routerLink]="Resources.Problem | resourceById:contestProblem?.problem?.id"
              [queryParams]="{'contest': contest?.id}"
              class="mb-4 full-width btn btn-primary">
              {{ 'Upsolve' | translate }}
            </a>
          }

          @if (contest?.userInfo?.isRegistered) {
            <problem-submit-card
              [availableLanguages]="problem.availableLanguages"
              [submitUrl]="'contests/' + contest?.id + '/submit/'"
              [submitParams]="{ contestProblem: contestProblem.symbol }"
              (submitted)="reloadAttempts()"
            />
          }

          <kep-card>
            <div class="table-responsive beautiful-table contest-problems">
              <table class="table">
                <tbody>
                  @for (_contestProblem of contestProblems; track _contestProblem) {
                    <tr [ngClass]="{
                      'bg-light': _contestProblem.symbol == contestProblem.symbol
                    }">
                      <td [ngClass]="{
                        'bg-success-transparent': _contestProblem.isSolved,
                        'bg-danger-transparent': !_contestProblem.isSolved && _contestProblem.isAttempted
                      }">
                        <a
                          [routerLink]="Resources.ContestProblem | resourceByParams:{id: contest?.id, symbol: _contestProblem.symbol}">
                          {{ _contestProblem.symbol }}
                        </a>
                      </td>
                      <td>
                        <a
                          [routerLink]="Resources.ContestProblem | resourceByParams:{id: contest?.id, symbol: _contestProblem.symbol}">
                          <span class="text-primary">
                          </span>
                          {{ _contestProblem.problem.title }}
                          <br>
                          <small>
                            <span class="text-success">
                              {{ _contestProblem.solved }}
                              <i data-feather="user-check"></i>
                            </span>
                            <span class="ps-1 text-danger">
                              {{ _contestProblem.attemptUsersCount - _contestProblem.solved }}
                              <i data-feather="user-x"></i>
                            </span>
                          </small>
                        </a>
                      </td>
                      @if (contest.hasBalls()) {
                        <td>
                          <span class="badge bg-success">
                            {{ _contestProblem.ball }}
                          </span>
                        </td>
                      }
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </kep-card>
        </div>
      </div>

      @if (contest?.isAlready() && contest?.userInfo.isRegistered && currentUser) {
        <code-editor-modal
          [uniqueName]="'contest-problem-' + problem?.id"
          [sampleTests]="problem.sampleTests"
          [availableLanguages]="problem.availableLanguages"
          [submitUrl]="'contests/' + contest?.id + '/submit/'"
          [submitParams]="{ contestProblem: contestProblem.symbol }"
          (submittedEvent)="reloadAttempts()"
        ></code-editor-modal>
      }
    </section>
  </div>
</div>
