.achievement {
  cursor: pointer;
  padding: 10px;
  opacity: 0.4;
  border-radius: 5px;
  margin-bottom: 1rem;

  &.done {
    opacity: 1;
  }

  .achievement-pill {
    position: absolute !important;
    bottom: -0.8rem;
    right: -0.3rem;
    zoom: 80%;
  }

  &.achievement-2 {
    .achievement-pill {
      bottom: -0.2rem;
      right: 27%;
    }
  }

  &.achievement-4 {
    .achievement-pill {
      bottom: 0rem;
      right: -0.5rem;
    }
  }

  .achievement-title {
    margin-top: 1rem;
    font-weight: 600;
  }

  .achievement-progress {
    margin-top: 0.5rem;

    .progress {
      height: 5px;
    }
  }

}
