<div
  (mouseenter)="hover=true"
  (mouseleave)="hover=false"
  class="achievement achievement-{{ achievement.type }}"
  [ngClass]="{
    'bg-light-{{ getColor() }}': hover,
    'done': achievement.userResult.done
  }"
  [ngbTooltip]="achievement.description">
  <div class="achievement-icon">
    @if (achievement.type == 1) {
      <div class="avatar p-50 bg-primary">
        <div class="avatar-content">
          <i [data-feather]="'problem' | iconName" [size]="20"></i>
        </div>
        <div class="achievement-pill badge badge-pill bg-primary">
          {{ achievement.totalProgress }}
        </div>
      </div>
    }

    @if (achievement.type == 2) {
      <div style="position:relative;">
        <img height="36" src="assets/images/icons/fire_red.png" alt="streak">
        <div class="achievement-pill badge badge-pill bg-danger">
          {{ achievement.totalProgress }}
        </div>
      </div>
    }

    @if (achievement.type == 4) {
      <div class="avatar p-50 bg-warning">
        <img height="36" src="assets/images/icons/versus.png" alt="vs">
        <div class="achievement-pill badge badge-pill bg-warning">
          {{ achievement.totalProgress }}
        </div>
      </div>
    }

    @if (achievement.type == 5) {
      <div class="avatar p-50 bg-dark">
        <div class="avatar-content">
          <i [data-feather]="'flag'" [size]="20"></i>
        </div>
        <div class="achievement-pill badge badge-pill bg-dark">
          {{ achievement.totalProgress }}
        </div>
      </div>
    }
  </div>

  <div class="achievement-title text-center">
    <span class="badge bg-{{ getColor() }}-transparent">
      {{ achievement.title }}
    </span>
  </div>

  <div class="achievement-progress" [ngbTooltip]="achievement.userResult.progress">
    <div class="progress-wrapper">
      <ngb-progressbar type="{{ getColor() }}"
                       [value]="100 * achievement.userResult.progress / achievement.totalProgress"></ngb-progressbar>
    </div>
  </div>
</div>
