<kep-card>
  <div class="card-header d-flex align-items-start">
    <div class="top">
      <h2 class="fw-semibold text-dark">{{ usersTotal }}</h2>
      <div class="font-small-4 text-dark">{{ 'Users' | translate }}</div>
    </div>
    <div class="avatar bg-primary-transparent p-50">
      <div class="avatar-content">
        <kep-icon name="user" class="font-medium-4"></kep-icon>
      </div>
    </div>
  </div>

  @if (usersChart.series[0].data.length > 0) {
    <div>
      <apex-chart [options]="usersChart"></apex-chart>
    </div>
  }

  <div class="card-body p-2" style="border:none !important;">
    <div class="avatar-list-stacked">
      @for (user of onlineUsers; track user) {
        <div class="avatar avatar-rounded online">
          <user-popover [customContent]="true" [username]="user.username">
            <img [src]="user.avatar" alt="Avatar">
          </user-popover>
        </div>
      }
    </div>
  </div>
</kep-card>
