@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 0px) {
  .lugavar-page-top:before {
    height: 750px;
  }
}

@media (min-width: 992px) {
  .lugavar-page-top:before {
    height: 730px;
  }
}

.lugavar-shadow {
  box-shadow: 0 0 5px #2193b0 !important;
}

.daily-question-card {
  .question-option {
    border: 1px solid #ebe9f1;
    padding: 1rem;
    border-radius: 10px;
  }

  .question-option.true {
    border: 2px solid #2193b0;
  }
}

.gradient-border {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
