<div class="lugavar-page-top">
  <div class="text-center mt-3">
    <div  class="avatar avatar-lg bg-primary p-2 avatar-rounded m-0 mb-1">
      <i [data-feather]="'bookmark'" class="font-large-1"></i>
    </div>
    <h2  class="mt-1">
      <div class="text-fixed-white">{{ 'Lugavar' | translate }}</div>
    </h2>
  </div>

  <div class="row mt-4 pt-4">
    <code-editor-modal
      [availableLanguages]="[{lang: 'py', codeTemplate: dailyTrick.codeTemplate}]">
    </code-editor-modal>

    <div  class="col-lg-8 col-12 offset-0 offset-lg-2">
      <kep-card customClass="gradient-border lugavar-shadow">
        <div class="card-header">
          <h2 class="card-title">
            {{ 'DailyTrick' | translate }}
          </h2>
        </div>

        <div class="card-body">
          <div [innerHTML]="dailyTrick.text"></div>
        </div>

        <div class="card-footer d-flex justify-content-between">
          <like-button [likes]="dailyTrick.likes" [submitUrl]="'daily-trick-like'"></like-button>
          <clipboard-button [text]="dailyTrick.codeTemplate">
          </clipboard-button>
        </div>
      </kep-card>
    </div>

    <div class="mt-2 col-lg-6 col-12 offset-0 offset-lg-3">
      <kep-card customClass="gradient-border lugavar-shadow daily-question-card">
        <div class="card-header">
          <h2 class="card-title">
            {{ 'DailyQuestion' | translate }}
          </h2>
        </div>

        <div class="card-body">
          <h5 class="ps-1 d-flex">
            <span class="ps-50" [innerHTML]="dailyQuestion.body"></span>
          </h5>
          <br>
          @for (option of dailyQuestion.options; track option; let i = $index) {
            <div>
              @if (dailyQuestion.isAnswered) {
                <div class="ms-1 mb-1 question-option" [ngClass]="{'true': option.isAnswer}"
                >
                  @if (option.isAnswer) {
                    <i class="text-success" data-feather="check-circle"></i>
                  }
                  {{ option.option }}
                  <div class="mt-2 progress-wrapper">
                    <ngb-progressbar showValue="true" [type]="option.isAnswer ? 'success' : 'secondary'"
                                     [value]="100*option.selected / dailyQuestion.totalAnswered"></ngb-progressbar>
                  </div>
                </div>
              }
              @if (!dailyQuestion.isAnswered) {
                <div class="ms-1 mb-1 custom-control custom-control-info custom-radio">
                  <input type="radio" id="radio-{{ i }}" name="selectedOption" (click)="optionClick(i)" [value]="i"
                         class="form-check-input"/>
                  <label class="form-check-label" for="radio-{{ i }}">{{ option.option }}</label>
                </div>
              }
            </div>
          }
        </div>

        @if (dailyQuestion.isAnswered) {
          <div class="card-footer">
            <like-button [likes]="dailyQuestion.likes" [submitUrl]="'daily-question-like'"></like-button>
          </div>
        }

      </kep-card>
    </div>

    <div class="mt-2 col-lg-8 col-12 offset-0 offset-lg-2">
      <kep-card customClass="gradient-border lugavar-shadow">
        <div class="card-header">
          <h2 class="card-title">
            {{ 'DailyInterestingFact' | translate }}
          </h2>
        </div>

        <div class="card-body">
          <div [innerHTML]="dailyInterestingFact.body"></div>
        </div>

        <div class="card-footer d-flex justify-content-between">
          <like-button [likes]="dailyInterestingFact.likes" [submitUrl]="'daily-interesting-fact-like'"></like-button>
        </div>
      </kep-card>
    </div>

    <div class="mt-2 col-lg-10 col-12 offset-0 offset-lg-1">
      <kep-card customClass="gradient-border lugavar-shadow">
        <div class="card-header">
          <h2 class="card-title">
            @if (!training) {
              <span>
                {{ 'Dictionary' | translate }}
                <button class="btn btn-sm btn-primary" (click)="training=true;"
                        ngbTooltip="{{ 'Training' | translate }}">
                  <i data-feather="activity"></i>
                </button>
              </span>
            }
            @if (training) {
              <span>
                {{ 'Training' | translate }}
                <button class="btn btn-sm btn-primary" (click)="training=false;"
                        ngbTooltip="{{ 'Dictionary' | translate }}">
                  <i data-feather="book"></i>
                </button>
              </span>
            }
          </h2>
          @if (!training) {
            <input [(ngModel)]="searchText" (ngModelChange)="updateWords()" style="width: 40%;" class="form-control"
                   type="text" placeholder="{{ 'Search' | translate }}">
          }
        </div>

        @if (training) {
          <dictionary-training [dictionary]="dictionary"></dictionary-training>
        }

        @if (!training) {
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr class="bg-gradient-info">
                <th>{{ 'Word' | translate }}</th>
                <th>{{ 'Meaning' | translate }}</th>
              </tr>
              </thead>
              <tbody>
                @for (word of selectedWords; track word) {
                  <tr>
                    <td>
                      <span class="badge bg-primary">
                        {{ word.word }}
                      </span>
                    </td>
                    <td>
                      <div [innerHTML]="word.meaning"></div>
                      <like-button [likes]="word.likes" [submitUrl]="'dictionary/' + word.id + '/like/'"></like-button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            @if (!training && totalWords > 0 && searchText.length <= 1) {
              <ngb-pagination
                [collectionSize]="totalWords"
                [(page)]="pageNumber"
                [pageSize]="10"
                [maxSize]="5"
                [rotate]="true"
                (pageChange)="updateWords()"
                aria-label="Default pagination"
                class="d-flex justify-content-center pagination-info mt-2">
                <ng-template ngbPaginationPrevious
                ><span [data-feather]="'chevron-left'" [size]="18" [class]="'font-weight-bolder'"></span>
                </ng-template>
                <ng-template ngbPaginationNext
                ><span [data-feather]="'chevron-right'" [size]="18" [class]="'font-weight-bolder'"></span
                ></ng-template>
              </ngb-pagination>
            }
          </div>
        }

      </kep-card>
    </div>

  </div>
</div>

<!--
<a class="font-large-1 underlined">The Best Features Coming to iOS and Web design</a>
-->
