<kep-card>
  <div class="card-header">
    <div class="card-title">
      {{ 'Heatmap' | translate }}
    </div>

    <div class="btn-group btn-group-sm" role="group" aria-label="Select year">
      @for (year of availableYears; track year) {
        <input
          type="radio"
          class="btn-check"
          name="heatmapYear"
          [value]="year"
          [checked]="year === selectedYear"
          [id]="'heatmap-' + year"
          (change)="onYearChange(year)"
        >
        <label class="btn btn-outline-primary" [class.active]="year === selectedYear" [for]="'heatmap-' + year">
          {{ year }}
        </label>
      }
    </div>
  </div>
  <div class="card-body">
    <apex-chart [options]="heatmapChart"/>
  </div>
</kep-card>
