<div class="card question">
  <div class="card-header">
    @if (question.problemSymbol) {
      <div class="problem-title">
        <a routerLink="../problem/{{ question.problemSymbol }}" class="ms-1 text-primary"> {{ question.problemSymbol }}
          . {{ question.problemTitle }}</a>
      </div>
    }
    <div class="time">
      <span class="badge me-1" [class]="{
        'bg-primary': question.status == 0,
        'bg-warning': question.status == 1,
        'bg-success': question.status == 2,
        'bg-danger': question.status == 3
      }"> {{ question.statusTitle }}</span>
      <span class="badge bg-success-transparent"> {{ question.created }}</span>
    </div>
  </div>

  <div class="card-body">
    {{ question.question }}
  </div>

  <div class="card-footer" *ngIf="question.answer">
    <span class="text-dark">
      <mathjax [content]="question.answer"></mathjax>
    </span>
  </div>
</div>
