<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    @if (isLoading) {
      <div class="card" [style.height.px]="400">
        <spinner/>
      </div>
    } @else {
      <app-content-header [contentHeader]="contentHeader"/>

      <section class="mt-2">
        <div class="row">

          <div class="col-lg-9 col-md-12 col-sm-12">
            <kep-card [customClass]="'project-detail-' + data.id">
              <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs" [(activeId)]="activeId">
                <li [ngbNavItem]="1">
                  <a ngbNavLink>
                    <kep-icon name="project" type="duotone" color="primary"/>
                    {{ 'Project' | translate }}
                  </a>
                  <ng-template ngbNavContent>
                    <project-description [project]="data"/>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink>
                    <kep-icon name="attempt" type="duotone" color="info"/>
                    {{ 'Attempts' | translate }}
                  </a>
                  <ng-template ngbNavContent>
                    <project-attempts [project]="data"/>
                  </ng-template>
                </li>
              </ul>
            </kep-card>

            <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
          </div>

          <div class="col-lg-3 col-md-12 col-sm-12">
            <project-sidebar [project]="data" (submitEvent)="activeId=2;"/>
          </div>
        </div>
      </section>
    }
  </div>
</div>
