<kep-card>
  <div class="card-header">
    <div class="card-title">
      <i class="font-medium-4 me-1" data-feather="activity"></i>
      {{ 'Settings.Education' | translate }}
    </div>
  </div>
  @if (isLoading) {
    <div [style.height]="'200px'">
      <spinner/>
    </div>
  } @else {
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="invoice-repeater">
            @for (userEducation of userEducations; track userEducation; let i = $index) {
              <div @heightIn>
                <div class="row d-flex align-items-end">
                  <div class="col-md-4 col-12">
                    <div class="mb-1">
                      <label for="organization{{ i }}">
                        {{ 'Settings.Organization' | translate }}
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="userEducation.organization"
                        name="organization{{ i }}"
                        id="organization{{ i }}"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <div class="col-md-2 col-12">
                    <div class="mb-1">
                      <label for="degree{{ i }}">
                        {{ 'Settings.Degree' | translate }}
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="userEducation.degree"
                        name="degree{{ i }}"
                        id="degree{{ i }}"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <div class="col-md-2 col-12">
                    <div class="mb-1">
                      <label for="fromyear{{ i }}">
                        {{ 'Settings.FromYear' | translate }}
                      </label>
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="userEducation.fromYear"
                        name="fromyear{{ i }}"
                        id="fromyear{{ i }}"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <div class="col-md-2 col-12">
                    <div class="mb-1">
                      <label for="toyear{{ i }}">
                        {{ 'Settings.ToYear' | translate }}
                      </label>
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="userEducation.toYear"
                        name="toyear{{ i }}"
                        id="toyear{{ i }}"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <div class="col-md-2 col-12 mb-50">
                    <div class="mb-1">
                      <button class="btn btn-outline-danger" (click)="deleteEducation(i)">
                        <i data-feather="x" class="me-1"></i>
                        <span></span>
                      </button>
                    </div>
                  </div>
                </div>
                <hr/>
              </div>
            }
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-icon btn-primary" type="button" (click)="addEducation()">
                <i data-feather="plus" class="me-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <button
            (click)="save()"
            class="btn btn-primary mt-2 me-1"
            type="submit">
            {{ 'Settings.Save' | translate }}
          </button>
          <button
            (click)="reset()"
            class="btn btn-outline-primary mt-2"
            type="reset">
            {{ 'Settings.Reset' | translate }}
          </button>
        </div>
      </div>
    </div>
  }
</kep-card>
