@import 'styles/kep-imports';

.arena-section-header {
  .card {
    border: none;
    background: rgba($yellow, 0.75);

    @include dark-layout {
      background: rgba($yellow, 0.5) !important;
    }
  }

  .useful-links {
    display: flex;
    margin-bottom: 2rem;

    .btn {
      width: 100%;
    }
  }
}
