<app-content-header [contentHeader]="contentHeader"></app-content-header>

<kep-card>
  <div class="card-header p-4">
    <div class="card-title font-medium-5 align-items-center">
      <kep-icon color="yellow" name="arena" size="medium-5" type="duotone"></kep-icon>
      <span class="text-dark">{{ 'Arena' | translate }}</span>
      <span *ngIf="!isLoading" class="total-count">({{ pageResult?.total }})</span>
    </div>
    <div>
      <input
        [formControl]="searchControl"
        class="form-control mt-md-0 mt-1ca"
        placeholder="{{ 'Search' | translate }}"
        type="search"
      >
    </div>
  </div>
</kep-card>

@if (isLoading) {
  <ngx-skeleton-loader
    count="1"
    class="custom-skeleton"
    [count]="pageSize"
    animation="pulse"
    appearance="line"
    [theme]="{height: '100px', 'margin-bottom': '0.25rem', background: 'var(--skeleton-color)'}"
  />
} @else {
  @for (arena of arenaList; track arena) {
    <arena-list-card [arena]="arena"></arena-list-card>
  }
}

@if (total) {
  <div class="mb-2">
    <kep-pagination
      [collectionSize]="total"
      [(page)]="pageNumber"
      [pageSize]="pageSize"
      [maxSize]="maxSize"
      [rotate]="true"
      [color]="'yellow'"
      [disabled]="isLoading"
      (pageChange)="reloadPage()">
    </kep-pagination>
  </div>
}
