<kep-card>
  <div class="table-responsive beautiful-table {{ contests[0] | contestClasses }}">
    <table class="table">
      <thead>
      <tr>
        <th class="text-center">{{ 'Contests.Title' | translate }}</th>
        <th class="text-center">{{ 'Contests.Authors' | translate }}</th>
        <th class="text-center">{{ 'Contests.StartTime' | translate }}</th>
        <th class="text-center">{{ 'Contests.FinishTime' | translate }}</th>
        <th class="text-center">{{ 'Contests.Type' | translate }}</th>
        <th class="text-center">
          @if (contests.length > 0 && contests[0].status == -1) {
            {{ 'Contests.ProblemsCount' | translate }}
          }
        </th>
        <th class="text-center">
          @if (contests.length > 0 && contests[0].status == -1) {
            {{ 'Contests.RegistrantsCount' | translate }}
          }
          @if (contests.length > 0 && contests[0].status != -1) {
            {{ 'Contests.ContestantsCount' | translate }}
          }
        </th>
      </tr>
      </thead>
      <tbody>
        @for (contest of contests; track contest) {
          <tr>
            <td class="text-center text-dark">
              <i [data-feather]="'contest' | iconName" [size]="20"></i>
              <a [routerLink]="Resources.Contest | resourceById:contest.id">
                {{ contest.title }}
              </a>
              <br>
              @if (contest.isRated) {
                <div class="text-success contest-rated">{{ 'Contests.Rated' | translate }}</div>
              }
              @if (!contest.isRated) {
                <div class="text-danger contest-rated">{{ 'Contests.Unrated' | translate }}</div>
              }
            </td>
            <td class="text-center">
              @for (contestAuthor of contest.authors; track contestAuthor) {
                <div class="contest-author text-dark">
                  <contestant-view [user]="contestAuthor"></contestant-view>
                </div>
              }
            </td>
            <td class="text-center text-dark">
              <u>{{ contest.startTime | date:'y/MM/dd' }}</u>
              <br>
              <u>{{ contest.startTime | date:'H:mm' }}</u>
            </td>
            <td class="text-center text-dark">
              <u>{{ contest.finishTime | date:'y/MM/dd' }}</u>
              <br>
              <u>{{ contest.finishTime | date:'H:mm' }}</u>
            </td>
            <td class="text-center">
              <span class="badge contest-badge">
                {{ contest.type }}
              </span>
            </td>
            <td class="text-center">
              @if (contest.status == -1) {
                <span class="badge contest-badge">
                  {{ contest.problemsCount }}
                </span>
              }
              @if (contest.status != -1) {
                <div>
                  <!-- <contest-standings-popover [contest]="contest"></contest-standings-popover> -->
                  <a class="btn btn-sm round"
                     [routerLink]="Resources.ContestStandings | resourceById:contest.id">
                    {{ 'Contests.Standings' | translate }}
                  </a>
                  <br>
                </div>
              }
            </td>
            <td class="text-center text-primary">
              <div class="avatar p-50 m-0 mb-1">
                <div class="avatar-content">
                  <i data-feather="users" class="font-medium-3"></i>
                </div>
              </div>
              <br>
              <span
                class="badge contest-badge"
                [countUp]="contest.contestantsCount || contest.registrantsCount"
                [options]="{ duration: 5 }">
              </span>
            </td>
          </tr>
        }
      </tbody>
      @if (contests.length > 1) {
        <tfoot>
        <tr>
          <th class="text-center">{{ 'Contests.Title' | translate }}</th>
          <th class="text-center">{{ 'Contests.Authors' | translate }}</th>
          <th class="text-center">{{ 'Contests.StartTime' | translate }}</th>
          <th class="text-center">{{ 'Contests.FinishTime' | translate }}</th>
          <th class="text-center">{{ 'Contests.Type' | translate }}</th>
          <th class="text-center"></th>
          <th class="text-center">
            @if (contests.length > 0 && contests[0].status == -1) {
              {{ 'Contests.RegistrantsCount' | translate }}
            }
            @if (contests.length > 0 && contests[0].status != -1) {
              {{ 'Contests.ContestantsCount' | translate }}
            }
          </th>
        </tr>
        </tfoot>
      }
    </table>
  </div>
</kep-card>
