<app-content-header [contentHeader]="contentHeader">
  <div class="btn-list">
    <div [ngClass.lt-md]="'d-flex'" class="d-flex gap-50">
      <a [ngClass.lt-md]="'btn-sm'" class="btn btn-primary-light" routerLink="rating">
        <kep-icon class="font-medium-1" name="ranking"></kep-icon>
        <span [ngClass.lt-md]="'d-none'">
          {{ 'Rating' | translate }}
        </span>
      </a>
      <a [ngClass.lt-md]="'btn-sm'" class="btn btn-primary-light" routerLink="user-statistics">
        <kep-icon class="font-medium-1" name="statistics"></kep-icon>
        <span [ngClass.lt-md]="'d-none'">
          {{ 'Statistics' | translate }}
        </span>
      </a>
      <a [ngClass.lt-md]="'btn-sm'" class="btn btn-primary-light" routerLink="attempts">
        <kep-icon class="font-medium-1" name="attempt"></kep-icon>
        <span [ngClass.lt-md]="'d-none'">
          {{ 'Attempts' | translate }}
        </span>
      </a>
    </div>
  </div>
</app-content-header>
