.course-review-card {
  &.card {
    height: 190px;
    width: 350px;
  }

  img {
    height: 50px !important;
  }

  .rating {
    font-size: 22px !important;
    color: #ff9f43 !important;
  }

  .meta-time-date {
    position: absolute;
    bottom: 0rem;
  }
}
