<div>
  <ul
    #nav="ngbNav"
    [(activeId)]="activeId"
    class="nav nav-tabs vertical-tabs-3"
    ngbNav>
    <li ngbNavItem>
      <a
        [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="Resources.Hackathon | resourceById:hackathon?.id"
        class="nav-link text-center mb-0"
        routerLinkActive="active"
      >
        <div class="mb-2">
          <kep-icon name="hackathon"/>
        </div>
        {{ 'Hackathon' | translate }}
      </a>
    </li>
    @if (hackathon?.status != -1) {
      <li ngbNavItem>
        <a
            class="nav-link text-center mb-0"
          [routerLink]="Resources.HackathonProjects | resourceById:hackathon?.id"
          routerLinkActive="active"
        >
          <div class="mb-2">
            <kep-icon name="project"/>
          </div>
          {{ 'Projects' | translate }}
        </a>
      </li>
      <li ngbNavItem>
        <a
          class="nav-link text-center mb-0"
          [routerLink]="Resources.HackathonAttempts | resourceById:hackathon?.id"
          routerLinkActive="active"
        >
          <div class="mb-2">
            <kep-icon name="attempts"/>
          </div>
          {{ 'Attempts' | translate }}
        </a>
      </li>

      <li ngbNavItem>
        <a
          class="nav-link text-center mb-0"
          [routerLink]="Resources.HackathonStandings | resourceById:hackathon?.id"
          routerLinkActive="active"
        >
          <div class="mb-2">
            <kep-icon name="ranking"/>
          </div>
          {{ 'Hackathons.Standings' | translate }}</a>
      </li>
    }
    @if (hackathon?.status == -1) {
      <li ngbNavItem>
        <a
          class="nav-link text-center mb-0"
          [routerLink]="Resources.HackathonRegistrants | resourceById:hackathon?.id"
          routerLinkActive="active"
        >
          <div class="mb-2">
            <kep-icon name="users"/>
          </div>
          {{ 'Registrants' | translate }}
        </a>
      </li>
    }
  </ul>
</div>

<div [ngbNavOutlet]="nav"></div>
