@import 'styles/kep-imports';

.user-popover {
  background: initial;

  .card {
    margin-bottom: 0;

    .card-body {
      background: white;

      @include dark-layout {
        background: color-mix(in srgb, black 90%, var(--primary) 10%);
      }
    }
  }

  .popover-body {
    padding: 0 !important;
    width: 400px !important;
    max-width: 100% !important;
    box-shadow: none !important;
    border: none !important;
  }
}

.popover-trigger {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.user-popover__header {
  flex-wrap: wrap;
}
