<ng-template #popContent>
  @if (user && userRatings) {
    <kep-card>
      <img
        [src]="user.coverPhoto"
        class="img-fluid card-img-top"
        alt="Profile Cover Photo"/>
      <div class="card-body">
        <div class="user-popover__header d-flex gap-2 align-items-center">
          <div class="avatar avatar-rounded" [class]="{
            'online': user.isOnline,
            'offline': !user.isOnline
          }">
            <img [src]="user.avatar" alt="Profile Picture"/>
          </div>

          <div class="name">
            <div class="username">
              {{ user.username }}

            </div>
            <small class="text-muted">{{ user.firstName }} {{ user.lastName }}</small>
          </div>
        </div>

        <div class="my-4">
          <user-ranks [username]="username"/>
        </div>

        <a
          [routerLink]="Resources.UserProfile | resourceByUsername:username"
          class="btn btn-outline-primary btn-sm w-100"
        >
          {{ 'UserPopover.ViewDetails' | translate }}
        </a>
      </div>
    </kep-card>
  }
</ng-template>
<button
  type="button"
  (shown)="loadUser()"
  [autoClose]="'outside'"
  [ngbPopover]="popContent"
  [placement]="placement"
  class="popover-trigger text-{{ textColor }} {{ customClass }}"
  container="body"
  popoverClass="user-popover"
  triggers="click"
>
  @if (!customContent) {
    <span class="fw-medium">
      {{ username }}
    </span>
  }
  @if (customContent) {
    <ng-content></ng-content>
  }
</button>

@if (!customContent && streak >= 7) {
  <kep-badge [streak]="streak"></kep-badge>
}
