.countdown {
  margin-bottom: 23px;
  width: 50px;
}

.clock-count-container {
  width: 85px;
  height: 85px;
  -webkit-box-shadow: 1px 2px 12px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 1px 2px 12px 0 rgba(31, 45, 61, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #e0e6ed;
  margin: 0 0 12px 0;
}

.clock-val {
  font-size: 20px;
  margin-bottom: 0;
}

.clock-text {
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 16px;
  font-weight: 400;
}
