@if (hackathon.status != 1) {
  <div>
    <ngx-countdown [time]="leftTime" [render]="render">
      <ng-template #render let-data>
        <div class="d-flex justify-content-between" [ngbTooltip]="hackathon.startTime | localizedDate:'medium'">
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[0] }}</h5>
            <h5 class="clock-text">{{ 'Day' | translate }}</h5>
          </div>
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[1] }}</h5>
            <h5 class="clock-text">{{ 'Hour' | translate }}</h5>
          </div>
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[2] }}</h5>
            <h5 class="clock-text">{{ 'Minute' | translate }}</h5>
          </div>
          <div class="countdown text-center">
            <h5 class="clock-val">{{ data.fragments[3] }}</h5>
            <h5 class="clock-text">{{ 'Second' | translate }}</h5>
          </div>
        </div>
      </ng-template>
    </ngx-countdown>
  </div>
}
