<div class="mb-1">
  @if (currentUser) {
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        [(ngModel)]="myAttempts"
        (change)="reloadPage()"
        [ngModelOptions]="{standalone: true}"
        id="myAttempts"/>
      <label class="form-check-label" for="myAttempts">{{ 'MyAttempts' | translate }}</label>
    </div>
  }
</div>

@if (isLoading && !total) {
  <div [style.height.px]="400">
    <spinner/>
  </div>
} @else if (attempts.length == 0) {
  <empty-result/>
} @else {
  <attempts-table
    (hackSubmitted)="hackSubmitted.next(null)"
    [attempts]="attempts"
    [hackEnabled]="true">
  </attempts-table>

  <kep-pagination
    (pageChange)="pageChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
    [collectionSize]="total"
    [maxSize]="maxSize"
    [disabled]="isLoading"
    [pageOptions]="pageOptions"
    [pageSize]="pageSize"
    [page]="pageNumber">
  </kep-pagination>
}
