@import 'styles/kep-imports';

$colors: (
  'primary': var(--primary),
  'success': $green,
  'danger': $red,
  'yellow': $yellow,
  'blue': $blue,
);

:root {
  @each $color_name, $color in $colors {
    $dark-color:color-mix(in srgb, black 30%, var(--primary) 70%);

    @if ($color_name != 'white' and $color_name != 'dark' and $color_name != 'light' and $color_name != 'black') {
      .text-#{$color_name} {
        color: mix(white, $color, 30) !important;
      }

      .bg-gradient-#{$color_name} {
        background: linear-gradient(to right,color-mix(in srgb, black 30%, var(--primary) 70%), $color) !important;
      }

      .bg-light-#{$color_name} {
        background: rgba($color, 0.12) !important;
      }
    }

    .btn-#{$color_name} {
      background-color: rgba($dark-color, 0.75) !important;
      border-color: $dark-color !important;
    }

    .badge.badge-#{$color_name} {
      background-color: rgba($color, 0.5);

      &.badge-glow {
        box-shadow: 0 0 5px $dark-color;
      }
    }

    .bg-#{$color_name} {
      background-color: $dark-color !important;

      &.badge-glow {
        box-shadow: 0 0 5px $dark-color !important;
      }
    }

    --#{$color_name}: #{$dark-color};
  }
}
