<kep-card>
  <div class="card-header">
    <div class="card-title">
      <i data-feather="activity" class="font-medium-4 me-1"></i>
      {{ 'Settings.Skills' | translate }}
    </div>
  </div>
  @if (isLoading) {
    <div [style.height]="'528px'">
      <spinner/>
    </div>
  } @else {
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8 col-12 mx-auto">
          <div class="mb-1">
            <label><h5>Python</h5></label>
            <ngx-slider
              [(value)]="userSkills.python"
              [options]="sliderOptions"
            />
          </div>
        </div>
        <div class="col-lg-8 col-12 mx-auto">
          <div class="mb-1">
            <label><h5>{{ 'WebDevelopment' | translate }}</h5></label>
            <ngx-slider
              [(value)]="userSkills.webDevelopment"
              [options]="sliderOptions"
            />
          </div>
        </div>
        <div class="col-lg-8 col-12 mx-auto">
          <div class="mb-1">
            <label><h5>{{ 'WebScraping' | translate }}</h5></label>
            <ngx-slider
              [(value)]="userSkills.webScraping"
              [options]="sliderOptions"
            />
          </div>
        </div>
        <div class="col-lg-8 col-12 mx-auto">
          <div class="mb-1">
            <label><h5>{{ 'Algorithms' | translate }}</h5></label>
            <ngx-slider
              [(value)]="userSkills.algorithms"
              [options]="sliderOptions"
            />
          </div>
        </div>
        <div class="col-lg-8 col-12 mx-auto">
          <div class="mb-1">
            <label><h5>{{ 'DataScience' | translate }}</h5></label>
            <ngx-slider
              [(value)]="userSkills.dataScience"
              [options]="sliderOptions"
            />
          </div>
        </div>
        <div class="col-12">
          <button
            (click)="save()"
            class="btn btn-primary mt-2 me-1"
            type="submit">
            {{ 'Settings.Save' | translate }}
          </button>
          <button
            (click)="reset()"
            class="btn btn-outline-primary mt-2"
            type="reset">
            {{ 'Settings.Reset' | translate }}
          </button>
        </div>
      </div>
    </div>
  }
</kep-card>

<technologies/>
