<kep-card>
  <div class="card-header pb-3">
    <div>
      <h1 class="page-title fw-medium fs-18 mb-0">{{ contentHeader.headerTitle | translate }}</h1>
      <div class="">
        <nav>
          <ol class="breadcrumb mb-0">
            @for (breadcrumbItem of contentHeader.breadcrumb.links; track $index) {
              <li class="breadcrumb-item" [class]="{
              'active': $last
            }">
                @if (breadcrumbItem.isLink) {
                  <a [routerLink]="breadcrumbItem.link">{{ breadcrumbItem.name | translate }}</a>
                } @else {
                  {{ breadcrumbItem.name | translate }}
                }
              </li>
            }
          </ol>
        </nav>
      </div>
    </div>

    <ng-content/>
  </div>
</kep-card>
