@import 'styles/kep-imports';

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.section-title {
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 10rem;
  font-size: 2.625rem;
  background: linear-gradient(to right, $green 0%, var(--primary) 40%, var(--primary) 60%, $red 100%);

  background-clip: text;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  animation: gradient 3s ease infinite;
}

.section-sub-title {
  line-height: 28px;
}

img {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@include media-breakpoint-down(md) {
  img {
    height: 200px;
    width: 200px;
  }
}
