<div class="card bg-challenge-call">
  <div class="card-header">
    <challenges-user-view [user]="challengeCall"></challenges-user-view>
    <kep-icon name="challenge"></kep-icon>
  </div>

  <div class="card-body">
    <span ngbTooltip="{{ 'Time' | translate }}" class="me-1 badge bg-primary bg-primary-darken">
      <kep-icon size="small-3" name="challenge-time"></kep-icon>
      {{ challengeCall.timeSeconds }}
    </span>

    <span ngbTooltip="{{ 'Questions' | translate }}" class="mb-50 badge bg-primary bg-primary-darken">
      <kep-icon size="small-3" name="challenge-task"></kep-icon>
      {{ challengeCall.questionsCount }}
    </span>

    <div [ngClass.gt-sm]="'d-block'" [ngClass.lt-md]="'ms-1 d-inline-block'"></div>

    @for (chapter of challengeCall.chapters; track chapter) {
      <span class="badge me-1 mb-1 bg-chapter-{{ chapter.id }}">
        {{ chapter.title }}
      </span>
    }
  </div>

  <div class="card-footer d-flex justify-content-between">
    @if (currentUser?.username != challengeCall.username) {
      <button (click)="acceptChallengeCall()" class="btn btn-sm btn-success btn-glow">
        {{ 'ToChallenge' | translate }}
      </button>
    } @else {
      <button (click)="deleteChallengeCall()" class="btn btn-sm btn-danger btn-glow">
        <i data-feather="x"></i>
      </button>
    }

    <span class="font-small-2 text-secondary badge bg-primary-darken">
      {{ challengeCall.created }}
    </span>
  </div>

</div>
