@if (loading) {
  <kep-card [cardHeight]="spinnerHeight">
    <spinner [color]="spinnerColor"/>
  </kep-card>
} @else {
  <kep-card [customClass]="cardClass">
    <div class="table-responsive" [class]="tableCardClass">
      <table class="table" [class]="tableClass">
        <thead>
        <ng-content select="[header]"></ng-content>
        </thead>
        <tbody [class]="{ 'empty': empty }">
          @if (empty) {
            <empty-result [text]="''"/>
          }
        <ng-content select="[body]"></ng-content>
        </tbody>
        <tfoot>
        <ng-content select="[footer]"></ng-content>
        </tfoot>
      </table>
    </div>
  </kep-card>
}

@if (!empty) {
  <ng-content select="[pagination]"></ng-content>
}
