<kep-card customClass="mb-2">
  <div  class="table-responsive">
    <table class="table challenge-card">
      <tbody>
      <tr>
        <td>
          <challenges-user-view
            [user]="challenge.playerFirst"
            [withRating]="true"
          ></challenges-user-view>
        </td>

        <td>
          <span class="badge" [ngClass]="{
            'bg-success': challenge.playerFirst.result > challenge.playerSecond.result,
            'bg-danger': challenge.playerFirst.result < challenge.playerSecond.result,
            'bg-secondary': challenge.playerFirst.result == challenge.playerSecond.result
          }">
            {{ challenge.playerFirst.result }}
          </span>
        </td>

        <td>
          @if (challenge.rated) {
            <kep-delta [value]="challenge.playerFirst.delta"></kep-delta>
          } @else {
            <span class="badge badge-pill bg-secondary">{{ 'Unrated' | translate }}</span>
          }
        </td>

        <td class="text-end">
          <span ngbTooltip="{{ 'Time' | translate }}" class="badge me-1 bg-primary bg-primary">
            <kep-icon class="font-small-3" name="challenge-time"></kep-icon>
            {{ challenge.timeSeconds }}
          </span>
          <span ngbTooltip="{{ 'Questions' | translate }}" class="badge bg-primary bg-primary">
            <kep-icon class="font-small-3" name="challenge-task"></kep-icon>
            {{ challenge.questionsCount }}
          </span>
        </td>
      </tr>

      <tr>
        <td>
          <challenges-user-view
            [user]="challenge.playerSecond"
            [withRating]="true"
          ></challenges-user-view>
        </td>

        <td>
          <span class="badge" [ngClass]="{
            'bg-danger': challenge.playerFirst.result > challenge.playerSecond.result,
            'bg-success': challenge.playerFirst.result < challenge.playerSecond.result,
            'bg-secondary': challenge.playerFirst.result == challenge.playerSecond.result
          }">
            {{ challenge.playerSecond.result }}
          </span>
        </td>

        <td>
          @if (challenge.rated) {
            <kep-delta [value]="challenge.playerSecond.delta"></kep-delta>
          } @else {
            <span class="badge badge-pill bg-secondary">{{ 'Unrated' | translate }}</span>
          }
        </td>

        <td class="text-end">
          @if (!challenge.finished) {
            <span class="badge bg-success">
              {{ 'Now' | translate }}
            </span>
          }
          @if (challenge.finished) {
            <span class="badge bg-primary">
              {{ challenge.finished }}
            </span>
          }
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</kep-card>
