<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section class="mt-2">
      <div class="row">
        <div class="col-12">
          <div class="text-end">
            <kepcoin-spend-swal
              (success)="success()"
              [customContent]="true"
              [purchaseUrl]="'contests/purchase-create/'"
              [value]="5">
              <button class="mb-2 btn btn-primary">{{ 'Create' | translate }}</button>
            </kepcoin-spend-swal>
          </div>
          @if (contests.length == 0 && !isLoading) {
            <empty-result></empty-result>
          }
          @if (contests?.length > 0) {
            <contests-table [contests]="contests"></contests-table>
          }
          @if (total) {
            <kep-pagination
              (pageChange)="pageChange($event)"
              [(page)]="pageNumber"
              [collectionSize]="total"
              [maxSize]="maxSize"
              [disabled]="isLoading"
              [pageSize]="pageSize">
            </kep-pagination>
          }
        </div>
      </div>
    </section>
  </div>
</div>
