<kep-card>
  <div class="card-header">
    <div class="card-title">
      <kep-icon name="attempt"></kep-icon>
      {{ 'LastAttempts' | translate }}
    </div>
  </div>

  @if (isLoading) {
    <div class="card-body" [style.height.px]="515">
      <spinner></spinner>
    </div>
  } @else if (data) {
    <div class="card-body">
      <ul class="list-group">
        @for (attempt of attempts; track attempt) {
          <a
            [routerLink]="Resources.Problem | resourceById : attempt.problemId" class="list-group-item">
            {{ attempt.problemId }}. {{ attempt.problemTitle }}
          </a>
        }
      </ul>
    </div>

    <div class="card-footer">
      <a [routerLink]="Resources.Attempts" class="btn full-width btn-primary btn-sm">
        <kep-icon class="font-medium-1" name="attempt"></kep-icon>
        {{ 'AllAttempts' | translate }}
      </a>
    </div>
  }
</kep-card>
