<kep-card>
  @if (!course.inThePipeline) {
    <a class="card-img" [routerLink]="Resources.Course | resourceById:course.id">
      <img class="card-img-top img-fluid" src="{{ course.logo }}" alt="Course logo"/>
    </a>
  } @else {
    <span class="card-img">
      <img class="card-img-top img-fluid" src="{{ course.logo }}" alt="Course logo"/>
    </span>
  }
  <div class="card-body">
    <div class="row justify-content-end">
      <div class="col">
        <div class="reviews">
          <span placement="top" ngbTooltip="{{ course.rating }}" container="body" class="rating">
            <ngb-rating [(rate)]="course.rating" [max]="5" [readonly]="true" class="outline-none"/>
          </span>
          ({{ course.rating }})
        </div>
      </div>
      <div class="col text-end">
        <span class="badge badge-{{ course.levelColor }}">
          {{ course.levelDisplay }}
        </span>
      </div>
    </div>
    <h5 class="card-title mt-2">
      @if (!course.inThePipeline) {
        <a [routerLink]="Resources.Course | resourceById:course.id">
          {{ course.title }}
        </a>
      } @else {
        <span>
          {{ course.title }}
        </span>
      }
    </h5>
    <div class="d-flex pt-1">
      <div class="flex-grow-1">
        <div [innerHTML]="course.descriptionShort"></div>
        <div class="tags mt-2">
          @for (tag of course.tags; track tag) {
            <span class="badge bg-primary badge-pill">
              {{ tag.name }}
            </span>
          }
        </div>
        <div class="meta-info d-flex justify-content-between">
          <hr/>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center text-primary">
              <i [data-feather]="'comment' | iconName" class="font-medium-1 me-1"></i>
              <span ngbTooltip="{{ 'Courses.Reviews' | translate }}"
                    class="fw-medium pe-1">{{ course.reviewsCount }}</span>
              <i [data-feather]="'user' | iconName" class="font-medium-1 me-1"></i>
              <span ngbTooltip="{{ 'Courses.Participants' | translate }}"
                    class="fw-medium pe-1">{{ course.participantsCount }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    @if (course.inThePipeline) {
      <span class="badge bg-info">
        <i data-feather="tool"></i> {{ 'Courses.InThePipeline' | translate }}
      </span>
    } @else {
      <div>
        <a [routerLink]="Resources.CourseFirstLesson | resourceById:course.id" class="btn btn-sm full-width btn-primary">
          @if (!course.isStarted) {
            <span>{{ 'Courses.Start' | translate }}</span>
          }
          @if (course.isStarted) {
            <span> {{ 'Courses.Continue' | translate }}</span>
          }
        </a>
        @if (course.isStarted) {
          <div class="mt-2 progress-wrapper">
            <div class="mb-1">{{ 'Courses.Progress' | translate }}: {{ course.participantProgress }}%</div>
            <ngb-progressbar type="primary" [value]="course.participantProgress"></ngb-progressbar>
          </div>
        }
      </div>
    }
  </div>
</kep-card>
