<kep-card [formGroup]="form">
  <div class="card-header">
    <div class="card-title">
      <kep-icon name="filter"/>
      {{ 'Filter' | translate }}
    </div>

    <div class="filter-actions">
      <button
        (click)="myAttemptsClick()"
        class="btn btn-outline-primary btn-sm"
        type="button">
        {{ 'MyAttempts' | translate }}
      </button>

      <button
        (click)="refresh.emit()"
        class="btn btn-outline-primary btn-sm d-flex align-items-center"
        ngbTooltip="{{ 'Reload' | translate }}"
        type="button">
        <kep-icon name="arrows-circle" size="small-4" class=""/>
      </button>

      <button
        (click)="filterClear()"
        class="btn btn-outline-primary btn-sm align-items-center d-flex"
        ngbTooltip="{{ 'Clear' | translate }}"
        type="button">
        <kep-icon name="cross" size="small-4" class=""/>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6 col-lg-3">
        <div class="mb-1">
          <label class="text-primary">
            <kep-icon name="problem" size="small-4"/>
            {{ 'Problem' | translate }}
          </label>

          <problems-autocomplete formControlName="problemId"/>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="mb-1">
          <label class="text-primary">
            <kep-icon name="username" size="small-4"/>
            {{ 'User' | translate }}
          </label>

          <users-autocomplete formControlName="username"/>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="mb-1">
          <label class="text-primary">
            <kep-icon name="lang" size="small-4"/>
            {{ 'Language' | translate }}
          </label>

          <ng-select
            appendTo="body"
            [searchable]="false"
            [clearable]="true"
            formControlName="lang">
            @for (item of langOptions; track item.lang) {
              <ng-option [value]="item.lang">
                <attempt-language [size]="24" [lang]="item.lang"/>
                {{ item.langFull }}
              </ng-option>
            }
          </ng-select>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="mb-1">
          <label class="text-primary">
            <kep-icon name="verdict" size="small-4"/>
            {{ 'Verdict' | translate }}
          </label>
          <verdicts-select formControlName="verdict"/>
        </div>
      </div>
    </div>
  </div>
</kep-card>
