<div class="problem-description">
  <div class="problem-title">
    <h3 class="mb-2 text-dark">
      {{ problem.id }}. {{ problem.title }}

      @if (isAuthenticated) {
        <span
          class="cursor-pointer"
          (click)="toggleFavorite()"
          [ngbTooltip]="problem.userInfo.isFavorite ? ('RemoveFromFavorites' | translate) : ('AddToFavorites' | translate)">
          @if (favoriteLoading) {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          } @else {
            @if (problem.userInfo.isFavorite) {
              <kep-icon name="star" type="solid" color="warning"/>
            } @else {
              <kep-icon name="star" color="warning"/>
            }
          }
        </span>
      }
    </h3>
  </div>

<!--  <div class="meta-info d-flex gap-1">-->
<!--    <span class="badge bg-info">-->
<!--      {{ selectedAvailableLang.timeLimit || problem.timeLimit }} {{ 'Ms' | translate }}-->
<!--    </span>-->

<!--    <span class="badge bg-primary">-->
<!--      {{ selectedAvailableLang.memoryLimit || problem.memoryLimit }} {{ 'Mb' | translate }}-->
<!--    </span>-->

<!--    <span class="badge bg-{{ problem.difficulty | problemDifficultyColor }}">-->
<!--      {{ problem.difficultyTitle }}-->
<!--    </span>-->

<!--    <user-popover [customContent]="true" [username]="problem.authorUsername">-->
<!--      <img width="24" height="24" class="round me-1" alt="user-avater" [src]="problem.authorAvatar">-->
<!--      {{ problem.authorUsername }}-->
<!--    </user-popover>-->
<!--  </div>-->

  <problem-body [problem]="problem"></problem-body>

  <div ngbAccordion>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          {{ 'Tags' | translate }}
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div class="p-1">
          @if (currentUser?.isSuperuser || currentUser?.permissions.canChangeProblemTags && problem.userInfo.hasSolved) {
            <div class="d-flex gap-50">
              @for (tag of problem.tags; track tag.id) {
                <button
                  (click)="removeTag(tag)"
                  class="btn btn-primary mb-1 btn-sm">
                  {{ tag.name }} <i data-feather="x"></i>
                </button>
              }
            </div>

            <ng-select
              [(ngModel)]="selectedTag"
              [dropdownPosition]="'bottom'"
              [items]="tags"
              appendTo="body"
              bindLabel="name"
              bindValue="id">
            </ng-select>

            <button (click)="addTag()" class="mt-2 btn btn-primary btn-sm">{{ 'Add' | translate }}</button>
          } @else {
            <span *ngFor="let tag of problem.tags" class="badge badge-pill bg-primary">
              {{ tag.name }}
            </span>
          }
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="problem.hasSolution" ngbAccordion>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          {{ 'Solution' | translate }}
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div class="p-1">
          @if (currentUser?.isSuperuser || problem.userInfo?.canViewSolution) {
            <button (click)="openSolutionModal(solution)" class="btn btn-sm btn-primary">
              {{ 'View' | translate }}
            </button>
          } @else {
            <kepcoin-spend-swal
              (success)="onPurchaseSolution()"
              [purchaseUrl]="'problems/' + problem.id + '/purchase-solution/'"
              [value]="problem.solutionKepcoinValue">
            </kepcoin-spend-swal>
          }
        </div>
      </div>
    </div>
  </div>

  <ng-template #solution let-modal>
    <div *ngIf="problem.hasSolution" class="modal-header">
      <h4 class="modal-title">{{ 'Solution' | translate }}</h4>
    </div>
    <div class="modal-body">
      <div [innerHTML]="problemSolution.solution"></div>
      <ul #nav="ngbNav" class="nav-tabs" ngbNav>
        <li *ngFor="let code of problemSolution.codes; let i = index" [ngbNavItem]="i+1">
          <a ngbNavLink>{{ code.lang }}</a>
          <ng-template ngbNavContent>
            <clipboard-button [text]="code.code"></clipboard-button>
            <div class="mb-1"></div>
            <monaco-editor [(ngModel)]="code.code" [lang]="code.lang"></monaco-editor>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </ng-template>
