<div class="table-responsive">
  <table class="table attempts-table">
    <thead>
    <tr class="bg-gradient-primary">
      <th>ID</th>
      <th>{{ 'When' | translate }}</th>
      <th>{{ 'Hacker' | translate }}</th>
      <th>{{ 'Defender' | translate }}</th>
      <th>{{ 'Attempt' | translate }}</th>
      <th>{{ 'Problem' | translate }}</th>
      <th>{{ 'Verdict' | translate }}</th>
      @if (currentUser?.isSuperuser) {
        <th></th>
      }
    </tr>
    </thead>
    <tbody>
      @for (hackAttempt of hackAttempts; track identify(i, hackAttempt); let i = $index) {
        <tr

          [ngClass]="{'bg-primary-transparent': hackAttempt.hackerUsername == currentUser?.username}">
          <td>
            {{ hackAttempt.id }}
          </td>
          <td>
            <span class="badge bg-success-transparent text-center">
              {{ hackAttempt.created | date:"yyyy/MM/dd HH:mm:ss" }}
            </span>
          </td>
          <td>
            <contestant-view [user]="{
          username: hackAttempt.hackerUsername,
          ratingTitle: hackAttempt.hackerRatingTitle
        }"></contestant-view>
          </td>
          <td>
            <contestant-view [user]="{
          username: hackAttempt.defenderUsername,
          ratingTitle: hackAttempt.defenderRatingTitle
         }"></contestant-view>
          </td>
          <td>
            {{ hackAttempt.attemptId }}
          </td>
          <td>
            <a [routerLink]="Resources.Problem | resourceById:hackAttempt.problemId" class="text-primary">
              {{ hackAttempt.problemId }}. {{ hackAttempt.problemTitle }}
            </a>
          </td>
          <td>
            <span class="badge badge-{{ hackAttempt | hackAttemptVerdictColor }}">
              {{ hackAttempt.verdictTitle }} @if (hackAttempt.hackType) {
              <span> | {{ hackAttempt.hackType }}</span>
            }
            </span>
          </td>
          @if (currentUser?.isSuperuser) {
            <td>
              <button (click)="rerun(hackAttempt.id)" class="btn btn-sm round btn-primary">
                <i data-feather="refresh-cw"></i>
              </button>
            </td>
          }
        </tr>
      }
    </tbody>

    <tfoot>
    <tr>
      <th>ID</th>
      <th>{{ 'When' | translate }}</th>
      <th>{{ 'Hacker' | translate }}</th>
      <th>{{ 'Defender' | translate }}</th>
      <th>{{ 'Attempt' | translate }}</th>
      <th>{{ 'Problem' | translate }}</th>
      <th>{{ 'Verdict' | translate }}</th>
      @if (currentUser?.isSuperuser) {
        <th></th>
      }
    </tr>
    </tfoot>
  </table>
</div>
