@import 'styles/kep-imports';

//.challenges-section-header.card {
//  background: rgba(var(--primary-rgb), 0.8);
//
//  @include dark-layout {
//    background: rgba(var(--primary-rgb), 0.5);
//  }
//
//  .card-footer {
//    border-color: rgba(var(--primary-rgb), 0.1);
//  }
//
//  .text-blue, .text-primary {
//    color: $light !important;
//  }
//}

.useful-links {
  display: flex;
  margin-bottom: 2rem;

  .btn {
    width: 100%;
  }
}
