<app-content-header [contentHeader]="contentHeader">
  <div class="d-flex gap-1" [ngClass.lt-md]="'d-flex'">
    <a routerLink="rating" class="btn btn-primary-light" [ngClass.lt-md]="'btn-sm'">
      <kep-icon name="ranking" class="font-medium-1"></kep-icon>
      <span [ngClass.lt-md]="'d-none'">
        {{ 'Rating' | translate }}
      </span>
    </a>
    <a routerLink="user-statistics" class="btn btn-primary-light" [ngClass.lt-md]="'btn-sm'">
      <kep-icon name="statistics" class="font-medium-1"></kep-icon>
      <span [ngClass.lt-md]="'d-none'">
        {{ 'Statistics' | translate }}
      </span>
    </a>
  </div>
</app-content-header>

<kep-card [cardHeight]="'130px'" *ngIf="isAuthenticated">
  @if (isLoading) {
    <ngx-skeleton-loader
      count="1"
      animation="pulse"
      appearance="line"
      [theme]="{height: '105px', 'margin-top': '0.75rem', background: 'var(--skeleton-color)'}"
    ></ngx-skeleton-loader>
  } @else {
    @if (challengesRating) {
      <div class="card-header">
        <challenges-user-view [light]="false" [withRating]="true" [user]="challengesRating"></challenges-user-view>
      </div>

      <div class="card-footer text-center">
        <div class="font-medium-4 d-flex justify-content-between">
          <div class="text-dark" [ngClass.lt-md]="'font-small-4'" [ngClass.gt-sm]="'font-medium-2'">
            <span class="text-success" ngbTooltip="{{ 'Wins' | translate }}">W</span>
            {{ challengesRating.wins }}
            <br>
            <span class="text-success">{{ Math.trunc(100 * challengesRating.wins / challengesRating.all) }} %</span>
          </div>
          <div class="text-dark" [ngClass.lt-md]="'font-small-4'" [ngClass.gt-sm]="'font-medium-2'">
            <span class="ms-1 text-secondary" ngbTooltip="{{ 'Draws' | translate }}">D</span>
            {{ challengesRating.draws }}
            <br>
            <span class="text-secondary">{{ Math.trunc(100 * challengesRating.draws / challengesRating.all) }} %</span>
          </div>
          <div class="text-dark" [ngClass.lt-md]="'font-small-4'" [ngClass.gt-sm]="'font-medium-2'">
            <span class="ms-1 text-danger" ngbTooltip="{{ 'Losses' | translate }}">L</span>
            {{ challengesRating.losses }}
            <br>
            <span class="text-danger">{{ Math.trunc(100 * challengesRating.losses / challengesRating.all) }} %</span>
          </div>
        </div>
      </div>
    }
  }
</kep-card>
