<div class="problem problem-{{ problem.id }}">
  <div class="mt-2 text-dark problem-body">
    @if (problem.id != 1637) {
      <mathjax [content]="problem.body"></mathjax>
    }
  </div>

  @if (problem.id == 1615) {
    <problem1615></problem1615>
  }
  @if (problem.id == 1623) {
    <problem1623></problem1623>
  }
  @if (problem.id == 1624) {
    <problem1624></problem1624>
  }
  @if (problem.id == 1628) {
    <problem1628></problem1628>
  }
  @if (problem.id == 1630) {
    <problem1630></problem1630>
  }
  @if (problem.id == 1631) {
    <problem1631></problem1631>
  }
  @if (problem.id == 1633) {
    <problem1633></problem1633>
  }
  @if (problem.id == 1634) {
    <problem1634></problem1634>
  }
  @if (problem.id == 1635) {
    <problem1635></problem1635>
  }
  @if (problem.id == 1637) {
    <problem1637></problem1637>
  }
  @if (problem.id == 1638) {
    <problem1638></problem1638>
  }
  @if (problem.id == 1639) {
    <problem1639></problem1639>
  }
  @if (problem.id == 1703) {
    <problem1703 [problem]="problem"></problem1703>
  }
  @if (problem.id == 1733) {
    <problem1733 [problem]="problem"></problem1733>
  }
  @if (problem.id == 1734) {
    <problem1734 [problem]="problem"></problem1734>
  }
  @if (problem.id == 1735) {
    <problem1735 [problem]="problem"></problem1735>
  }
  @if (problem.id == 1736) {
    <problem1736 [problem]="problem"></problem1736>
  }
  @if (problem.id == 1737) {
    <problem1737></problem1737>
  }
  @if (problem.id == 1739) {
    <problem1739 [problem]="problem"></problem1739>
  }
  @if (problem.id == 1740) {
    <problem1740 [problem]="problem"></problem1740>
  }
  @if (problem.id == 1741) {
    <problem1741 [problem]="problem"></problem1741>
  }
  @if (problem.id == 1742) {
    <problem1742 [problem]="problem"></problem1742>
  }
  @if (problem.id == 1743) {
    <problem1743 [problem]="problem"></problem1743>
  }
  @if (problem.id == 1744) {
    <problem1744 [problem]="problem"></problem1744>
  }
  @if (problem.id == 1840) {
    <problem1840 [problem]="problem"></problem1840>
  }
  @if (problem.id == 1841) {
    <problem1841 [problem]="problem"></problem1841>
  }
  @if (problem.id == 1842) {
    <problem1842></problem1842>
  }
  @if (problem.id == 1843) {
    <problem1843></problem1843>
  }
  @if (problem.id == 1869) {
    <problem1869></problem1869>
  }
  @if (problem.id == 1903) {
    <problem1903></problem1903>
  }
  @if (problem.id == 1905) {
    <problem1905></problem1905>
  }
  @if (problem.id == 1953) {
    <problem1953></problem1953>
  }
  @if (problem.id == 1954) {
    <problem1954></problem1954>
  }
  @if (problem.id == 1966) {
    <problem1966></problem1966>
  }

  <hr>

  @if (problem.inputData?.length > 0) {
    <h5 class="my-4 text-dark font-medium-5">
      {{ 'InputData' | translate }}:
    </h5>
    <mathjax class="text-dark" [content]="problem.inputData"></mathjax>
  }

  @if (problem.outputData?.length > 0) {
    <h5 class="my-4 text-dark font-medium-5">
      {{ 'OutputData' | translate }}:
    </h5>
    <mathjax class="text-dark" [content]="problem.outputData"></mathjax>
    <hr>
  }

  @if (problem.sampleTests.length > 0) {
    <h4 class="mt-2 mb-1 font-medium-5 text-dark">
      {{ 'SampleTests' | translate }}
    </h4>
    @for (sampleTest of problem.sampleTests; track sampleTest) {
      <div class="mt-2 mb-2 table-responsive">
        <table class="table sample-test">
          <thead>
          <tr>
            <th>
              <div class="d-flex justify-content-between align-items-center">
                <div class="font-small-4">
                  {{ 'Input' | translate }}
                </div>
                <clipboard-button [text]="sampleTest.input"/>
              </div>
            </th>
            <th>
              <div class="d-flex justify-content-between align-items-center">
                <div class="font-small-4">
                  {{ 'Output' | translate }}
                </div>
                <clipboard-button [text]="sampleTest.output"/>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="ps-2">
              <pre [innerText]="sampleTest.input"></pre>
            </td>
            <td class="ps-2">
              <pre [innerText]="sampleTest.output"></pre>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    }
  }

  @if (problem.comment?.length > 0) {
    <h4 class="mt-3 font-medium-4 text-dark">
      {{ 'Comment' | translate }}:
    </h4>
    <mathjax class="mt-2 text-dark" [content]="problem.comment"></mathjax>
    <hr>
  }

  @if (problem.id == 1870) {
    <problem1870></problem1870>
  }
</div>
