.sample-test th {
  border-radius: 2px;
}

textarea {
  resize: none;
}

table.sample-test {
  border-collapse: separate !important;
  border-spacing: 10px 0 !important;

  tr td:first-child {
    width: 50%;
  }

  tr td:nth-child(2) {
    width: 50%;
  }
}

.sample-test td {
  vertical-align: top !important;
  padding: 20px !important;
}

tr:first-child td,
th {
  border-bottom: none !important;
  border-top: none !important;
}

pre {
  background-color: transparent !important;
  border: none !important;
  padding: 0;
}

code {
  padding: 0px !important;
}

.dark-layout pre code {
  color: white !important;
}

.problem-body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

::ng-deep .problem-2173 .text-dark {
  color: transparent !important;
}

thead th {
  border-bottom: 1px solid var(--primary01) !important;
}
