<kep-card>
  <div class="card-header">
    <div class="card-title">
      {{ 'Facts' | translate }}
    </div>
  </div>
  <div class="card-body" *ngIf="facts">
    <ul class="list-group">
      <ng-container *ngFor="let factItem of factItems">
        <ng-container *ngIf="facts[factItem.key] as fact">
          <li class="list-group-item">
            <div class="fw-semibold">
              <i
                *ngIf="factItem.icon.type === 'feather'"
                class="fs-5"
                [attr.data-feather]="factItem.icon.name | iconName"
              ></i>
              <kep-icon
                *ngIf="factItem.icon.type === 'kep'"
                class="fs-5"
                [name]="factItem.icon.name"
              ></kep-icon>
              {{ factItem.translationKey | translate }}
            </div>

            <div>
              <ng-container [ngSwitch]="factItem.type">
                <ng-container *ngSwitchCase="'singleAttempt'">
                  <div class="fw-bold" [ngbTooltip]="facts.solvedWithSingleAttemptPercentage + '%'">
                    {{ fact }}
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'attempt'">
                  <a
                    [routerLink]="Resources.Problem | resourceById: fact.problemId"
                    [ngbTooltip]="attemptTooltip"
                  >
                    {{ fact.problemId }}. {{ fact.problemTitle }}
                  </a>
                  <ng-template #attemptTooltip>
                    <div class="mb-1">{{ fact.datetime | localizedDate:'medium' }}</div>
                    <div [innerHTML]="fact | attemptVerdictHTML"></div>
                  </ng-template>
                </ng-container>
                <ng-container *ngSwitchCase="'accepted'">
                  <a
                    [routerLink]="Resources.Problem | resourceById: fact.problemId"
                    [ngbTooltip]="acceptedTooltip"
                  >
                    {{ fact.problemId }}. {{ fact.problemTitle }}
                  </a>
                  <ng-template #acceptedTooltip>
                    {{ fact.datetime | localizedDate:'medium' }}
                  </ng-template>
                </ng-container>
                <ng-container *ngSwitchCase="'attemptCount'">
                  <a
                    [routerLink]="Resources.Problem | resourceById: fact.problemId"
                    [ngbTooltip]="fact.attemptsCount"
                  >
                    {{ fact.problemId }}. {{ fact.problemTitle }}
                  </a>
                </ng-container>
              </ng-container>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</kep-card>
