<ngx-countdown #countdown [time]="1000*60*60" [render]="render" format="HH:mm:ss" (finish)="finish()">
  <ng-template #render let-data>
    <div class="ps-lg-4 pe-lg-4 container d-flex justify-content-between">
      <div class="countdown text-center">
        <h5 class="clock-val">{{ data.fragments[0] }}</h5>
        <h5 class="clock-text">{{ 'Hour' | translate }}</h5>
      </div>

      <div class="countdown text-center">
        <h5 class="clock-val">{{ data.fragments[1] }}</h5>
        <h5 class="clock-text">{{ 'Minute' | translate }}</h5>
      </div>

      <div class="countdown text-center">
        <h5 class="clock-val">{{ data.fragments[2] }}</h5>
        <h5 class="clock-text">{{ 'Second' | translate }}</h5>
      </div>
    </div>
  </ng-template>
</ngx-countdown>
