@if (lessonPart.contentType == 'lecture') {
  <part-lecture
    [lecture]="lessonPart.content"
    [lessonPartId]="lessonPart.id"
    [lessonPartStatus]="lessonPart.status"
    (checkCompletionEvent)="checkCompletionEvent($event)"
  ></part-lecture>
}

@if (lessonPart.contentType == 'question') {
  <part-question
    [question]="lessonPart.content"
    [lessonPartId]="lessonPart.id"
    (checkCompletionEvent)="checkCompletionEvent($event)"
  ></part-question>
}

@if (lessonPart.contentType == 'problem') {
  <part-problem
    [problem]="lessonPart.content"
    [lessonPartId]="lessonPart.id"
    (checkCompletionEvent)="checkCompletionEvent($event)"
  ></part-problem>
}
